In [1]:
#Import all libraries for data cleaning and merging
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from thefuzz import process
from fuzzywuzzy import fuzz

#Pandas settings
pd.set_option('display.max_rows',500)
pd.set_option('display.max_columns',500)

In [2]:
#Read in all multistat datafiles
#I have already moved the site tabs to the front & simplified column headings in Excel 
ms19 = pd.read_excel('data/2019-ms.xlsx')
ms21 = pd.read_excel('data/2021-ms.xlsx')
ms22 = pd.read_excel('data/2022-ms.xlsx')

#Read in all LEAP data
leap19 = pd.read_excel('data/2019-leap.xlsx')
leap21 = pd.read_excel('data/2021-leap.xlsx')
leap22 = pd.read_excel('data/2022-leap.xlsx')

In [3]:
#Dealing with multistats first
#Preview size of all files
print(ms19.shape)
print(ms21.shape)
print(ms22.shape)

(1414, 40)
(1399, 41)
(1394, 41)

In [4]:
ms19.head()

,School System,School System Name,SiteCd,FedSiteCd,SiteName,Total Students,%Female,%Male,AmInd,Asian,Black,Hispanic,HawPI,White,Multiple,Minority,%Fully-EP,%LEP,Infants SpEd,PreSchool SpEd,PreK,Kindergarten,Grade1,Grade2,Grade3,Grade4,Grade5,Grade6,Grade7,Grade8,Grade9,GradeT9,Grade10,Grade11,Grade12,ED%,Nonprofit,Charter Type,RollUpType,Parish Code
0,001,Acadia Parish,001001,001001,Armstrong Middle School,341,0.422287,0.577713,0,1,146,12,0,166,16,175,0.991202,0.008798,0,0,0,0,0,0,0,0,0,112,125,104,0,0,0,0,0,0.791789,NaN,NaN,NaN,1.0
1,001,Acadia Parish,001002,001002,Branch Elementary School,277,0.494585,0.505415,0,0,20,9,0,240,8,37,0.985560,0.014440,0,1,19,35,28,31,31,35,25,24,27,21,0,0,0,0,0,0.545126,NaN,NaN,NaN,1.0
2,001,Acadia Parish,001003,001003,Central Rayne Kindergarten School,215,0.506977,0.493023,0,0,85,1,0,111,18,104,1.000000,0.000000,0,12,68,135,0,0,0,0,0,0,0,0,0,0,0,0,0,0.786047,NaN,NaN,NaN,1.0
3,001,Acadia Parish,001004,001004,Church Point Elementary School,587,0.459966,0.540034,4,0,237,47,0,243,56,344,0.991482,0.008518,0,3,55,88,79,91,91,90,90,0,0,0,0,0,0,0,0,0.850085,NaN,NaN,NaN,1.0
4,001,Acadia Parish,001005,001005,Church Point High School,514,0.482490,0.517510,2,0,151,19,0,317,25,197,0.996109,0.003891,0,0,0,0,0,0,0,0,0,0,0,0,125,27,137,127,98,0.614786,NaN,NaN,NaN,1.0

In [5]:
#Grabbing all variations of Orleans Parish before I filter
ms19['School System Name'].value_counts()

East Baton Rouge Parish                          86
Jefferson Parish                                 85
All Orleans                                      79
Caddo Parish                                     64
Calcasieu Parish                                 60
St. Tammany Parish                               56
Rapides Parish                                   47
Livingston Parish                                44
Lafayette Parish                                 44
Type 2 Charters                                  43
Ouachita Parish                                  37
Tangipahoa Parish                                35
Bossier Parish                                   34
St. Landry Parish                                34
Terrebonne Parish                                33
Acadia Parish                                    32
Lafourche Parish                                 31
Ascension Parish                                 28
Iberia Parish                                    26
St. Mary Parish                                  22
Vermilion Parish                                 21
City of Monroe School District                   20
Vernon Parish                                    19
St. Martin Parish                                17
St. Charles Parish                               17
Natchitoches Parish                              15
Lincoln Parish                                   15
Jefferson Davis Parish                           14
Webster Parish                                   14
Special School District                          13
St. Bernard Parish                               13
Richland Parish                                  12
Evangeline Parish                                12
Beauregard Parish                                12
Concordia Parish                                 11
Washington Parish                                11
Avoyelles Parish                                 11
St. John the Baptist Parish                      11
Allen Parish                                     11
West Baton Rouge Parish                          10
Sabine Parish                                    10
Bienville Parish                                  9
DeSoto Parish                                     9
Assumption Parish                                 9
LaSalle Parish                                    9
Grant Parish                                      9
Plaquemines Parish                                8
Zachary Community School District                 8
Caldwell Parish                                   8
Franklin Parish                                   7
St. James Parish                                  7
East Feliciana Parish                             7
Iberville Parish                                  7
RSD-Baton Rouge                                   7
Claiborne Parish                                  7
Morehouse Parish                                  6
Catahoula Parish                                  6
Pointe Coupee Parish                              6
Central Community School District                 6
Winn Parish                                       6
Madison Parish                                    6
West Carroll Parish                               5
City of Baker School District                     5
West Feliciana Parish                             5
Jackson Parish                                    5
City of Bogalusa School District                  4
Union Parish                                      4
Red River Parish                                  4
St. Helena Parish                                 4
Cameron Parish                                    4
East Carroll Parish                               3
Southern University Lab School                    2
Office of Juvenile Justice                        2
Tensas Parish                                     2
LA Schools for the Deaf and Visually Impaired     2
RSD-Direct Run                                    1
Thrive Academy                                    1
Louisiana Special Education Center                1
Louisiana School for Math Science & the Arts      1
New Orleans Center for Creative Arts              1
LSU Laboratory School                             1
Name: School System Name, dtype: int64

In [6]:
ms19.loc[ms19['School System Name'] == 'RSD-Direct Run']

,School System,School System Name,SiteCd,FedSiteCd,SiteName,Total Students,%Female,%Male,AmInd,Asian,Black,Hispanic,HawPI,White,Multiple,Minority,%Fully-EP,%LEP,Infants SpEd,PreSchool SpEd,PreK,Kindergarten,Grade1,Grade2,Grade3,Grade4,Grade5,Grade6,Grade7,Grade8,Grade9,GradeT9,Grade10,Grade11,Grade12,ED%,Nonprofit,Charter Type,RollUpType,Parish Code
1337,RLA,RSD-Direct Run,396211,396211,Linwood Charter School,980,0.540816,0.459184,0,0,949,19,0,7,5,973,0.987755,0.012245,0,0,20,122,120,109,120,115,72,104,99,99,0,0,0,0,0,0.965306,NaN,NaN,RLA,9.0

In [7]:
#Ignoring Linwood as it is in Shreveport and ignoring NOCCA as it is a Type 2 Charter
#Let's pull Orleans parish schools only
#Starting with SY19 
nolams19 = ms19.loc[(ms19['School System Name'] == 'All Orleans')]

In [8]:
nolams19.shape

(79, 40)

In [9]:
#Repeating process for SY21 ms file
ms21.head()

,School System,School System Name,SIS Submit Site Code,Federal Reporting Site Code,Site Name,Total Enrollment,% Female,% Male,American Indian,Asian,Black,Hispanic,Hawaiian/Pacific Islander,White,Multiple Races (Non-Hispanic),Minority,% Fully English Proficient,% Limited English Proficient,Infants (Sp Ed),Pre-School (Sp Ed),Pre-K (Reg Ed),Kindergarten,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade T9,Grade 10,Grade 11,Grade 12,Extension Academy,% Economically Disadvantaged,Nonprofit Organization,Charter Type,School System Roll Up Type,Parish Code
0,School System,School System Name,SiteCd,FedSiteCd,SiteName,Total Students,%Female,%Male,AmInd,Asian,Black,Hispanic,HawPI,White,Multiple,Minority,%Fully-EP,%LEP,Infants SpEd,PreSchool SpEd,PreK,Kindergarten,Grade1,Grade2,Grade3,Grade4,Grade5,Grade6,Grade7,Grade8,Grade9,GradeT9,Grade10,Grade11,Grade12,Extension Academy,ED%,Nonprofit,Charter Type,RollUpType,Parish Code
1,001,Acadia Parish,001001,001001,Armstrong Middle School,337,0.51632,0.48368,1,0,157,9,0,145,25,192,0.991098,0.00890208,0,0,0,0,0,0,0,0,0,131,96,110,0,0,0,0,0,0,0.878338,NaN,NaN,NaN,01
2,001,Acadia Parish,001002,001002,Branch Elementary School,348,0.494253,0.505747,0,1,28,16,0,290,13,58,0.994253,0.00574713,0,1,19,33,48,39,39,39,30,40,37,23,0,0,0,0,0,0,0.600575,NaN,NaN,NaN,01
3,001,Acadia Parish,001003,001003,Central Rayne Kindergarten School,196,0.484694,0.515306,2,1,78,7,0,101,7,95,0.989796,0.0102041,0,6,56,134,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.826531,NaN,NaN,NaN,01
4,001,Acadia Parish,001004,001004,Church Point Elementary School,577,0.471404,0.528596,3,0,248,48,0,240,38,337,0.982669,0.017331,0,4,58,90,96,85,91,79,74,0,0,0,0,0,0,0,0,0,0.908146,NaN,NaN,NaN,01

In [10]:
ms21['School System Name'].value_counts()

East Baton Rouge Parish                          82
Jefferson Parish                                 81
Orleans Parish                                   77
Calcasieu Parish                                 61
Caddo Parish                                     59
St. Tammany Parish                               57
Rapides Parish                                   51
Lafayette Parish                                 46
Livingston Parish                                44
Type 2 Charters                                  39
Ouachita Parish                                  37
Bossier Parish                                   35
Tangipahoa Parish                                34
St. Landry Parish                                33
Terrebonne Parish                                32
Acadia Parish                                    32
Lafourche Parish                                 32
Ascension Parish                                 31
Iberia Parish                                    24
St. Mary Parish                                  22
Vermilion Parish                                 21
City of Monroe School District                   20
Vernon Parish                                    19
St. Charles Parish                               17
St. Martin Parish                                17
Lincoln Parish                                   15
Webster Parish                                   15
Natchitoches Parish                              14
Jefferson Davis Parish                           14
St. Bernard Parish                               13
Allen Parish                                     12
Evangeline Parish                                12
Richland Parish                                  12
Beauregard Parish                                12
Washington Parish                                11
St. John the Baptist Parish                      11
Avoyelles Parish                                 11
Concordia Parish                                 11
Sabine Parish                                    10
West Baton Rouge Parish                          10
DeSoto Parish                                    10
Grant Parish                                      9
Special School District                           9
Assumption Parish                                 9
LaSalle Parish                                    9
Bienville Parish                                  9
Zachary Community School District                 8
Plaquemines Parish                                8
Caldwell Parish                                   8
Franklin Parish                                   7
East Feliciana Parish                             7
St. James Parish                                  7
Iberville Parish                                  7
Claiborne Parish                                  7
Recovery School District - Baton Rouge            6
Winn Parish                                       6
Pointe Coupee Parish                              6
Morehouse Parish                                  6
Central Community School District                 6
Catahoula Parish                                  5
Cameron Parish                                    5
Madison Parish                                    5
West Carroll Parish                               5
Jackson Parish                                    5
Red River Parish                                  5
Union Parish                                      4
City of Bogalusa School District                  4
City of Baker School District                     4
West Feliciana Parish                             4
St. Helena Parish                                 4
East Carroll Parish                               3
Office of Juvenile Justice                        3
Tensas Parish                                     2
Southern University Lab School                    2
LA Schools for the Deaf and Visually Impaired     2
Louisiana School for Math Science & the Arts      1
New Orleans Center for Creative Arts              1
Thrive Academy                                    1
School System Name                                1
Recovery School District - Louisiana              1
LSU Laboratory School                             1
Name: School System Name, dtype: int64

In [11]:
ms21.loc[ms21['School System Name'] == 'Recovery School District - Louisiana']

,School System,School System Name,SIS Submit Site Code,Federal Reporting Site Code,Site Name,Total Enrollment,% Female,% Male,American Indian,Asian,Black,Hispanic,Hawaiian/Pacific Islander,White,Multiple Races (Non-Hispanic),Minority,% Fully English Proficient,% Limited English Proficient,Infants (Sp Ed),Pre-School (Sp Ed),Pre-K (Reg Ed),Kindergarten,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade T9,Grade 10,Grade 11,Grade 12,Extension Academy,% Economically Disadvantaged,Nonprofit Organization,Charter Type,School System Roll Up Type,Parish Code
1397,RLA,Recovery School District - Louisiana,396211,396211,Linwood Charter School,965,0.518135,0.481865,0,0,914,39,0,3,9,962,0.974093,0.0259067,0,0,30,95,108,103,110,99,103,122,103,92,0,0,0,0,0,0,0.972021,NaN,NaN,RLA,09

In [12]:
nolams21 = ms21.loc[ms21['School System Name'] == 'Orleans Parish']

In [13]:
#One more time for SY 22 multistat file
ms22.head()

,School System,School System Name,SIS Submit Site Code,Federal Reporting Site Code,Site Name,Total Enrollment,% Female,% Male,American Indian,Asian,Black,Hispanic,Hawaiian/Pacific Islander,White,Multiple Races (Non-Hispanic),Minority,% Fully English Proficient,% Limited English Proficient,Infants (Sp Ed),Pre-School (Sp Ed),Pre-K (Reg Ed),Kindergarten,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade T9,Grade 10,Grade 11,Grade 12,Extension Academy,% Economically Disadvantaged,Nonprofit Organization,Charter Type,School System Roll Up Type,Parish Code
0,School System,School System Name,SiteCd,FedSiteCd,SiteName,Total Students,%Female,%Male,AmInd,Asian,Black,Hispanic,HawPI,White,Multiple,Minority,%Fully-EP,%LEP,Infants SpEd,PreSchool SpEd,PreK,Kindergarten,Grade1,Grade2,Grade3,Grade4,Grade5,Grade6,Grade7,Grade8,Grade9,GradeT9,Grade10,Grade11,Grade12,Extension Academy,ED%,Nonprofit,Charter Type,RollUpType,Parish Code
1,001,Acadia Parish,001001,001001,Armstrong Middle School,338,0.455621,0.544379,0,1,160,10,0,143,24,195,0.997041,0.00295858,0,0,0,0,0,0,0,0,0,129,117,92,0,0,0,0,0,0,0.828402,NaN,NaN,NaN,01
2,001,Acadia Parish,001002,001002,Branch Elementary School,353,0.470255,0.529745,0,1,39,14,0,288,11,65,0.994334,0.00566572,0,3,17,36,36,48,38,39,39,32,36,29,0,0,0,0,0,0,0.563739,NaN,NaN,NaN,01
3,001,Acadia Parish,001003,001003,Central Rayne Kindergarten School,204,0.514706,0.485294,3,1,82,8,0,95,15,109,0.990196,0.00980392,0,5,71,128,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.808824,NaN,NaN,NaN,01
4,001,Acadia Parish,001004,001004,Church Point Elementary School,601,0.450915,0.549085,3,1,255,51,0,250,41,351,0.973378,0.0266223,0,6,54,104,91,91,84,88,83,0,0,0,0,0,0,0,0,0,0.851913,NaN,NaN,NaN,01

In [14]:
ms22['School System Name'].value_counts()

East Baton Rouge Parish                          84
Jefferson Parish                                 82
Orleans Parish                                   77
Calcasieu Parish                                 60
Caddo Parish                                     59
St. Tammany Parish                               56
Rapides Parish                                   48
Lafayette Parish                                 46
Livingston Parish                                44
Type 2 Charters                                  40
Ouachita Parish                                  37
Bossier Parish                                   35
Tangipahoa Parish                                34
St. Landry Parish                                34
Lafourche Parish                                 32
Ascension Parish                                 32
Acadia Parish                                    32
Terrebonne Parish                                31
Iberia Parish                                    24
St. Mary Parish                                  22
Vermilion Parish                                 21
City of Monroe School District                   20
Vernon Parish                                    19
St. Charles Parish                               17
St. Martin Parish                                16
Lincoln Parish                                   15
Jefferson Davis Parish                           14
Webster Parish                                   14
Natchitoches Parish                              14
St. Bernard Parish                               13
Richland Parish                                  12
Beauregard Parish                                12
Evangeline Parish                                12
Concordia Parish                                 11
Washington Parish                                11
Avoyelles Parish                                 11
St. John the Baptist Parish                      11
Allen Parish                                     11
DeSoto Parish                                    10
Sabine Parish                                    10
West Baton Rouge Parish                          10
Assumption Parish                                 9
LaSalle Parish                                    9
Grant Parish                                      9
Bienville Parish                                  9
Caldwell Parish                                   8
Special School District                           8
Plaquemines Parish                                8
Zachary Community School District                 8
Franklin Parish                                   7
St. James Parish                                  7
Iberville Parish                                  7
Claiborne Parish                                  7
Recovery School District - Baton Rouge            6
Winn Parish                                       6
Pointe Coupee Parish                              6
East Feliciana Parish                             6
Central Community School District                 6
Catahoula Parish                                  5
Cameron Parish                                    5
Madison Parish                                    5
West Carroll Parish                               5
Jackson Parish                                    5
Morehouse Parish                                  5
City of Bogalusa School District                  5
Red River Parish                                  5
Union Parish                                      4
City of Baker School District                     4
West Feliciana Parish                             4
St. Helena Parish                                 4
East Carroll Parish                               3
Office of Juvenile Justice                        3
Tensas Parish                                     2
Southern University Lab School                    2
LA Schools for the Deaf and Visually Impaired     2
Louisiana School for Math Science & the Arts      1
New Orleans Center for Creative Arts              1
Thrive Academy                                    1
Recovery School District - Louisiana              1
School System Name                                1
LSU Laboratory School                             1
Name: School System Name, dtype: int64

In [15]:
nolams22 = ms22.loc[ms22['School System Name'] == 'Orleans Parish']

In [16]:
#PLAN - 
#Merge LEAP and multistat files for each year (2019, 2021, 2022) -> 3 separate files
#Add years to each column heading
#Merge datafiles together, using an outer join

print(nolams19.shape)
print(nolams21.shape)
print(nolams22.shape)

(79, 40)
(77, 41)
(77, 41)

In [17]:
nolams19.head(79)

,School System,School System Name,SiteCd,FedSiteCd,SiteName,Total Students,%Female,%Male,AmInd,Asian,Black,Hispanic,HawPI,White,Multiple,Minority,%Fully-EP,%LEP,Infants SpEd,PreSchool SpEd,PreK,Kindergarten,Grade1,Grade2,Grade3,Grade4,Grade5,Grade6,Grade7,Grade8,Grade9,GradeT9,Grade10,Grade11,Grade12,ED%,Nonprofit,Charter Type,RollUpType,Parish Code
746,R36,All Orleans,036011,036011,Mary Bethune Elementary Literature/Technology,688,0.521802,0.478198,0,2,669,15,0,2,0,686,0.985465,0.014535,0,2,38,78,78,80,81,79,82,54,55,61,0,0,0,0,0,0.818314,NaN,NaN,R36,36.0
747,R36,All Orleans,036035,036035,Warren Easton Senior High School,991,0.514632,0.485368,0,0,960,25,0,1,5,990,0.984864,0.015136,0,0,0,0,0,0,0,0,0,0,0,0,229,15,247,245,255,0.784057,"Warren Easton Senior High School Foundation, Inc.",Type 3,R36,36.0
748,R36,All Orleans,036060,036060,Edward Hynes Charter School,717,0.525802,0.474198,0,32,252,30,0,361,42,356,0.967922,0.032078,0,17,0,83,84,79,79,72,80,77,76,70,0,0,0,0,0,0.350070,Hynes Charter School Corporation,Type 3,R36,36.0
749,R36,All Orleans,036088,036088,McDonogh #35 College Preparatory School,445,0.442697,0.557303,0,1,442,2,0,0,0,445,0.995506,0.004494,0,0,0,0,0,0,0,0,0,0,0,0,10,0,146,107,182,0.887640,NaN,NaN,R36,36.0
750,R36,All Orleans,036132,036132,Youth Study Center,106,0.056604,0.943396,0,0,104,2,0,0,0,106,0.990566,0.009434,0,0,0,0,0,0,0,0,0,0,0,4,35,0,32,14,21,0.896226,NaN,NaN,R36,36.0
751,R36,All Orleans,036161,036161,Benjamin Franklin Elem. Math and Science,797,0.494354,0.505646,2,7,742,13,2,24,7,773,0.984944,0.015056,0,26,16,74,78,82,82,83,88,93,87,88,0,0,0,0,0,0.751568,NaN,NaN,R36,36.0
752,R36,All Orleans,036189,036189,Homer A. Plessy Community School,397,0.483627,0.516373,2,7,177,48,0,118,45,279,0.924433,0.075567,0,0,39,50,42,46,44,54,53,40,29,0,0,0,0,0,0,0.780856,Citizens' Committee for Education,Type 1,R36,36.0
753,R36,All Orleans,036192,036192,Foundation Preparatory,177,0.440678,0.559322,0,5,125,41,2,4,0,173,0.728814,0.271186,0,0,0,32,53,42,23,27,0,0,0,0,0,0,0,0,0,0.994350,Foundation Prep,Type 1,R36,36.0
754,R36,All Orleans,036193,036193,Cypress Academy,184,0.429348,0.570652,0,1,93,26,0,56,8,128,0.951087,0.048913,0,0,0,41,34,36,45,28,0,0,0,0,0,0,0,0,0,0.684783,Cypress Academy,Type 1,R36,36.0
755,R36,All Orleans,036197,036197,Elan Academy Charter School,143,0.468531,0.531469,0,1,116,6,0,11,9,132,0.965035,0.034965,0,0,18,33,48,22,22,0,0,0,0,0,0,0,0,0,0,0.783217,"Elan Academy, Inc.",Type 1,R36,36.0
756,R36,All Orleans,036198,036198,Rooted School,97,0.298969,0.701031,0,1,84,7,0,5,0,92,0.958763,0.041237,0,0,0,0,0,0,0,0,0,0,0,0,56,0,41,0,0,0.814433,Rooted School,Type 1,R36,36.0
757,R36,All Orleans,036700,036700,Orleans Central Office,269,0.394052,0.605948,0,8,187,12,0,53,9,216,1.000000,0.000000,0,269,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.620818,NaN,NaN,R36,36.0
1284,R36,All Orleans,300001,W12001,Pierre A. Capdau Charter School at Avery Alexa...,754,0.466844,0.533156,1,1,705,37,3,7,0,747,0.952255,0.047745,0,0,39,49,65,71,73,75,98,96,97,91,0,0,0,0,0,0.994695,New Beginnings Schools Foundation,type 3B,R36,36.0
1285,R36,All Orleans,300002,W11001,Nelson Elementary School,277,0.440433,0.559567,7,1,265,4,0,0,0,277,0.981949,0.018051,0,0,19,17,26,23,21,32,36,27,40,36,0,0,0,0,0,1.000000,New Beginnings Schools Foundation,Type 3B,R36,36.0
1286,R36,All Orleans,300003,W13001,John F. Kennedy High School,683,0.493411,0.506589,0,1,661,18,0,2,1,681,0.976574,0.023426,0,0,0,0,0,0,0,0,0,0,0,0,203,0,152,160,168,0.995608,New Beginnings Schools Foundation,type 3B,R36,36.0
1309,R36,All Orleans,360001,WAH001,The NET Charter High School,142,0.436620,0.563380,0,2,121,8,0,10,1,132,0.964789,0.035211,0,0,0,0,0,0,0,0,0,0,0,8,24,0,34,29,47,0.950704,Educators for Quality Alternatives,Type 3B,R36,36.0
1310,R36,All Orleans,360002,WZ9001,The NET 2 Charter High School,172,0.494186,0.505814,0,4,168,0,0,0,0,172,1.000000,0.000000,0,0,0,0,0,0,0,0,0,0,0,7,35,2,38,47,43,0.924419,Educators for Quality Alternatives,Type 3B,R36,36.0
1311,R36,All Orleans,363001,WAF001,Harriet Tubman Charter School,901,0.489456,0.510544,2,5,770,91,0,11,22,890,0.937847,0.062153,0,0,55,79,84,92,97,99,100,103,100,92,0,0,0,0,0,0.931188,Crescent City Schools,Type 3B,R36,36.0
1312,R36,All Orleans,363002,WAM001,Paul Habans Charter School,696,0.485632,0.514368,0,5,619,60,1,6,5,690,0.908046,0.091954,0,0,59,76,70,69,66,67,66,81,76,66,0,0,0,0,0,0.965517,Crescent City Schools,Type 3B,R36,36.0
1313,R36,All Orleans,364001,WAE001,Fannie C. Williams Charter School,577,0.497400,0.502600,0,3,521,52,0,0,1,577,0.911612,0.088388,0,3,37,48,62,67,74,74,58,51,51,52,0,0,0,0,0,0.998267,Community Leaders Advocating Student Success,Type 3B,R36,36.0
1314,R36,All Orleans,367001,WAB001,Edgar P. Harney Spirit of Excellence Academy,228,0.500000,0.500000,0,0,207,19,0,2,0,226,0.916667,0.083333,0,0,0,15,18,16,30,23,37,31,33,25,0,0,0,0,0,1.000000,"Spirit of Excellence Academy, Inc.",type 3B,R36,36.0
1315,R36,All Orleans,368001,WAA001,Morris Jeff Community School,1004,0.465139,0.534861,0,6,514,171,0,268,45,736,0.919323,0.080677,0,11,89,81,81,80,80,80,79,80,80,79,91,16,77,0,0,0.698207,Morris Jeff Community School,Type 3B,R36,36.0
1316,R36,All Orleans,369002,WZ2001,ReNEW SciTech Academy at Laurel,1043,0.459252,0.540748,0,5,943,67,0,23,5,1020,0.969319,0.030681,0,270,84,49,62,54,71,89,94,90,93,87,0,0,0,0,0,0.934803,ReNEW-Reinventing Education,Type 3B,R36,36.0
1317,R36,All Orleans,369003,WZ3001,ReNEW Dolores T. Aaron Elementary,810,0.495062,0.504938,0,1,770,33,0,5,1,805,0.960494,0.039506,0,2,49,77,81,86,81,93,95,91,88,67,0,0,0,0,0,0.961728,ReNEW-Reinventing Education,Type 3B,R36,36.0
1318,R36,All Orleans,369005,WZ5001,ReNEW Accelerated High School,230,0.478261,0.521739,1,0,206,21,0,2,0,228,0.908696,0.091304,0,0,0,0,0,0,0,0,0,0,0,0,36,0,45,52,97,0.934783,ReNEW-Reinventing Education,Type 3B,R36,36.0
1319,R36,All Orleans,369006,WZ6001,ReNEW Schaumburg Elementary,775,0.460645,0.539355,1,2,735,34,1,2,0,773,0.950968,0.049032,0,1,56,61,49,58,81,88,93,98,97,93,0,0,0,0,0,0.949677,ReNEW-Reinventing Education,Type 3B,R36,36.0
1320,R36,All Orleans,373001,WV1001,Arise Academy,495,0.450505,0.549495,0,0,481,8,0,5,1,490,0.989899,0.010101,0,0,0,43,28,51,53,54,75,63,75,53,0,0,0,0,0,0.979798,ARISE Academy,Type 3B,R36,36.0
1321,R36,All Orleans,373002,WV2001,Mildred Osborne Charter School,503,0.449304,0.550696,0,0,484,15,0,4,0,499,0.974155,0.025845,0,0,0,33,38,47,51,64,72,64,73,61,0,0,0,0,0,0.940358,Arise Academy,Type 3B,R36,36.0
1322,R36,All Orleans,374001,WU1001,Success Preparatory Academy,430,0.486047,0.513953,1,0,325,101,0,2,1,428,0.788372,0.211628,0,0,0,40,40,46,36,49,54,57,54,54,0,0,0,0,0,0.967442,Success Preparatory Academy,Type 3B,R36,36.0
1323,R36,All Orleans,381001,WI1001,Akili Academy of New Orleans,623,0.505618,0.494382,0,1,601,14,0,6,1,617,0.983949,0.016051,0,4,17,50,45,52,69,76,79,81,78,72,0,0,0,0,0,0.951846,Crescent City Schools,Type 3B,R36,36.0
1324,R36,All Orleans,382001,WJ1001,Abramson Sci Academy,588,0.474490,0.525510,2,26,531,16,2,8,3,580,0.928571,0.071429,0,0,0,0,0,0,0,0,0,0,0,0,137,25,162,145,119,1.000000,Collegiate Academies,type 3B,R36,36.0
1325,R36,All Orleans,382002,WJ2001,G W Carver High School,860,0.438372,0.561628,2,12,774,66,0,6,0,854,0.920930,0.079070,0,0,0,0,0,0,0,0,0,0,0,0,164,38,191,196,271,0.936047,Collegiate Academies,Type 3B,R36,36.0
1326,R36,All Orleans,382004,WJ4001,Livingston Collegiate Academy,482,0.524896,0.475104,1,2,450,22,0,7,0,475,0.973029,0.026971,0,0,0,0,0,0,0,0,0,0,0,0,151,26,163,142,0,1.000000,Collegiate Academies,Type 3B,R36,36.0
1327,R36,All Orleans,385002,WE2001,Walter L. Cohen College Prep,340,0.450000,0.550000,1,1,227,99,1,11,0,329,0.720588,0.279412,0,0,0,0,0,0,0,0,0,0,0,0,43,42,77,88,90,0.926471,New Orleans College Preparatory Academies,Type 3B,R36,36.0
1328,R36,All Orleans,385003,WE3001,Lawrence D. Crocker College Prep,548,0.489051,0.510949,0,1,461,80,0,4,2,544,0.861314,0.138686,0,2,38,56,58,43,54,70,57,58,54,58,0,0,0,0,0,0.939781,New Orleans College Preparatory Academies,Type 3B,R36,36.0
1330,R36,All Orleans,390001,W21001,James M. Singleton Charter School,424,0.504717,0.495283,0,0,384,38,0,2,0,422,0.929245,0.070755,0,0,38,42,35,41,25,53,44,54,46,46,0,0,0,0,0,0.964623,Dryades Young Men's Christian Association (YMCA),Type 3B,R36,36.0
1331,R36,All Orleans,393001,W51001,Lafayette Academy,972,0.490741,0.509259,0,1,906,50,1,4,10,968,0.961934,0.038066,0,2,17,70,79,100,94,108,118,131,132,121,0,0,0,0,0,0.932099,Choice Foundation,type 3B,R36,36.0
1332,R36,All Orleans,393002,W52001,Esperanza Charter School,533,0.489681,0.510319,2,1,238,278,0,10,4,523,0.647280,0.352720,0,0,0,58,63,59,55,59,60,60,60,59,0,0,0,0,0,0.941839,Choice Foundation,type 3B,R36,36.0
1333,R36,All Orleans,395001,W66001,Martin Behrman Charter Acad of Creative Arts &...,734,0.474114,0.525886,0,0,709,12,6,3,4,731,0.989101,0.010899,0,5,55,76,65,72,63,76,77,82,84,79,0,0,0,0,0,0.995913,"Algiers Charter School Association, Inc.",Type 3B,R36,36.0
1334,R36,All Orleans,395003,W64001,William J. Fischer Accelerated Academy,188,0.468085,0.531915,0,0,182,5,1,0,0,188,0.968085,0.031915,0,0,0,11,17,16,20,25,23,23,23,30,0,0,0,0,0,1.000000,"Algiers Charter School Association, Inc.",Type 3B,R36,36.0
1335,R36,All Orleans,395004,W63001,McDonogh #32 Literacy Charter School,242,0.491736,0.508264,0,0,234,8,0,0,0,242,0.958678,0.041322,0,4,14,22,20,21,25,31,22,28,24,31,0,0,0,0,0,0.995868,"Algiers Charter School Association, Inc.",Type 3B,R36,36.0
1336,R36,All Orleans,395005,W62001,Lord Beaconsfield Landry-Oliver Perry Walker High,998,0.454910,0.545090,0,2,953,38,0,3,2,995,0.961924,0.038076,0,0,0,0,0,0,0,0,0,0,0,0,218,0,255,256,269,0.993988,"Algiers Charter School Association, Inc.",Type 3B,R36,36.0
1338,R36,All Orleans,397001,W71001,Sophie B. Wright Institute of Academic Excellence,530,0.549057,0.450943,1,1,493,27,1,5,2,525,0.969811,0.030189,0,0,0,0,0,0,0,0,0,0,0,0,144,0,128,128,130,0.862264,Institute for Academic Excellence,Type 3B,R36,36.0
1339,R36,All Orleans,398001,W82001,KIPP Believe,674,0.510386,0.489614,2,2,619,34,0,12,5,662,0.974777,0.025223,0,0,0,49,61,73,84,82,80,84,84,77,0,0,0,0,0,0.916914,"KIPP New Orleans, Inc.",Type 3B,R36,36.0
1340,R36,All Orleans,398002,W81001,KIPP Morial,995,0.482412,0.517588,0,1,916,60,0,5,13,990,0.964824,0.035176,0,0,40,96,79,103,106,113,122,116,110,110,0,0,0,0,0,0.924623,"KIPP New Orleans, Inc.",Type 3B,R36,36.0
1341,R36,All Orleans,398004,WL1001,KIPP Central City,960,0.495833,0.504167,1,0,897,40,0,3,19,957,0.970833,0.029167,0,0,0,97,97,112,107,114,115,109,107,102,0,0,0,0,0,0.959375,"KIPP New Orleans, Inc.",Type 3B,R36,36.0
1342,R36,All Orleans,398005,W84001,KIPP Renaissance,571,0.502627,0.497373,1,1,532,21,1,8,7,563,0.978984,0.021016,0,0,0,0,0,0,0,0,0,0,0,0,153,19,150,131,118,0.873905,"KIPP New Orleans, Inc.",type 3B,R36,36.0
1343,R36,All Orleans,398006,W85001,KIPP Leadership,919,0.507073,0.492927,0,0,862,36,0,2,19,917,0.976061,0.023939,0,0,0,82,88,100,103,110,117,109,108,102,0,0,0,0,0,0.963003,"KIPP New Orleans, Inc.",Type 3B,R36,36.0
1344,R36,All Orleans,398007,W86001,KIPP East Community,515,0.487379,0.512621,1,0,476,33,0,5,0,510,0.951456,0.048544,0,0,40,105,71,91,101,107,0,0,0,0,0,0,0,0,0,0.920388,"KIPP New Orleans, Inc.",Type 3B,R36,36.0
1345,R36,All Orleans,398008,W87001,KIPP Booker T Washington,383,0.469974,0.530026,0,0,356,25,0,0,2,383,0.958225,0.041775,0,0,0,0,0,0,0,0,0,0,0,0,123,17,120,123,0,0.906005,"KIPP New Orleans, Inc.",Type 3B,R36,36.0
1346,R36,All Orleans,399001,W91001,Samuel J. Green Charter School,504,0.448413,0.551587,0,0,457,27,0,19,1,485,0.990079,0.009921,0,0,17,37,39,38,61,60,67,61,61,63,0,0,0,0,0,0.930556,"FirstLine Schools, Inc.",type 3B,R36,36.0
1347,R36,All Orleans,399002,W92001,Arthur Ashe Charter School,830,0.473494,0.526506,0,1,789,29,0,8,3,822,0.987952,0.012048,0,0,0,89,89,94,94,92,93,93,92,94,0,0,0,0,0,0.877108,"FirstLine Schools, Inc.",type 3B,R36,36.0
1348,R36,All Orleans,399003,W93001,Joseph S. Clark Preparatory High School,43,0.441860,0.558140,0,0,41,2,0,0,0,43,0.976744,0.023256,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,42,0.837209,"FirstLine Schools, Inc.",Type 3B,R36,36.0
1349,R36,All Orleans,399004,W94001,Phillis Wheatley Community School,835,0.511377,0.488623,0,0,726,105,0,4,0,831,0.912575,0.087425,0,2,38,90,79,86,90,89,91,93,89,88,0,0,0,0,0,0.931737,"FirstLine Schools, Inc.",type 3B,R36,36.0
1350,R36,All Orleans,399005,W95001,Langston Hughes Charter Academy,795,0.479245,0.520755,0,2,764,23,0,1,5,794,0.974843,0.025157,0,2,35,76,59,87,92,90,89,88,88,89,0,0,0,0,0,0.934591,"FirstLine Schools, Inc.",type 3B,R36,36.0
1351,R36,All Orleans,399006,WBS001,FirstLine Live Oak,477,0.532495,0.467505,0,0,360,94,0,23,0,454,0.840671,0.159329,0,1,39,44,29,36,29,56,64,63,60,56,0,0,0,0,0,0.947589,"FirstLine Schools, Inc.",type 3B,R36,36.0
1352,R36,All Orleans,3A5001,W5A001,Mary D. Coghill Charter School,598,0.494983,0.505017,0,0,594,1,0,3,0,595,1.000000,0.000000,0,0,0,34,44,50,57,96,96,78,78,65,0,0,0,0,0,0.936455,Better Choice Foundation,type 3B,R36,36.0
1365,R36,All Orleans,W31001,W31001,Dr. Martin Luther King Charter School for Sci ...,1016,0.521654,0.478346,0,0,995,17,0,2,2,1014,0.997047,0.002953,0,0,78,73,69,68,56,53,55,52,57,54,67,0,105,129,100,0.939961,Friends of King,type 3B,R36,36.0
1366,R36,All Orleans,W32001,W32001,Joseph A. Craig Charter School,377,0.440318,0.559682,1,0,353,23,0,0,0,377,0.946950,0.053050,0,1,39,30,43,34,35,35,50,30,42,38,0,0,0,0,0,0.986737,Friends of King,Type 3B,R36,36.0
1389,R36,All Orleans,WAZ001,WAZ001,Audubon Charter School,873,0.517755,0.482245,5,23,423,49,0,314,59,559,0.972509,0.027491,0,18,64,97,98,92,92,98,84,76,91,63,0,0,0,0,0,0.487973,"French and Montessori Education, Inc.",Type 3,R36,36.0
1390,R36,All Orleans,WBA001,WBA001,Einstein Charter School at Village De L'Est,465,0.490323,0.509677,2,76,228,150,0,7,2,458,0.623656,0.376344,0,2,38,70,58,71,76,72,78,0,0,0,0,0,0,0,0,0.939785,"The Einstein Group, Inc.",Type 1,R36,36.0
1391,R36,All Orleans,WBB001,WBB001,Benjamin Franklin High School,982,0.594705,0.405295,5,188,290,67,1,353,78,629,1.000000,0.000000,0,0,0,0,0,0,0,0,0,0,0,0,235,0,272,253,222,0.383910,Advocates for Academic Excellence in Education...,Type 3,R36,36.0
1392,R36,All Orleans,WBC001,WBC001,Alice M Harte Elementary Charter School,780,0.506410,0.493590,1,7,698,53,1,13,7,767,0.969231,0.030769,0,5,35,80,81,81,81,81,84,84,84,84,0,0,0,0,0,0.785897,InspireNOLA Charter Schools,Type 3,R36,36.0
1393,R36,All Orleans,WBD001,WBD001,Edna Karr High School,1066,0.507505,0.492495,5,10,1035,14,0,2,0,1064,0.991557,0.008443,0,0,0,0,0,0,0,0,0,0,0,0,265,0,265,268,268,0.783302,InspireNOLA Charter Schools,Type 3,R36,36.0
1394,R36,All Orleans,WBE001,WBE001,Lusher Charter School,1806,0.522148,0.477852,2,59,445,138,2,1047,113,759,0.996124,0.003876,0,0,0,104,101,98,102,125,132,151,155,188,173,0,177,153,147,0.230343,Advocates for Arts-Based Education Corporation,Type 3,R36,36.0
1395,R36,All Orleans,WBF001,WBF001,Eleanor McMain Secondary School,841,0.523187,0.476813,0,3,805,29,0,4,0,837,0.976219,0.023781,0,0,0,0,0,0,0,0,0,0,0,0,250,0,228,195,168,0.864447,InspireNOLA Charter Schools,Type 3,R36,36.0
1396,R36,All Orleans,WBG001,WBG001,Robert Russa Moton Charter School,452,0.522124,0.477876,0,0,438,8,1,1,4,451,0.973451,0.026549,0,1,39,45,42,48,47,47,49,50,47,37,0,0,0,0,0,0.911504,"Advocates for Innovative Schools, Inc.",Type 3,R36,36.0
1397,R36,All Orleans,WBH001,WBH001,Lake Forest Elementary Charter School,643,0.520995,0.479005,5,83,538,3,0,6,8,637,0.950233,0.049767,0,0,0,66,75,72,75,73,71,75,75,61,0,0,0,0,0,0.788491,Lake Forest Elementary Charter School Corporation,Type 3,R36,36.0
1398,R36,All Orleans,WBI001,WBI001,New Orleans Charter Science and Mathematics HS,486,0.508230,0.491770,4,7,383,39,0,39,14,447,0.967078,0.032922,0,0,0,0,0,0,0,0,0,0,0,0,125,10,120,113,118,0.734568,Advocates for Science and Mathematics Educatio...,Type 3,R36,36.0
1399,R36,All Orleans,WBJ001,WBJ001,ENCORE Academy,604,0.488411,0.511589,3,5,439,87,0,62,8,542,0.864238,0.135762,0,3,36,58,58,60,58,57,79,84,55,56,0,0,0,0,0,0.905629,ENCORE Academy,Type 1,R36,36.0
1400,R36,All Orleans,WBK001,WBK001,Bricolage Academy,575,0.433043,0.566957,6,8,268,21,0,251,21,324,0.986087,0.013913,0,8,12,105,104,104,79,79,84,0,0,0,0,0,0,0,0,0.513043,Bricolage Academy,Type 1,R36,36.0
1401,R36,All Orleans,WBL001,WBL001,Wilson Charter School,713,0.472651,0.527349,0,0,563,144,0,6,0,707,0.785414,0.214586,0,3,36,71,74,73,77,73,77,78,75,76,0,0,0,0,0,0.939691,InspireNOLA Charter Schools,Type 1,R36,36.0
1402,R36,All Orleans,WBM001,WBM001,Einstein Charter High School at Sarah Towles Reed,273,0.413919,0.586081,0,48,156,67,0,2,0,271,0.776557,0.223443,0,0,0,0,0,0,0,0,0,0,0,0,95,13,83,82,0,0.860806,"The Einstein Group, Inc.",Type 1,R36,36.0
1403,R36,All Orleans,WBN001,WBN001,Einstein Charter Middle Sch at Sarah Towles Reed,399,0.458647,0.541353,0,56,244,93,0,1,5,398,0.804511,0.195489,0,0,0,0,0,0,0,0,0,143,132,124,0,0,0,0,0,0.857143,"The Einstein Group, Inc.",Type 1,R36,36.0
1404,R36,All Orleans,WBO001,WBO001,Einstein Charter at Sherwood Forest,508,0.525591,0.474409,0,43,371,86,0,3,5,505,0.809055,0.190945,0,10,67,74,75,67,71,72,72,0,0,0,0,0,0,0,0,0.913386,"The Einstein Group, Inc.",Type 1,R36,36.0
1405,R36,All Orleans,WBP001,WBP001,McDonogh 42 Charter School,448,0.482143,0.517857,0,0,398,46,0,4,0,444,0.924107,0.075893,0,1,39,42,50,34,51,46,48,48,47,42,0,0,0,0,0,0.953125,InspireNOLA Charter Schools,Type 1,R36,36.0
1408,R36,All Orleans,WBT001,WBT001,Audubon Charter School - Gentilly,151,0.589404,0.410596,0,5,110,6,0,23,7,128,0.993377,0.006623,0,12,22,36,39,42,0,0,0,0,0,0,0,0,0,0,0,0.662252,"French and Montessori Education, Inc.",Type 1,R36,36.0
1409,R36,All Orleans,WBU001,WBU001,Rosenwald Collegiate Academy,161,0.527950,0.472050,2,2,144,13,0,0,0,161,0.950311,0.049689,0,0,0,0,0,0,0,0,0,0,0,0,142,19,0,0,0,0.931677,Collegiate Academies,Type 1,R36,36.0
1410,R36,All Orleans,WBV001,WBV001,Dwight D. Eisenhower Charter School,692,0.478324,0.521676,0,15,584,78,0,15,0,677,0.865607,0.134393,0,2,38,60,68,73,71,75,76,76,76,77,0,0,0,0,0,0.898844,InspireNOLA Charter Schools,Type 1,R36,36.0

In [18]:
#Next, dealing with LEAP files, starting with SY19
leap19.head()

,School System Code,School System Name,Site Code,Site Name,2018 % Mastery+ Grades 3-8,2019 % Mastery+ Grades 3-8,2018-2019 % Mastery+ Change Grades 3-8,2018 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,2018-2019 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History
0,001,Acadia Parish,001001,Armstrong Middle School,18,27,9,18,27,9
1,001,Acadia Parish,001002,Branch Elementary School,54,54,0,54,54,0
2,001,Acadia Parish,001004,Church Point Elementary School,32,28,-4,32,28,-4
3,001,Acadia Parish,001005,Church Point High School,NR,NR,NR,31,26,-5
4,001,Acadia Parish,001006,Church Point Middle School,22,27,5,22,27,5

In [19]:
leap19['School System Name'].value_counts()

Jefferson Parish                                      84
East Baton Rouge Parish                               82
Orleans Parish                                        76
Caddo Parish                                          62
Calcasieu Parish                                      53
St. Tammany Parish                                    50
Lafayette Parish                                      42
Livingston Parish                                     42
Rapides Parish                                        42
Ouachita Parish                                       33
St. Landry Parish                                     33
Tangipahoa Parish                                     32
Terrebonne Parish                                     31
Bossier Parish                                        31
New Orleans Archdiocese                               30
Lafourche Parish                                      26
Ascension Parish                                      26
Acadia Parish                                         25
Iberia Parish                                         24
St. Mary Parish                                       21
Baton Rouge Diocese                                   21
Vermilion Parish                                      19
City of Monroe School District                        17
Vernon Parish                                         16
Natchitoches Parish                                   14
St. Martin Parish                                     13
St. Bernard Parish                                    12
Jefferson Davis Parish                                12
St. Charles Parish                                    12
Allen Parish                                          11
Webster Parish                                        11
Richland Parish                                       11
Beauregard Parish                                     11
Evangeline Parish                                     11
St. John the Baptist Parish                           10
Sabine Parish                                         10
Avoyelles Parish                                      10
Lincoln Parish                                         9
Assumption Parish                                      9
Washington Parish                                      9
LaSalle Parish                                         8
Grant Parish                                           8
Concordia Parish                                       8
West Baton Rouge Parish                                8
DeSoto Parish                                          8
Bienville Parish                                       7
Iberville Parish                                       7
Plaquemines Parish                                     7
Houma-Thibodaux Diocese                                7
St. James Parish                                       6
East Feliciana Parish                                  6
Catahoula Parish                                       6
Winn Parish                                            6
Claiborne Parish                                       6
Franklin Parish                                        6
Morehouse Parish                                       5
Caldwell Parish                                        5
City of Baker School District                          5
Pointe Coupee Parish                                   5
West Carroll Parish                                    5
Madison Parish                                         5
Jackson Parish                                         5
Zachary Community School District                      4
Cameron Parish                                         4
Red River Parish                                       4
Union Parish                                           3
City of Bogalusa School District                       3
Central Community School District                      3
Celerity Schools Louisiana, Inc.                       3
West Feliciana Parish                                  3
Shreveport Diocese                                     3
East Carroll Parish                                    3
Alexandria Diocese                                     3
Diocese of Lake Charles                                3
LA Schools for the Deaf and Visually Impaired          2
Special School District                                2
St. Helena Parish                                      2
Office of Juvenile Justice                             2
Southern University Lab School                         2
Tensas Parish                                          2
A.E. Phillips Laboratory School                        1
Louisiana Key Academy                                  1
New Orleans Center for Creative Arts                   1
Tangipahoa Charter School Association                  1
Trinity Christian Academy                              1
Light City Christian Academy                           1
QuesTECH Learning                                      1
Alexandria Country Day School                          1
Greater Grace Charter Academy Inc                      1
Brighter Horizon School                                1
GEO Prep Academy of Greater Baton Rouge                1
International School of Louisiana                      1
Old Bethel Christian Academy                           1
eLearning Academy                                      1
JCFA-East                                              1
Gardere Community Christian School                     1
Ridgewood Preparatory                                  1
Lighthouse Christian Preparatory School                1
Northeast Baptist School                               1
Waldorf School of New Orleans                          1
Lake Charles Charter Academy Foundation, Inc.          1
Vision Academy                                         1
Life of Christ Christian Academy                       1
Smothers Academy Preparatory School                    1
First Assembly of God/Evangel Academy                  1
New Orleans Military & Maritime Academy                1
JS Clark Leadership Academy                            1
Jewish Community Day School                            1
Friendship Louisiana, Inc.                             1
Claiborne Christian School                             1
St. John Lutheran                                      1
Louisiana Special Education Center                     1
Iberville Charter Academy                              1
Lake Charles College Prep                              1
Louisiana School for Math Science & the Arts           1
New Harmony High Institute                             1
Noble Minds                                            1
Howard School                                          1
Saving the Planet by Going Green w/ McKinney Byrd      1
Lutheran High School                                   1
Crescent City Christian School                         1
Northeast Claiborne Charter                            1
Evangelical Lutheran Church In America                 1
Northlake Christian Schools                            1
Prevailing Faith Christian Academy                     1
Ascension Christian School                             1
Lafayette Diocese                                      1
Advantage Charter Academy                              1
D'Arbonne Woods Charter School                         1
Community School for Apprenticeship Learning, Inc.     1
Cedarwood School                                       1
Voices for International Business & Education          1
Victory Christian Academy                              1
Apex Collegiate Academy Charter School                 1
Acadiana Renaissance Charter Academy                   1
University View Academy, Inc. (FRM LA Connections)     1
McMillian's First Steps CDC/Academy                    1
Athlos Academy of Jefferson Parish                     1
Southwest Louisiana Charter Academy                    1
False River Academy                                    1
University Academy                                     1
Belle Chasse Academy                                   1
Willow Charter Academy                                 1
The Dunham School                                      1
Riverside Academy                                      1
New Orleans Adventist Academy                          1
Lafayette Charter Foundation                           1
HYPE Academy                                           1
New Vision Learning Academy                            1
Recovery School District-LDE                           1
Angles Foundation                                      1
Bishop McManus School                                  1
Collegiate Baton Rouge                                 1
LSU Laboratory School                                  1
Martin Luther King Jr. Christian Academy               1
Union Christian Academy                                1
Family Community Christian School                      1
Louisiana Virtual Charter Academy                      1
Lycee Francais de la Nouvelle-Orleans                  1
Lincoln Preparatory School                             1
Baton Rouge College Preparatory Inc                    1
Boutte Christian Academy                               1
John Paul The Great Academy                            1
Louisiana New School Academy                           1
Hosanna Christian Academy (AG)                         1
Democracy Prep Baton Rouge                             1
Opelousas Family Worship Center, Inc.                  1
Baton Rouge International School                       1
Jehovah-Jireh Christian Academy                        1
Baton Rouge University Preparatory Elementary          1
SIHAF Learning and Career Institute                    1
Impact Charter School                                  1
JCFA Lafayette                                         1
The MAX Charter School                                 1
Greater Baton Rouge Hope Academy                       1
Faith Lutheran                                         1
Emmanuel SDA                                           1
Delhi Charter School                                   1
Thrive Academy                                         1
Pelican Educational Foundation                         1
GEO Prep Mid-City of Greater Baton Rouge               1
Avoyelles Public Charter School                        1
Delta Charter Group                                    1
Gethsemane Christian Academy                           1
Westminster Christian Academy                          1
V. B. Glencoe Charter School                           1
Name: School System Name, dtype: int64

In [20]:
#Lyce Franais and other schools at the bottom of the list seem to be Type 2 charters
#Pulling only schools labeled as "Orleans Parish" 
nolaleap19 = leap19.loc[leap19['School System Name'] == 'Orleans Parish']

In [21]:
print(nolams19.shape)
print(nolaleap19.shape)
#Seems there are three schools that either closed or did not report LEAP scores in 2019

(79, 40)
(76, 10)

In [22]:
#Joining SY19 dataframes 
#Using an outer join to preserve those 3 schools that did not report LEAP data
nolasy19 = nolams19.merge(nolaleap19, left_on=['SiteCd'], right_on=['Site Code'], how='outer', indicator=True)

In [23]:
nolasy19.shape
#Join seems to have worked as it preserves the three schools

(79, 51)

In [24]:
nolasy19.loc[nolasy19['_merge'] == 'left_only']
#Orleans Central Office, Joseph S. Clark, and Audobon Charter didn't report LEAP data for various reasons
#e.g., Central Office seems to be PreK only, but
#we'll still keep them in the final dataframe

,School System,School System Name_x,SiteCd,FedSiteCd,SiteName,Total Students,%Female,%Male,AmInd,Asian,Black,Hispanic,HawPI,White,Multiple,Minority,%Fully-EP,%LEP,Infants SpEd,PreSchool SpEd,PreK,Kindergarten,Grade1,Grade2,Grade3,Grade4,Grade5,Grade6,Grade7,Grade8,Grade9,GradeT9,Grade10,Grade11,Grade12,ED%,Nonprofit,Charter Type,RollUpType,Parish Code,School System Code,School System Name_y,Site Code,Site Name,2018 % Mastery+ Grades 3-8,2019 % Mastery+ Grades 3-8,2018-2019 % Mastery+ Change Grades 3-8,2018 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,2018-2019 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History,_merge
11,R36,All Orleans,036700,036700,Orleans Central Office,269,0.394052,0.605948,0,8,187,12,0,53,9,216,1.000000,0.000000,0,269,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.620818,NaN,NaN,R36,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
52,R36,All Orleans,399003,W93001,Joseph S. Clark Preparatory High School,43,0.441860,0.558140,0,0,41,2,0,0,0,43,0.976744,0.023256,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,42,0.837209,"FirstLine Schools, Inc.",Type 3B,R36,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
76,R36,All Orleans,WBT001,WBT001,Audubon Charter School - Gentilly,151,0.589404,0.410596,0,5,110,6,0,23,7,128,0.993377,0.006623,0,12,22,36,39,42,0,0,0,0,0,0,0,0,0,0,0,0.662252,"French and Montessori Education, Inc.",Type 1,R36,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [25]:
nolasy19['SiteCd'].isna().sum()

0

In [26]:
nolasy19['SiteName'].isna().sum()

0

In [27]:
nolasy19.loc[nolasy19['_merge'] == 'right_only']
#Luckily, it seems all schools who reported LEAP scores were also present in the multistat file
#We can be confident in dropping the "Site Code" and "Site Name" columns from the dataframe

Empty DataFrame
Columns: [School System, School System Name_x, SiteCd, FedSiteCd, SiteName, Total Students, %Female, %Male, AmInd, Asian, Black, Hispanic, HawPI, White, Multiple, Minority, %Fully-EP, %LEP, Infants SpEd, PreSchool SpEd, PreK, Kindergarten, Grade1, Grade2, Grade3, Grade4, Grade5, Grade6, Grade7, Grade8, Grade9, GradeT9, Grade10, Grade11, Grade12, ED%, Nonprofit, Charter Type, RollUpType, Parish Code, School System Code, School System Name_y, Site Code, Site Name, 2018 % Mastery+ Grades 3-8, 2019 % Mastery+ Grades 3-8, 2018-2019 % Mastery+ Change Grades 3-8, 2018 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History, 2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History, 2018-2019 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History, _merge]
Index: []

In [28]:
#Cleaning up SY19 columns
#Dropping redundant columns - FedSiteCd, School System, School System Name_x and School System Name_y 
#(they are all Orleans)
#Alsop dropping _merge, Parish Code, and School System Code, Site Code, and Site Name as per the check above 
nolasy19 = nolasy19.drop(columns=['School System','School System Name_x', 'FedSiteCd','School System Name_y',
                                '_merge','Parish Code','School System Code','Site Code','Site Name'], axis=1)

In [29]:
nolasy19.shape

(79, 42)

In [30]:
nolasy19.head(1)

,SiteCd,SiteName,Total Students,%Female,%Male,AmInd,Asian,Black,Hispanic,HawPI,White,Multiple,Minority,%Fully-EP,%LEP,Infants SpEd,PreSchool SpEd,PreK,Kindergarten,Grade1,Grade2,Grade3,Grade4,Grade5,Grade6,Grade7,Grade8,Grade9,GradeT9,Grade10,Grade11,Grade12,ED%,Nonprofit,Charter Type,RollUpType,2018 % Mastery+ Grades 3-8,2019 % Mastery+ Grades 3-8,2018-2019 % Mastery+ Change Grades 3-8,2018 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,2018-2019 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History
0,036011,Mary Bethune Elementary Literature/Technology,688,0.521802,0.478198,0,2,669,15,0,2,0,686,0.985465,0.014535,0,2,38,78,78,80,81,79,82,54,55,61,0,0,0,0,0,0.818314,NaN,NaN,R36,31,33,2,31,34,3

In [31]:
#Add 'SY19' to all column names 
nolasy19 = nolasy19.add_prefix('sy19_')

In [32]:
nolasy19.head()

,sy19_SiteCd,sy19_SiteName,sy19_Total Students,sy19_%Female,sy19_%Male,sy19_AmInd,sy19_Asian,sy19_Black,sy19_Hispanic,sy19_HawPI,sy19_White,sy19_Multiple,sy19_Minority,sy19_%Fully-EP,sy19_%LEP,sy19_Infants SpEd,sy19_PreSchool SpEd,sy19_PreK,sy19_Kindergarten,sy19_Grade1,sy19_Grade2,sy19_Grade3,sy19_Grade4,sy19_Grade5,sy19_Grade6,sy19_Grade7,sy19_Grade8,sy19_Grade9,sy19_GradeT9,sy19_Grade10,sy19_Grade11,sy19_Grade12,sy19_ED%,sy19_Nonprofit,sy19_Charter Type,sy19_RollUpType,sy19_2018 % Mastery+ Grades 3-8,sy19_2019 % Mastery+ Grades 3-8,sy19_2018-2019 % Mastery+ Change Grades 3-8,sy19_2018 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy19_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy19_2018-2019 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History
0,036011,Mary Bethune Elementary Literature/Technology,688,0.521802,0.478198,0,2,669,15,0,2,0,686,0.985465,0.014535,0,2,38,78,78,80,81,79,82,54,55,61,0,0,0,0,0,0.818314,NaN,NaN,R36,31,33,2,31,34,3
1,036035,Warren Easton Senior High School,991,0.514632,0.485368,0,0,960,25,0,1,5,990,0.984864,0.015136,0,0,0,0,0,0,0,0,0,0,0,0,229,15,247,245,255,0.784057,"Warren Easton Senior High School Foundation, Inc.",Type 3,R36,NR,NR,NR,28,21,-7
2,036060,Edward Hynes Charter School,717,0.525802,0.474198,0,32,252,30,0,361,42,356,0.967922,0.032078,0,17,0,83,84,79,79,72,80,77,76,70,0,0,0,0,0,0.350070,Hynes Charter School Corporation,Type 3,R36,61,63,2,60,63,3
3,036088,McDonogh #35 College Preparatory School,445,0.442697,0.557303,0,1,442,2,0,0,0,445,0.995506,0.004494,0,0,0,0,0,0,0,0,0,0,0,0,10,0,146,107,182,0.887640,NaN,NaN,R36,NR,NR,NR,9,8,-1
4,036132,Youth Study Center,106,0.056604,0.943396,0,0,104,2,0,0,0,106,0.990566,0.009434,0,0,0,0,0,0,0,0,0,0,0,4,35,0,32,14,21,0.896226,NaN,NaN,R36,2,1,>-5,2,1,>-5

In [33]:
#Repeat LEAP filtering, merge and column cleaning process for the other three years 
leap21.head()

,School System Code,School System Name,Site Code,Site Name,2019 % Mastery+ Grades 3-8,2021 % Mastery+ Grades 3-8,2019-2021 % Mastery+ Change Grades 3-8,2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2019-2021 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology
0,001,Acadia Parish,001001,Armstrong Middle School,26,23,-3,26,23,-3
1,001,Acadia Parish,001002,Branch Elementary School,53,44,-9,53,44,-9
2,001,Acadia Parish,001004,Church Point Elementary School,28,31,3,28,31,3
3,001,Acadia Parish,001005,Church Point High School,NR,NR,NR,24,23,-1
4,001,Acadia Parish,001006,Church Point Middle School,24,22,-2,24,22,-2

In [34]:
leap21['School System Name'].value_counts()

Jefferson Parish                                      80
East Baton Rouge Parish                               77
Orleans Parish                                        74
Caddo Parish                                          57
Calcasieu Parish                                      52
St. Tammany Parish                                    51
Lafayette Parish                                      44
Rapides Parish                                        42
Livingston Parish                                     42
Ouachita Parish                                       33
Bossier Parish                                        32
St. Landry Parish                                     32
Terrebonne Parish                                     31
Tangipahoa Parish                                     31
Ascension Parish                                      29
Lafourche Parish                                      26
Acadia Parish                                         25
New Orleans Archdiocese                               25
Iberia Parish                                         23
Baton Rouge Diocese                                   22
St. Mary Parish                                       21
Vermilion Parish                                      19
City of Monroe School District                        17
Vernon Parish                                         16
St. Martin Parish                                     13
Natchitoches Parish                                   13
St. Bernard Parish                                    12
Jefferson Davis Parish                                12
St. Charles Parish                                    12
Evangeline Parish                                     11
Beauregard Parish                                     11
Allen Parish                                          11
Richland Parish                                       11
Webster Parish                                        11
St. John the Baptist Parish                           10
Avoyelles Parish                                      10
Washington Parish                                     10
Sabine Parish                                         10
Assumption Parish                                      9
Lincoln Parish                                         9
Houma-Thibodaux Diocese                                9
DeSoto Parish                                          8
Grant Parish                                           8
West Baton Rouge Parish                                8
LaSalle Parish                                         8
Iberville Parish                                       7
Bienville Parish                                       7
East Feliciana Parish                                  7
Plaquemines Parish                                     7
Concordia Parish                                       7
Winn Parish                                            6
St. James Parish                                       6
Claiborne Parish                                       6
Franklin Parish                                        6
Catahoula Parish                                       5
Alexandria Diocese                                     5
Morehouse Parish                                       5
Pointe Coupee Parish                                   5
Jackson Parish                                         5
Caldwell Parish                                        5
West Carroll Parish                                    5
Cameron Parish                                         5
Madison Parish                                         5
Zachary Community School District                      4
Red River Parish                                       4
Special School District                                4
City of Baker School District                          4
City of Bogalusa School District                       3
Office of Juvenile Justice                             3
Central Community School District                      3
Shreveport Diocese                                     3
Redesign Schools Louisiana                             3
Union Parish                                           3
East Carroll Parish                                    3
West Feliciana Parish                                  3
Lafayette Diocese                                      2
Tensas Parish                                          2
LA Schools for the Deaf and Visually Impaired          2
St. Helena Parish                                      2
Southern University Lab School                         2
Advantage Charter Academy                              1
SIHAF Learning and Career Institute                    1
Life of Christ Christian Academy                       1
Baton Rouge University Preparatory School, Inc.        1
John Paul The Great Academy                            1
D'Arbonne Woods Charter School                         1
University Academy                                     1
Old Bethel Christian Academy                           1
Ascension Christian School                             1
A.E. Phillips Laboratory School                        1
Claiborne Christian School                             1
Iberville Charter Academy                              1
Noble Minds                                            1
Howard School                                          1
Saving the Planet by Going Green w/ McKinney Byrd      1
Lutheran High School                                   1
Crescent City Christian School                         1
Evangelical Lutheran Church In America                 1
Red River Charter Academy                              1
Jewish Community Day School                            1
JS Clark Leadership Academy                            1
New Orleans Military & Maritime Academy                1
New Orleans Center for Creative Arts                   1
Willow Charter Academy                                 1
Light City Christian Academy                           1
New Harmony High Institute                             1
GEO Prep Academy of Greater Baton Rouge                1
International School of Louisiana                      1
Louisiana Key Academy                                  1
Impact Charter School                                  1
McMillian's First Steps CDC/Academy                    1
JCFA Lafayette                                         1
Hosanna Christian Academy (AG)                         1
Ridgewood Preparatory                                  1
Lake Charles Charter Academy Foundation, Inc.          1
eLearning Academy of Houma                             1
Knights Academy and High School                        1
Word Ministries Christian Academy                      1
Lincoln Preparatory School                             1
Democracy Prep Baton Rouge                             1
Riverside Academy                                      1
Opelousas Family Worship Center, Inc.                  1
Baton Rouge International School                       1
Faith Lutheran                                         1
Gethsemane Christian Academy                           1
University View Academy, Inc. (FRM LA Connections)     1
Athlos Academy of Jefferson Parish                     1
Gardere Community Christian School                     1
Alexandria Country Day School                          1
First Assembly of God/Evangel Academy                  1
Community School for Apprenticeship Learning, Inc.     1
Diocese of Lake Charles                                1
Prevailing Faith Christian Academy                     1
JCFA-East                                              1
Northeast Claiborne Charter                            1
Louisiana School for Math Science & the Arts           1
Lake Charles College Prep                              1
QuesTECH Learning                                      1
St. John Lutheran                                      1
eLearning Academy                                      1
Lakeside Christian Academy                             1
Brighter Horizon School                                1
Northeast Baptist School                               1
Ecole Bilingue de la Nouvelle-Orleans                  1
Victory Christian Academy                              1
HYPE Academy                                           1
Greater Baton Rouge Hope Academy                       1
The MAX Charter School                                 1
Jehovah-Jireh Christian Academy                        1
Acadiana Renaissance Charter Academy                   1
GEO Next Generation High School                        1
Louisiana Virtual Charter Academy                      1
New Orleans Adventist Academy                          1
Lycee Francais de la Nouvelle-Orleans                  1
Delta Charter Group                                    1
Collegiate Baton Rouge                                 1
Avoyelles Public Charter School                        1
GEO Prep Mid-City of Greater Baton Rouge               1
Pelican Educational Foundation                         1
Thrive Academy                                         1
Delhi Charter School                                   1
Westminster Christian Academy                          1
Southwest Louisiana Charter Academy                    1
False River Academy                                    1
Emmanuel SDA                                           1
Belle Chasse Academy                                   1
RSD-Capitol Education Foundation                       1
Lafayette Charter Foundation                           1
New Vision Learning Academy                            1
Recovery School District-LDE                           1
Northlake Christian Schools                            1
Bishop McManus School                                  1
Martin Luther King Jr. Christian Academy               1
Family Community Christian School                      1
Cedarwood School                                       1
Voices for International Business & Education          1
Union Christian Academy                                1
LSU Laboratory School                                  1
Step by Step Performing Arts Academy                   1
V. B. Glencoe Charter School                           1
Name: School System Name, dtype: int64

In [35]:
#Again, since Lyce Franais and other schools at the bottom of the list seem to be Type 2 charters,
#pulling only schools labeled as "Orleans Parish" 
nolaleap21 = leap21.loc[leap21['School System Name'] == 'Orleans Parish']

In [36]:
print(nolams21.shape)
print(nolaleap21.shape)
#Again, there seem to be 3 schools that either closed or did not report LEAP scores

(77, 41)
(74, 10)

In [37]:
nolams21.head(1)

,School System,School System Name,SIS Submit Site Code,Federal Reporting Site Code,Site Name,Total Enrollment,% Female,% Male,American Indian,Asian,Black,Hispanic,Hawaiian/Pacific Islander,White,Multiple Races (Non-Hispanic),Minority,% Fully English Proficient,% Limited English Proficient,Infants (Sp Ed),Pre-School (Sp Ed),Pre-K (Reg Ed),Kindergarten,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade T9,Grade 10,Grade 11,Grade 12,Extension Academy,% Economically Disadvantaged,Nonprofit Organization,Charter Type,School System Roll Up Type,Parish Code
1314,R36,Orleans Parish,036011,036011,Mary Bethune Elementary Literature/Technology,709,0.51622,0.48378,0,0,692,17,0,0,0,709,0.988717,0.0112835,0,6,32,76,75,78,78,78,76,78,79,53,0,0,0,0,0,0,0.854725,"Significant Educators, Inc.",Type 3,R36,36

In [38]:
nolaleap21.head(1)

,School System Code,School System Name,Site Code,Site Name,2019 % Mastery+ Grades 3-8,2021 % Mastery+ Grades 3-8,2019-2021 % Mastery+ Change Grades 3-8,2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2019-2021 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology
670,R36,Orleans Parish,036011,Mary Bethune Elementary Literature/Technology,30,17,-13,30,17,-13

In [39]:
#Joining SY21 dataframes 
#Using an outer join to preserve those 3 schools that did not report LEAP data
nolasy21 = nolams21.merge(nolaleap21, left_on=['SIS Submit Site Code'], 
                          right_on=['Site Code'], how='outer', indicator=True)

In [40]:
nolasy21.shape
#Join seems to have worked as 3 extra rows are present

(77, 52)

In [41]:
nolasy21.loc[nolasy21['_merge'] == 'left_only']

,School System,School System Name_x,SIS Submit Site Code,Federal Reporting Site Code,Site Name_x,Total Enrollment,% Female,% Male,American Indian,Asian,Black,Hispanic,Hawaiian/Pacific Islander,White,Multiple Races (Non-Hispanic),Minority,% Fully English Proficient,% Limited English Proficient,Infants (Sp Ed),Pre-School (Sp Ed),Pre-K (Reg Ed),Kindergarten,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade T9,Grade 10,Grade 11,Grade 12,Extension Academy,% Economically Disadvantaged,Nonprofit Organization,Charter Type,School System Roll Up Type,Parish Code,School System Code,School System Name_y,Site Code,Site Name_y,2019 % Mastery+ Grades 3-8,2021 % Mastery+ Grades 3-8,2019-2021 % Mastery+ Change Grades 3-8,2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2019-2021 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,_merge
8,R36,Orleans Parish,036700,036700,Orleans Central Office,330,0.390909,0.609091,0,7,195,25,0,94,9,236,0.99697,0.0030303,0,330,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.630303,NaN,NaN,R36,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
46,R36,Orleans Parish,3C2002,WZD001,Edward Hynes Charter School - UNO,207,0.47343,0.52657,0,7,140,2,0,46,12,161,0.990338,0.00966184,0,0,0,104,103,0,0,0,0,0,0,0,0,0,0,0,0,0,0.618357,Hynes Charter School Corporation,Type 1,R36,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
73,R36,Orleans Parish,WC2001,WC2001,Opportunities Academy,65,0.276923,0.723077,0,2,59,0,0,3,1,62,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,65,0,0.923077,Collegiate Academies,Type 1,R36,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [42]:
#Orleans Central Office, Hynes Charter @ UNO, and Opportunities Academy did not report LEAP data 
nolasy21.loc[nolasy21['_merge'] == 'right_only']

Empty DataFrame
Columns: [School System, School System Name_x, SIS Submit Site Code, Federal Reporting Site Code, Site Name_x, Total Enrollment, % Female, % Male, American Indian, Asian, Black, Hispanic, Hawaiian/Pacific Islander, White, Multiple Races (Non-Hispanic), Minority, % Fully English Proficient, % Limited English Proficient, Infants (Sp Ed), Pre-School (Sp Ed), Pre-K (Reg Ed), Kindergarten, Grade 1, Grade 2, Grade 3, Grade 4, Grade 5, Grade 6, Grade 7, Grade 8, Grade 9, Grade T9, Grade 10, Grade 11, Grade 12, Extension Academy, % Economically Disadvantaged, Nonprofit Organization, Charter Type, School System Roll Up Type, Parish Code, School System Code, School System Name_y, Site Code, Site Name_y, 2019 % Mastery+ Grades 3-8, 2021 % Mastery+ Grades 3-8, 2019-2021 % Mastery+ Change Grades 3-8, 2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology, 2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology, 2019-2021 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology, _merge]
Index: []

In [43]:
#Again, no schools present in the LEAP dataset that are not already present in the multistat
print(nolasy21['SIS Submit Site Code'].isna().sum()) #How many nulls are from the multistat file? 
print(nolasy21['Site Code'].isna().sum()) #How many nulls are from the LEAP file?

0
3

In [44]:
#Since there are no nulls present in the multistat file, we can be confident in dropping the "Site Code" column
#Cleaning up SY21 columns
#Dropping redundant columns - FedSiteCd, School System, School System Name_x and School System Name_y 
#(they are all Orleans)
#Alsop dropping _merge, Parish Code, and School System Code, Site Code, and Site Name as per the check above 
nolasy21 = nolasy21.drop(columns=['School System','School System Name_x', 'Federal Reporting Site Code',
                                  'School System Name_y',
                                '_merge','Parish Code','School System Code','Site Code','Site Name_y'], axis=1)

In [45]:
nolasy21.shape

(77, 43)

In [46]:
#Add 'SY21' to all column names 
nolasy21 = nolasy21.add_prefix('sy21_')

In [47]:
#Repeat process one last time for SY22
leap22.head()

,School System Code,School System Name,Site Code,Site Name,2021 % Mastery+ Grades 3-8,2022 % Mastery+ Grades 3-8,2021-2022 % Mastery+ Change Grades 3-8,2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2022 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2021-2022 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology
0,001,Acadia Parish,001001,Armstrong Middle School,23,16,-7,23,16,-7
1,001,Acadia Parish,001002,Branch Elementary School,44,44,0,44,44,0
2,001,Acadia Parish,001004,Church Point Elementary School,31,28,-3,31,28,-3
3,001,Acadia Parish,001005,Church Point High School,NR,NR,NR,23,20,-3
4,001,Acadia Parish,001006,Church Point Middle School,22,26,4,22,26,4

In [48]:
leap22['School System Name'].value_counts()

Jefferson Parish                                      81
East Baton Rouge Parish                               80
Orleans Parish                                        74
Caddo Parish                                          57
Calcasieu Parish                                      52
St. Tammany Parish                                    50
Lafayette Parish                                      44
Livingston Parish                                     42
Rapides Parish                                        41
Ouachita Parish                                       33
Bossier Parish                                        32
St. Landry Parish                                     31
Tangipahoa Parish                                     31
Ascension Parish                                      30
Terrebonne Parish                                     29
Lafourche Parish                                      26
New Orleans Archdiocese                               25
Acadia Parish                                         25
Iberia Parish                                         23
Baton Rouge Diocese                                   22
St. Mary Parish                                       21
Vermilion Parish                                      19
City of Monroe School District                        17
Vernon Parish                                         16
Natchitoches Parish                                   13
St. Bernard Parish                                    12
St. Charles Parish                                    12
Jefferson Davis Parish                                12
St. Martin Parish                                     12
Beauregard Parish                                     11
Evangeline Parish                                     11
Allen Parish                                          11
Richland Parish                                       11
Webster Parish                                        11
Sabine Parish                                         10
St. John the Baptist Parish                           10
Washington Parish                                     10
Avoyelles Parish                                      10
Assumption Parish                                      9
Lincoln Parish                                         9
Grant Parish                                           8
Concordia Parish                                       8
Houma-Thibodaux Diocese                                8
LaSalle Parish                                         8
West Baton Rouge Parish                                8
DeSoto Parish                                          8
Iberville Parish                                       7
Plaquemines Parish                                     7
Bienville Parish                                       7
Claiborne Parish                                       6
Franklin Parish                                        6
East Feliciana Parish                                  6
St. James Parish                                       6
Winn Parish                                            6
West Carroll Parish                                    5
Morehouse Parish                                       5
Caldwell Parish                                        5
Jackson Parish                                         5
Pointe Coupee Parish                                   5
Alexandria Diocese                                     5
Catahoula Parish                                       5
Cameron Parish                                         5
City of Baker School District                          4
Madison Parish                                         4
Red River Parish                                       4
Zachary Community School District                      4
Central Community School District                      3
Office of Juvenile Justice                             3
Union Parish                                           3
Shreveport Diocese                                     3
Lafayette Diocese                                      3
City of Bogalusa School District                       3
East Carroll Parish                                    3
Diocese of Lake Charles                                3
West Feliciana Parish                                  3
Redesign Schools Louisiana                             3
LA Schools for the Deaf and Visually Impaired          2
Alexandria Country Day School                          2
Southern University Lab School                         2
Tensas Parish                                          2
St. Helena Parish                                      2
Torah Day School of New Orleans DBA Torah Academy      1
Light City Christian Academy                           1
Life of Christ Christian Academy                       1
D'Arbonne Woods Charter School                         1
Jewish Community Day School                            1
JS Clark Leadership Academy                            1
New Orleans Military & Maritime Academy                1
Gardere Community Christian School                     1
New Orleans Center for Creative Arts                   1
Willow Charter Academy                                 1
Pointe Coupee Private School System INC                1
Knights Academy and High School                        1
Ridgewood Preparatory                                  1
Lake Charles Charter Academy Foundation, Inc.          1
Victory Christian Academy                              1
First Assembly of God/Evangel Academy                  1
Louisiana Key Academy                                  1
Old Bethel Christian Academy                           1
eLearning Academy of Houma                             1
Lincoln Preparatory School                             1
International School of Louisiana                      1
Martin Luther King Jr. Christian Academy               1
Community School for Apprenticeship Learning, Inc.     1
Prevailing Faith Christian Academy                     1
Ecole Bilingue de la Nouvelle-Orleans                  1
St. Landry Primary School, Incl.                       1
Northeast Baptist School                               1
Brighter Horizon School                                1
A.E. Phillips Laboratory School                        1
Lakeside Christian Academy                             1
Richard Rayborn Elementary School                      1
St. John Lutheran                                      1
Baton Rouge International School                       1
QuesTECH Learning                                      1
Lake Charles College Prep                              1
Iberville Charter Academy                              1
Louisiana School for Math Science & the Arts           1
New Harmony High Institute                             1
Northeast Claiborne Charter                            1
Noble Minds                                            1
Howard School                                          1
Saving the Planet by Going Green w/ McKinney Byrd      1
Lutheran High School                                   1
Franklin Academy                                       1
JCFA-East                                              1
Evangelical Lutheran Church In America                 1
Red River Charter Academy                              1
Special School District                                1
Hosanna Christian Academy (AG)                         1
Advantage Charter Academy                              1
Family Community Christian School                      1
New Orleans Adventist Academy                          1
GEO Next Generation High School                        1
Acadiana Renaissance Charter Academy                   1
Jehovah-Jireh Christian Academy                        1
Collegiate Baton Rouge                                 1
eLearning Academy                                      1
McMillian's First Steps CDC/Academy                    1
LSU Laboratory School                                  1
Southwest Louisiana Charter Academy                    1
Louisiana Virtual Charter Academy                      1
Emmanuel SDA                                           1
Belle Chasse Academy                                   1
RSD-Capitol Education Foundation                       1
Union Christian Academy                                1
GEO Prep Mid-City of Greater Baton Rouge               1
Cornerstone Christian Academy                          1
Voices for International Business & Education          1
Lafayette Charter Foundation                           1
Cedarwood School                                       1
New Vision Learning Academy                            1
Recovery School District-LDE                           1
Northlake Christian Schools                            1
Bishop McManus School                                  1
Lycee Francais de la Nouvelle-Orleans                  1
The MAX Charter School                                 1
HYPE Academy                                           1
Claiborne Christian School                             1
GEO Prep Academy of Greater Baton Rouge                1
John Paul The Great Academy                            1
Democracy Prep Baton Rouge                             1
Opelousas Family Worship Center, Inc.                  1
Crescent City Christian School                         1
Faith Lutheran                                         1
Gethsemane Christian Academy                           1
University View Academy, Inc. (FRM LA Connections)     1
Athlos Academy of Jefferson Parish                     1
SIHAF Learning and Career Institute                    1
The Dunham School                                      1
Riverside Academy                                      1
JCFA Lafayette                                         1
Greater Baton Rouge Hope Academy                       1
Williams Scholar Academy Inc.                          1
Westminster Christian Academy                          1
Delhi Charter School                                   1
Thrive Academy                                         1
Pelican Educational Foundation                         1
Impact Charter School                                  1
Avoyelles Public Charter School                        1
Delta Charter Group                                    1
V. B. Glencoe Charter School                           1
Name: School System Name, dtype: int64

In [49]:
#Again, not including Type 2 charters in final dataframe
nolaleap22 = leap22.loc[leap22['School System Name'] == 'Orleans Parish']

In [50]:
print(nolams22.shape)
print(nolaleap22.shape)
#Again, there seem to be 3 schools that either closed or did not report LEAP scores

(77, 41)
(74, 10)

In [51]:
nolams22.head(1)

,School System,School System Name,SIS Submit Site Code,Federal Reporting Site Code,Site Name,Total Enrollment,% Female,% Male,American Indian,Asian,Black,Hispanic,Hawaiian/Pacific Islander,White,Multiple Races (Non-Hispanic),Minority,% Fully English Proficient,% Limited English Proficient,Infants (Sp Ed),Pre-School (Sp Ed),Pre-K (Reg Ed),Kindergarten,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade T9,Grade 10,Grade 11,Grade 12,Extension Academy,% Economically Disadvantaged,Nonprofit Organization,Charter Type,School System Roll Up Type,Parish Code
740,R36,Orleans Parish,036011,036011,Mary Bethune Elementary Literature/Technology,699,0.513591,0.486409,0,0,678,20,1,0,0,699,0.981402,0.018598,0,8,32,70,74,72,66,70,77,74,78,78,0,0,0,0,0,0,0.927039,"Significant Educators, Inc.",Type 3,R36,36

In [52]:
nolaleap22.head(1)

,School System Code,School System Name,Site Code,Site Name,2021 % Mastery+ Grades 3-8,2022 % Mastery+ Grades 3-8,2021-2022 % Mastery+ Change Grades 3-8,2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2022 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2021-2022 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology
674,R36,Orleans Parish,036011,Mary Bethune Elementary Literature/Technology,17,20,3,17,21,4

In [53]:
#Joining SY22 dataframes 
#Using an outer join to preserve those 3 schools that did not report LEAP data
nolasy22 = nolams22.merge(nolaleap22, left_on=['SIS Submit Site Code'], 
                          right_on=['Site Code'], how='outer', indicator=True)

In [54]:
nolasy22.shape

(77, 52)

In [55]:
nolasy22.loc[nolasy22['_merge'] == 'left_only']
#Again, Central Office, Hynes @ UNO, and Opportunities Academy did not report LEAP data

,School System,School System Name_x,SIS Submit Site Code,Federal Reporting Site Code,Site Name_x,Total Enrollment,% Female,% Male,American Indian,Asian,Black,Hispanic,Hawaiian/Pacific Islander,White,Multiple Races (Non-Hispanic),Minority,% Fully English Proficient,% Limited English Proficient,Infants (Sp Ed),Pre-School (Sp Ed),Pre-K (Reg Ed),Kindergarten,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade T9,Grade 10,Grade 11,Grade 12,Extension Academy,% Economically Disadvantaged,Nonprofit Organization,Charter Type,School System Roll Up Type,Parish Code,School System Code,School System Name_y,Site Code,Site Name_y,2021 % Mastery+ Grades 3-8,2022 % Mastery+ Grades 3-8,2021-2022 % Mastery+ Change Grades 3-8,2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2022 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2021-2022 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,_merge
5,R36,Orleans Parish,036700,036700,Orleans Central Office,365,0.350685,0.649315,0,5,235,20,0,96,9,269,1,0,0,365,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.619178,NaN,NaN,R36,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
42,R36,Orleans Parish,3C2002,WZD001,Edward Hynes Charter School - UNO,290,0.434483,0.565517,1,9,190,3,0,66,21,224,0.982759,0.0172414,0,0,0,99,100,91,0,0,0,0,0,0,0,0,0,0,0,0,0.593103,Hynes Charter School Corporation,Type 1,R36,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
73,R36,Orleans Parish,WC2001,WC2001,Opportunities Academy,70,0.314286,0.685714,0,2,64,1,0,2,1,68,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,70,0,0.957143,Collegiate Academies,Type 1,R36,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [56]:
nolasy22.loc[nolasy22['_merge'] == 'right_only']

Empty DataFrame
Columns: [School System, School System Name_x, SIS Submit Site Code, Federal Reporting Site Code, Site Name_x, Total Enrollment, % Female, % Male, American Indian, Asian, Black, Hispanic, Hawaiian/Pacific Islander, White, Multiple Races (Non-Hispanic), Minority, % Fully English Proficient, % Limited English Proficient, Infants (Sp Ed), Pre-School (Sp Ed), Pre-K (Reg Ed), Kindergarten, Grade 1, Grade 2, Grade 3, Grade 4, Grade 5, Grade 6, Grade 7, Grade 8, Grade 9, Grade T9, Grade 10, Grade 11, Grade 12, Extension Academy, % Economically Disadvantaged, Nonprofit Organization, Charter Type, School System Roll Up Type, Parish Code, School System Code, School System Name_y, Site Code, Site Name_y, 2021 % Mastery+ Grades 3-8, 2022 % Mastery+ Grades 3-8, 2021-2022 % Mastery+ Change Grades 3-8, 2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology, 2022 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology, 2021-2022 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology, _merge]
Index: []

In [57]:
#Again, no schools present in the LEAP dataset that are not already present in the multistat
print(nolasy22['SIS Submit Site Code'].isna().sum()) #How many nulls are from the multistat file? 
print(nolasy22['Site Code'].isna().sum()) #How many nulls are from the LEAP file?

0
3

In [58]:
#Since there are no nulls present in the multistat file, we can be confident in dropping the "Site Code" column
#Cleaning up SY22 columns
#Dropping redundant columns - FedSiteCd, School System, School System Name_x and School System Name_y 
#(they are all Orleans)
#Alsop dropping _merge, Parish Code, and School System Code, Site Code, and Site Name as per the check above 
nolasy22 = nolasy22.drop(columns=['School System','School System Name_x', 'Federal Reporting Site Code',
                                  'School System Name_y',
                                '_merge','Parish Code','School System Code','Site Code','Site Name_y'], axis=1)

In [59]:
nolasy22.shape

(77, 43)

In [60]:
#Lastly, add 'SY22' to all column names 
nolasy22 = nolasy22.add_prefix('sy22_')

In [61]:
nolasy19.head(1)

,sy19_SiteCd,sy19_SiteName,sy19_Total Students,sy19_%Female,sy19_%Male,sy19_AmInd,sy19_Asian,sy19_Black,sy19_Hispanic,sy19_HawPI,sy19_White,sy19_Multiple,sy19_Minority,sy19_%Fully-EP,sy19_%LEP,sy19_Infants SpEd,sy19_PreSchool SpEd,sy19_PreK,sy19_Kindergarten,sy19_Grade1,sy19_Grade2,sy19_Grade3,sy19_Grade4,sy19_Grade5,sy19_Grade6,sy19_Grade7,sy19_Grade8,sy19_Grade9,sy19_GradeT9,sy19_Grade10,sy19_Grade11,sy19_Grade12,sy19_ED%,sy19_Nonprofit,sy19_Charter Type,sy19_RollUpType,sy19_2018 % Mastery+ Grades 3-8,sy19_2019 % Mastery+ Grades 3-8,sy19_2018-2019 % Mastery+ Change Grades 3-8,sy19_2018 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy19_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy19_2018-2019 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History
0,036011,Mary Bethune Elementary Literature/Technology,688,0.521802,0.478198,0,2,669,15,0,2,0,686,0.985465,0.014535,0,2,38,78,78,80,81,79,82,54,55,61,0,0,0,0,0,0.818314,NaN,NaN,R36,31,33,2,31,34,3

In [62]:
nolasy21.head(1)

,sy21_SIS Submit Site Code,sy21_Site Name_x,sy21_Total Enrollment,sy21_% Female,sy21_% Male,sy21_American Indian,sy21_Asian,sy21_Black,sy21_Hispanic,sy21_Hawaiian/Pacific Islander,sy21_White,sy21_Multiple Races (Non-Hispanic),sy21_Minority,sy21_% Fully English Proficient,sy21_% Limited English Proficient,sy21_Infants (Sp Ed),sy21_Pre-School (Sp Ed),sy21_Pre-K (Reg Ed),sy21_Kindergarten,sy21_Grade 1,sy21_Grade 2,sy21_Grade 3,sy21_Grade 4,sy21_Grade 5,sy21_Grade 6,sy21_Grade 7,sy21_Grade 8,sy21_Grade 9,sy21_Grade T9,sy21_Grade 10,sy21_Grade 11,sy21_Grade 12,sy21_Extension Academy,sy21_% Economically Disadvantaged,sy21_Nonprofit Organization,sy21_Charter Type,sy21_School System Roll Up Type,sy21_2019 % Mastery+ Grades 3-8,sy21_2021 % Mastery+ Grades 3-8,sy21_2019-2021 % Mastery+ Change Grades 3-8,sy21_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy21_2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy21_2019-2021 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology
0,036011,Mary Bethune Elementary Literature/Technology,709,0.51622,0.48378,0,0,692,17,0,0,0,709,0.988717,0.0112835,0,6,32,76,75,78,78,78,76,78,79,53,0,0,0,0,0,0,0.854725,"Significant Educators, Inc.",Type 3,R36,30,17,-13,30,17,-13

In [63]:
print(nolasy19.shape)
print(nolasy21.shape)

(79, 42)
(77, 43)

In [64]:
print(nolasy19.duplicated(subset=['sy19_SiteCd']).sum())
print(nolasy19.duplicated(subset=['sy19_SiteName']).sum())

0
0

In [65]:
print(nolasy21.duplicated(subset=['sy21_SIS Submit Site Code']).sum())
print(nolasy21.duplicated(subset=['sy21_Site Name_x']).sum())

0
0

In [66]:
#Joining all three dataframes longitudinally to create final table 
#Join SY19 and SY21 data
sy19to21 = nolasy19.merge(nolasy21, left_on=['sy19_SiteCd'], 
                          right_on=['sy21_SIS Submit Site Code'], how='outer', indicator=True)

In [67]:
sy19to21.shape

(93, 86)

In [68]:
potential_sy21_closures = sy19to21.loc[sy19to21['_merge'] == 'left_only']
#School codes that appear only in the FY19 datafiles

In [69]:
potential_sy21_closures.shape
#16 schools appear only in the FY19 datafiles but not in the FY21 datafiles

(16, 86)

In [70]:
potential_sy21_new_schools = sy19to21.loc[sy19to21['_merge'] == 'right_only']
#School codes that appear only in the FY21 datafiles

In [71]:
potential_sy21_new_schools.shape
#14 schools appear in the FY21 datafile but not in the FY19 datafile

(14, 86)

In [72]:
potential_sy21_closures

,sy19_SiteCd,sy19_SiteName,sy19_Total Students,sy19_%Female,sy19_%Male,sy19_AmInd,sy19_Asian,sy19_Black,sy19_Hispanic,sy19_HawPI,sy19_White,sy19_Multiple,sy19_Minority,sy19_%Fully-EP,sy19_%LEP,sy19_Infants SpEd,sy19_PreSchool SpEd,sy19_PreK,sy19_Kindergarten,sy19_Grade1,sy19_Grade2,sy19_Grade3,sy19_Grade4,sy19_Grade5,sy19_Grade6,sy19_Grade7,sy19_Grade8,sy19_Grade9,sy19_GradeT9,sy19_Grade10,sy19_Grade11,sy19_Grade12,sy19_ED%,sy19_Nonprofit,sy19_Charter Type,sy19_RollUpType,sy19_2018 % Mastery+ Grades 3-8,sy19_2019 % Mastery+ Grades 3-8,sy19_2018-2019 % Mastery+ Change Grades 3-8,sy19_2018 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy19_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy19_2018-2019 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy21_SIS Submit Site Code,sy21_Site Name_x,sy21_Total Enrollment,sy21_% Female,sy21_% Male,sy21_American Indian,sy21_Asian,sy21_Black,sy21_Hispanic,sy21_Hawaiian/Pacific Islander,sy21_White,sy21_Multiple Races (Non-Hispanic),sy21_Minority,sy21_% Fully English Proficient,sy21_% Limited English Proficient,sy21_Infants (Sp Ed),sy21_Pre-School (Sp Ed),sy21_Pre-K (Reg Ed),sy21_Kindergarten,sy21_Grade 1,sy21_Grade 2,sy21_Grade 3,sy21_Grade 4,sy21_Grade 5,sy21_Grade 6,sy21_Grade 7,sy21_Grade 8,sy21_Grade 9,sy21_Grade T9,sy21_Grade 10,sy21_Grade 11,sy21_Grade 12,sy21_Extension Academy,sy21_% Economically Disadvantaged,sy21_Nonprofit Organization,sy21_Charter Type,sy21_School System Roll Up Type,sy21_2019 % Mastery+ Grades 3-8,sy21_2021 % Mastery+ Grades 3-8,sy21_2019-2021 % Mastery+ Change Grades 3-8,sy21_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy21_2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy21_2019-2021 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,_merge
1,036035,Warren Easton Senior High School,991.0,0.514632,0.485368,0.0,0.0,960.0,25.0,0.0,1.0,5.0,990.0,0.984864,0.015136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,229.0,15.0,247.0,245.0,255.0,0.784057,"Warren Easton Senior High School Foundation, Inc.",Type 3,R36,NR,NR,NR,28,21,-7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,036060,Edward Hynes Charter School,717.0,0.525802,0.474198,0.0,32.0,252.0,30.0,0.0,361.0,42.0,356.0,0.967922,0.032078,0.0,17.0,0.0,83.0,84.0,79.0,79.0,72.0,80.0,77.0,76.0,70.0,0.0,0.0,0.0,0.0,0.0,0.350070,Hynes Charter School Corporation,Type 3,R36,61,63,2,60,63,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
7,036192,Foundation Preparatory,177.0,0.440678,0.559322,0.0,5.0,125.0,41.0,2.0,4.0,0.0,173.0,0.728814,0.271186,0.0,0.0,0.0,32.0,53.0,42.0,23.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.994350,Foundation Prep,Type 1,R36,26,28,2,26,28,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8,036193,Cypress Academy,184.0,0.429348,0.570652,0.0,1.0,93.0,26.0,0.0,56.0,8.0,128.0,0.951087,0.048913,0.0,0.0,0.0,41.0,34.0,36.0,45.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.684783,Cypress Academy,Type 1,R36,37,35,-2,37,35,-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
12,300001,Pierre A. Capdau Charter School at Avery Alexa...,754.0,0.466844,0.533156,1.0,1.0,705.0,37.0,3.0,7.0,0.0,747.0,0.952255,0.047745,0.0,0.0,39.0,49.0,65.0,71.0,73.0,75.0,98.0,96.0,97.0,91.0,0.0,0.0,0.0,0.0,0.0,0.994695,New Beginnings Schools Foundation,type 3B,R36,14,16,2,14,16,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13,300002,Nelson Elementary School,277.0,0.440433,0.559567,7.0,1.0,265.0,4.0,0.0,0.0,0.0,277.0,0.981949,0.018051,0.0,0.0,19.0,17.0,26.0,23.0,21.0,32.0,36.0,27.0,40.0,36.0,0.0,0.0,0.0,0.0,0.0,1.000000,New Beginnings Schools Foundation,Type 3B,R36,10,11,1,10,11,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
14,300003,John F. Kennedy High School,683.0,0.493411,0.506589,0.0,1.0,661.0,18.0,0.0,2.0,1.0,681.0,0.976574,0.023426,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,203.0,0.0,152.0,160.0,168.0,0.995608,New Beginnings Schools Foundation,type 3B,R36,NR,NR,NR,8,9,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
20,367001,Edgar P. Harney Spirit of Excellence Academy,228.0,0.500000,0.500000,0.0,0.0,207.0,19.0,0.0,2.0,0.0,226.0,0.916667,0.083333,0.0,0.0,0.0,15.0,18.0,16.0,30.0,23.0,37.0,31.0,33.0,25.0,0.0,0.0,0.0,0.0,0.0,1.000000,"Spirit of Excellence Academy, Inc.",type 3B,R36,15,7,-8,15,7,-8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
24,369005,ReNEW Accelerated High School,230.0,0.478261,0.521739,1.0,0.0,206.0,21.0,0.0,2.0,0.0,228.0,0.908696,0.091304,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36.0,0.0,45.0,52.0,97.0,0.934783,ReNEW-Reinventing Education,Type 3B,R36,NR,NR,NR,2,4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
36,393001,Lafayette Academy,972.0,0.490741,0.509259,0.0,1.0,906.0,50.0,1.0,4.0,10.0,968.0,0.961934,0.038066,0.0,2.0,17.0,70.0,79.0,100.0,94.0,108.0,118.0,131.0,132.0,121.0,0.0,0.0,0.0,0.0,0.0,0.932099,Choice Foundation,type 3B,R36,24,11,-13,24,11,-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
37,393002,Esperanza Charter School,533.0,0.489681,0.510319,2.0,1.0,238.0,278.0,0.0,10.0,4.0,523.0,0.647280,0.352720,0.0,0.0,0.0,58.0,63.0,59.0,55.0,59.0,60.0,60.0,60.0,59.0,0.0,0.0,0.0,0.0,0.0,0.941839,Choice Foundation,type 3B,R36,23,22,-1,23,22,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
39,395003,William J. Fischer Accelerated Academy,188.0,0.468085,0.531915,0.0,0.0,182.0,5.0,1.0,0.0,0.0,188.0,0.968085,0.031915,0.0,0.0,0.0,11.0,17.0,16.0,20.0,25.0,23.0,23.0,23.0,30.0,0.0,0.0,0.0,0.0,0.0,1.000000,"Algiers Charter School Association, Inc.",Type 3B,R36,7,5,-2,7,5,-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
40,395004,McDonogh #32 Literacy Charter School,242.0,0.491736,0.508264,0.0,0.0,234.0,8.0,0.0,0.0,0.0,242.0,0.958678,0.041322,0.0,4.0,14.0,22.0,20.0,21.0,25.0,31.0,22.0,28.0,24.0,31.0,0.0,0.0,0.0,0.0,0.0,0.995868,"Algiers Charter School Association, Inc.",Type 3B,R36,5,3,-2,5,3,-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
52,399003,Joseph S. Clark Preparatory High School,43.0,0.441860,0.558140,0.0,0.0,41.0,2.0,0.0,0.0,0.0,43.0,0.976744,0.023256,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,42.0,0.837209,"FirstLine Schools, Inc.",Type 3B,R36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
56,3A5001,Mary D. Coghill Charter School,598.0,0.494983,0.505017,0.0,0.0,594.0,1.0,0.0,3.0,0.0,595.0,1.000000,0.000000,0.0,0.0,0.0,34.0,44.0,50.0,57.0,96.0,96.0,78.0,78.0,65.0,0.0,0.0,0.0,0.0,0.0,0.936455,Better Choice Foundation,type 3B,R36,13,13,0,13,13,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
58,W32001,Joseph A. Craig Charter School,377.0,0.440318,0.559682,1.0,0.0,353.0,23.0,0.0,0.0,0.0,377.0,0.946950,0.053050,0.0,1.0,39.0,30.0,43.0,34.0,35.0,35.0,50.0,30.0,42.0,38.0,0.0,0.0,0.0,0.0,0.0,0.986737,Friends of King,Type 3B,R36,9,10,1,9,10,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [73]:
potential_sy21_closures = potential_sy21_closures[['sy19_SiteCd','sy19_SiteName']]

In [74]:
potential_sy21_closures

   sy19_SiteCd                                      sy19_SiteName
1       036035                   Warren Easton Senior High School
2       036060                        Edward Hynes Charter School
7       036192                             Foundation Preparatory
8       036193                                    Cypress Academy
12      300001  Pierre A. Capdau Charter School at Avery Alexa...
13      300002                           Nelson Elementary School
14      300003                        John F. Kennedy High School
20      367001       Edgar P. Harney Spirit of Excellence Academy
24      369005                      ReNEW Accelerated High School
36      393001                                  Lafayette Academy
37      393002                           Esperanza Charter School
39      395003             William J. Fischer Accelerated Academy
40      395004               McDonogh #32 Literacy Charter School
52      399003            Joseph S. Clark Preparatory High School
56      3A5001                     Mary D. Coghill Charter School
58      W32001                     Joseph A. Craig Charter School

In [75]:
potential_sy21_new_schools = potential_sy21_new_schools[['sy21_SIS Submit Site Code','sy21_Site Name_x']]

In [76]:
potential_sy21_new_schools

   sy21_SIS Submit Site Code                        sy21_Site Name_x
79                    036021       Mary D. Coghill Elementary School
80                    360003     New Orleans Accelerated High School
81                    398009             John F. Kennedy High School
82                    3C2001  Edward Hynes Charter School - Lakeview
83                    3C2002       Edward Hynes Charter School - UNO
84                    3C3001          Foundation Preparatory Academy
85                    3C3002        Lafayette Academy Charter School
86                    3C3003                Esperanza Charter School
87                    WBW001                           Living School
88                    WBZ001          McDonogh 35 Senior High School
89                    WC2001                   Opportunities Academy
90                    WC3001                         IDEA Oscar Dunn
91                    WZB001       Warren Easton Charter High School
92                    WZF001         Pierre A. Capdau Charter School

In [77]:
potential_openers_list = potential_sy21_new_schools['sy21_Site Name_x'].tolist()

In [78]:
#Use fuzzy matching since school names seem to differ slightly 

def fuzzy(col, potential_openers_list, score):
    fuzzy_words, score = process.extractOne(col, potential_openers_list, scorer=score)
    if score<75:
        return 'no_high_matches'
    else:
        return fuzzy_words,score
    
potential_sy21_closures['fuzzy_match'] = potential_sy21_closures['sy19_SiteName'].apply(fuzzy, potential_openers_list=potential_openers_list, score=fuzz.ratio)

<ipython-input-78-572c01095d9f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  potential_sy21_closures['fuzzy_match'] = potential_sy21_closures['sy19_SiteName'].apply(fuzzy, potential_openers_list=potential_openers_list, score=fuzz.ratio)

In [79]:
potential_sy21_closures

,sy19_SiteCd,sy19_SiteName,fuzzy_match
1,036035,Warren Easton Senior High School,"(Warren Easton Charter High School, 86)"
2,036060,Edward Hynes Charter School,"(Edward Hynes Charter School - UNO, 90)"
7,036192,Foundation Preparatory,"(Foundation Preparatory Academy, 85)"
8,036193,Cypress Academy,no_high_matches
12,300001,Pierre A. Capdau Charter School at Avery Alexa...,"(Pierre A. Capdau Charter School, 77)"
13,300002,Nelson Elementary School,no_high_matches
14,300003,John F. Kennedy High School,"(John F. Kennedy High School, 100)"
20,367001,Edgar P. Harney Spirit of Excellence Academy,no_high_matches
24,369005,ReNEW Accelerated High School,"(New Orleans Accelerated High School, 84)"
36,393001,Lafayette Academy,no_high_matches
37,393002,Esperanza Charter School,"(Esperanza Charter School, 100)"
39,395003,William J. Fischer Accelerated Academy,no_high_matches
40,395004,McDonogh #32 Literacy Charter School,no_high_matches
52,399003,Joseph S. Clark Preparatory High School,no_high_matches
56,3A5001,Mary D. Coghill Charter School,"(Mary D. Coghill Elementary School, 79)"
58,W32001,Joseph A. Craig Charter School,no_high_matches

In [80]:
sy19_closures = potential_sy21_closures.loc[potential_sy21_closures['fuzzy_match'] == 'no_high_matches']
sy19_closure_list = dict(zip(sy19_closures.sy19_SiteCd, sy19_closures.sy19_SiteName))

In [81]:
sy19_closure_list

{'036193': 'Cypress Academy',
 '300002': 'Nelson Elementary School',
 '367001': 'Edgar P. Harney Spirit of Excellence Academy',
 '393001': 'Lafayette Academy',
 '395003': 'William J. Fischer Accelerated Academy',
 '395004': 'McDonogh #32 Literacy Charter School',
 '399003': 'Joseph S. Clark Preparatory High School',
 'W32001': 'Joseph A. Craig Charter School'}

In [82]:
len(sy19_closure_list)

8

Looks like 8 schools no longer enroll students in 2021. 

But fuzzy matching isn't perfect - the function didn't pick up on ReNEW Accelerated closing and turning into New Orleans Accelerated High, which brings the total schools that did not serve students in 2021 to **9**. It also should not include Lafayette Academy, which simply switched buildings.

In [112]:
sy19_closure_list.update({'369005':'ReNEW Accelerated High School'})
del sy19_closure_list['393001']

In [113]:
sy19_closure_list

{'036193': 'Cypress Academy',
 '300002': 'Nelson Elementary School',
 '367001': 'Edgar P. Harney Spirit of Excellence Academy',
 '395003': 'William J. Fischer Accelerated Academy',
 '395004': 'McDonogh #32 Literacy Charter School',
 '399003': 'Joseph S. Clark Preparatory High School',
 'W32001': 'Joseph A. Craig Charter School',
 '369005': 'ReNEW Accelerated High School'}

In [85]:
code_changers = potential_sy21_closures.loc[potential_sy21_closures['fuzzy_match'] != 'no_high_matches']
code_change_list = dict(zip(code_changers.sy19_SiteCd, code_changers.sy19_SiteName))

In [86]:
code_change_list

{'036035': 'Warren Easton Senior High School',
 '036060': 'Edward Hynes Charter School',
 '036192': 'Foundation Preparatory',
 '300001': 'Pierre A. Capdau Charter School at Avery Alexander',
 '300003': 'John F. Kennedy High School',
 '369005': 'ReNEW Accelerated High School',
 '393002': 'Esperanza Charter School',
 '3A5001': 'Mary D. Coghill Charter School'}

I know ReNEW Accelerated High School in actuality closed, so that brings the list of code changers down to 7. I also know Lafayette Academy should be on this list, which the function also missed.

In [116]:
code_change_list.update({'393001':'Lafayette Academy'})
del code_change_list['369005']

In [117]:
code_change_list

{'036035': 'Warren Easton Senior High School',
 '036060': 'Edward Hynes Charter School',
 '036192': 'Foundation Preparatory',
 '300001': 'Pierre A. Capdau Charter School at Avery Alexander',
 '300003': 'John F. Kennedy High School',
 '393002': 'Esperanza Charter School',
 '3A5001': 'Mary D. Coghill Charter School',
 '393001': 'Lafayette Academy'}

In [99]:
len(code_change_list)

7

In [100]:
potential_sy21_new_schools

   sy21_SIS Submit Site Code                        sy21_Site Name_x
79                    036021       Mary D. Coghill Elementary School
80                    360003     New Orleans Accelerated High School
81                    398009             John F. Kennedy High School
82                    3C2001  Edward Hynes Charter School - Lakeview
83                    3C2002       Edward Hynes Charter School - UNO
84                    3C3001          Foundation Preparatory Academy
85                    3C3002        Lafayette Academy Charter School
86                    3C3003                Esperanza Charter School
87                    WBW001                           Living School
88                    WBZ001          McDonogh 35 Senior High School
89                    WC2001                   Opportunities Academy
90                    WC3001                         IDEA Oscar Dunn
91                    WZB001       Warren Easton Charter High School
92                    WZF001         Pierre A. Capdau Charter School

In [103]:
potential_openers_list

['Mary D. Coghill Elementary School',
 'New Orleans Accelerated High School',
 'John F. Kennedy High School',
 'Edward Hynes Charter School - Lakeview',
 'Edward Hynes Charter School - UNO',
 'Foundation Preparatory Academy',
 'Lafayette Academy Charter School',
 'Esperanza Charter School',
 'Living School',
 'McDonogh 35 Senior High School',
 'Opportunities Academy',
 'IDEA Oscar Dunn',
 'Warren Easton Charter High School',
 'Pierre A. Capdau Charter School']

In [104]:
potential_sy21_new_schools

   sy21_SIS Submit Site Code                        sy21_Site Name_x
79                    036021       Mary D. Coghill Elementary School
80                    360003     New Orleans Accelerated High School
81                    398009             John F. Kennedy High School
82                    3C2001  Edward Hynes Charter School - Lakeview
83                    3C2002       Edward Hynes Charter School - UNO
84                    3C3001          Foundation Preparatory Academy
85                    3C3002        Lafayette Academy Charter School
86                    3C3003                Esperanza Charter School
87                    WBW001                           Living School
88                    WBZ001          McDonogh 35 Senior High School
89                    WC2001                   Opportunities Academy
90                    WC3001                         IDEA Oscar Dunn
91                    WZB001       Warren Easton Charter High School
92                    WZF001         Pierre A. Capdau Charter School

In [106]:
changers_list = list(code_change_list.values())

In [107]:
changers_list

['Warren Easton Senior High School',
 'Edward Hynes Charter School',
 'Foundation Preparatory',
 'Pierre A. Capdau Charter School at Avery Alexander',
 'John F. Kennedy High School',
 'Esperanza Charter School',
 'Mary D. Coghill Charter School']

In [109]:
#Repeat the process to find the new schools from 2021 which were not open in 2019 

def fuzzy2(col, changers_list, score):
    fuzzy_words, score = process.extractOne(col, changers_list, scorer=score)
    if score<75:
        return 'no_high_matches'
    else:
        return fuzzy_words,score
    
potential_sy21_new_schools['fuzzy_match'] = potential_sy21_new_schools['sy21_Site Name_x'].apply(fuzzy2, changers_list=changers_list, score=fuzz.ratio)

In [110]:
#If there is NOT a match, it means that school started enrolling students in 2021 
#Except for Lafayette Academy, which the funciton is missing
potential_sy21_new_schools

,sy21_SIS Submit Site Code,sy21_Site Name_x,fuzzy_match
79,036021,Mary D. Coghill Elementary School,"(Mary D. Coghill Charter School, 79)"
80,360003,New Orleans Accelerated High School,no_high_matches
81,398009,John F. Kennedy High School,"(John F. Kennedy High School, 100)"
82,3C2001,Edward Hynes Charter School - Lakeview,"(Edward Hynes Charter School, 83)"
83,3C2002,Edward Hynes Charter School - UNO,"(Edward Hynes Charter School, 90)"
84,3C3001,Foundation Preparatory Academy,"(Foundation Preparatory, 85)"
85,3C3002,Lafayette Academy Charter School,no_high_matches
86,3C3003,Esperanza Charter School,"(Esperanza Charter School, 100)"
87,WBW001,Living School,no_high_matches
88,WBZ001,McDonogh 35 Senior High School,no_high_matches
89,WC2001,Opportunities Academy,no_high_matches
90,WC3001,IDEA Oscar Dunn,no_high_matches
91,WZB001,Warren Easton Charter High School,"(Warren Easton Senior High School, 86)"
92,WZF001,Pierre A. Capdau Charter School,(Pierre A. Capdau Charter School at Avery Alex...

In [120]:
sy21_new_schools = potential_sy21_new_schools.loc[potential_sy21_new_schools['fuzzy_match'] == 'no_high_matches']

In [125]:
sy21_new_schools_list = sy21_new_schools.set_index('sy21_SIS Submit Site Code').to_dict()['sy21_Site Name_x']

In [126]:
sy21_new_schools_list

{'360003': 'New Orleans Accelerated High School',
 '3C3002': 'Lafayette Academy Charter School',
 'WBW001': 'Living School',
 'WBZ001': 'McDonogh 35 Senior High School',
 'WC2001': 'Opportunities Academy',
 'WC3001': 'IDEA Oscar Dunn'}

Question 5: I didn't individually Google all the schools whose school name was also their "School System Name" in the multistat files. I checked Lycee Francais and confirmed it to be a Type 2 charter, so I assumed all the others were Type 2 charters, but did not check each one. I would advise anyone using this code to review the "School System Name" lists and make sure that the table does not exclude schools they would like to include - especially if they are looking at schools outside of Orleans Parish. I am also unsure how fluid this Type 2 category is (do schools move between Type 1 and Type 2 from year to year?), so colleagues should exercise caution and double-check the status of the schools they are interested in to ensure that they aren't leaving out relevant data.