### I. Data Importing and Initial Cleaning
I approached the table creation and five questions somewhat out of order (for example, answering Question 1 last). Please see headings and markdown for notes on the work for each of the five questions.

In [1]:
#Import all libraries for data cleaning and merging
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from thefuzz import process
from fuzzywuzzy import fuzz

#Pandas settings
pd.set_option('display.max_rows',500)
pd.set_option('display.max_columns',500)
pd.options.display.float_format = "{:,.2f}".format

In [2]:
#Read in all multistat datafiles
#I have already moved the site tabs to the front & simplified column headings in Excel 
ms19 = pd.read_excel('data/2019-ms.xlsx')
ms21 = pd.read_excel('data/2021-ms.xlsx')
ms22 = pd.read_excel('data/2022-ms.xlsx')

#Read in all LEAP data
leap19 = pd.read_excel('data/2019-leap.xlsx')
leap21 = pd.read_excel('data/2021-leap.xlsx')
leap22 = pd.read_excel('data/2022-leap.xlsx')

In [3]:
#Dealing with multistats first
#Preview size of all files
print(ms19.shape)
print(ms21.shape)
print(ms22.shape)

(1414, 40)
(1399, 41)
(1394, 41)

In [4]:
ms19.head()

,School System,School System Name,SiteCd,FedSiteCd,SiteName,Total Students,%Female,%Male,AmInd,Asian,Black,Hispanic,HawPI,White,Multiple,Minority,%Fully-EP,%LEP,Infants SpEd,PreSchool SpEd,PreK,Kindergarten,Grade1,Grade2,Grade3,Grade4,Grade5,Grade6,Grade7,Grade8,Grade9,GradeT9,Grade10,Grade11,Grade12,ED%,Nonprofit,Charter Type,RollUpType,Parish Code
0,001,Acadia Parish,001001,001001,Armstrong Middle School,341,0.42,0.58,0,1,146,12,0,166,16,175,0.99,0.01,0,0,0,0,0,0,0,0,0,112,125,104,0,0,0,0,0,0.79,NaN,NaN,NaN,1.00
1,001,Acadia Parish,001002,001002,Branch Elementary School,277,0.49,0.51,0,0,20,9,0,240,8,37,0.99,0.01,0,1,19,35,28,31,31,35,25,24,27,21,0,0,0,0,0,0.55,NaN,NaN,NaN,1.00
2,001,Acadia Parish,001003,001003,Central Rayne Kindergarten School,215,0.51,0.49,0,0,85,1,0,111,18,104,1.00,0.00,0,12,68,135,0,0,0,0,0,0,0,0,0,0,0,0,0,0.79,NaN,NaN,NaN,1.00
3,001,Acadia Parish,001004,001004,Church Point Elementary School,587,0.46,0.54,4,0,237,47,0,243,56,344,0.99,0.01,0,3,55,88,79,91,91,90,90,0,0,0,0,0,0,0,0,0.85,NaN,NaN,NaN,1.00
4,001,Acadia Parish,001005,001005,Church Point High School,514,0.48,0.52,2,0,151,19,0,317,25,197,1.00,0.00,0,0,0,0,0,0,0,0,0,0,0,0,125,27,137,127,98,0.61,NaN,NaN,NaN,1.00

In [5]:
#Grabbing all variations of Orleans Parish before I filter
ms19['School System Name'].value_counts()

East Baton Rouge Parish                          86
Jefferson Parish                                 85
All Orleans                                      79
Caddo Parish                                     64
Calcasieu Parish                                 60
St. Tammany Parish                               56
Rapides Parish                                   47
Lafayette Parish                                 44
Livingston Parish                                44
Type 2 Charters                                  43
Ouachita Parish                                  37
Tangipahoa Parish                                35
St. Landry Parish                                34
Bossier Parish                                   34
Terrebonne Parish                                33
Acadia Parish                                    32
Lafourche Parish                                 31
Ascension Parish                                 28
Iberia Parish                                    26
St. Mary Parish                                  22
Vermilion Parish                                 21
City of Monroe School District                   20
Vernon Parish                                    19
St. Martin Parish                                17
St. Charles Parish                               17
Natchitoches Parish                              15
Lincoln Parish                                   15
Jefferson Davis Parish                           14
Webster Parish                                   14
Special School District                          13
St. Bernard Parish                               13
Beauregard Parish                                12
Evangeline Parish                                12
Richland Parish                                  12
St. John the Baptist Parish                      11
Allen Parish                                     11
Avoyelles Parish                                 11
Washington Parish                                11
Concordia Parish                                 11
West Baton Rouge Parish                          10
Sabine Parish                                    10
Assumption Parish                                 9
Grant Parish                                      9
DeSoto Parish                                     9
Bienville Parish                                  9
LaSalle Parish                                    9
Caldwell Parish                                   8
Plaquemines Parish                                8
Zachary Community School District                 8
RSD-Baton Rouge                                   7
St. James Parish                                  7
Franklin Parish                                   7
Iberville Parish                                  7
East Feliciana Parish                             7
Claiborne Parish                                  7
Madison Parish                                    6
Central Community School District                 6
Catahoula Parish                                  6
Morehouse Parish                                  6
Winn Parish                                       6
Pointe Coupee Parish                              6
West Feliciana Parish                             5
City of Baker School District                     5
Jackson Parish                                    5
West Carroll Parish                               5
Red River Parish                                  4
St. Helena Parish                                 4
City of Bogalusa School District                  4
Cameron Parish                                    4
Union Parish                                      4
East Carroll Parish                               3
Tensas Parish                                     2
Office of Juvenile Justice                        2
Southern University Lab School                    2
LA Schools for the Deaf and Visually Impaired     2
New Orleans Center for Creative Arts              1
Thrive Academy                                    1
RSD-Direct Run                                    1
Louisiana Special Education Center                1
Louisiana School for Math Science & the Arts      1
LSU Laboratory School                             1
Name: School System Name, dtype: int64

In [6]:
ms19.loc[ms19['School System Name'] == 'RSD-Direct Run']

,School System,School System Name,SiteCd,FedSiteCd,SiteName,Total Students,%Female,%Male,AmInd,Asian,Black,Hispanic,HawPI,White,Multiple,Minority,%Fully-EP,%LEP,Infants SpEd,PreSchool SpEd,PreK,Kindergarten,Grade1,Grade2,Grade3,Grade4,Grade5,Grade6,Grade7,Grade8,Grade9,GradeT9,Grade10,Grade11,Grade12,ED%,Nonprofit,Charter Type,RollUpType,Parish Code
1337,RLA,RSD-Direct Run,396211,396211,Linwood Charter School,980,0.54,0.46,0,0,949,19,0,7,5,973,0.99,0.01,0,0,20,122,120,109,120,115,72,104,99,99,0,0,0,0,0,0.97,NaN,NaN,RLA,9.00

In [7]:
#Ignoring Linwood as it is in Shreveport and ignoring NOCCA as it is a Type 2 Charter
#Let's pull Orleans parish schools only
#Starting with SY19 
nolams19 = ms19.loc[(ms19['School System Name'] == 'All Orleans')]

In [8]:
nolams19.shape

(79, 40)

In [9]:
#Repeating process for SY21 ms file
ms21.head()

,School System,School System Name,SIS Submit Site Code,Federal Reporting Site Code,Site Name,Total Enrollment,% Female,% Male,American Indian,Asian,Black,Hispanic,Hawaiian/Pacific Islander,White,Multiple Races (Non-Hispanic),Minority,% Fully English Proficient,% Limited English Proficient,Infants (Sp Ed),Pre-School (Sp Ed),Pre-K (Reg Ed),Kindergarten,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade T9,Grade 10,Grade 11,Grade 12,Extension Academy,% Economically Disadvantaged,Nonprofit Organization,Charter Type,School System Roll Up Type,Parish Code
0,School System,School System Name,SiteCd,FedSiteCd,SiteName,Total Students,%Female,%Male,AmInd,Asian,Black,Hispanic,HawPI,White,Multiple,Minority,%Fully-EP,%LEP,Infants SpEd,PreSchool SpEd,PreK,Kindergarten,Grade1,Grade2,Grade3,Grade4,Grade5,Grade6,Grade7,Grade8,Grade9,GradeT9,Grade10,Grade11,Grade12,Extension Academy,ED%,Nonprofit,Charter Type,RollUpType,Parish Code
1,001,Acadia Parish,001001,001001,Armstrong Middle School,337,0.52,0.48,1,0,157,9,0,145,25,192,0.99,0.01,0,0,0,0,0,0,0,0,0,131,96,110,0,0,0,0,0,0,0.88,NaN,NaN,NaN,01
2,001,Acadia Parish,001002,001002,Branch Elementary School,348,0.49,0.51,0,1,28,16,0,290,13,58,0.99,0.01,0,1,19,33,48,39,39,39,30,40,37,23,0,0,0,0,0,0,0.60,NaN,NaN,NaN,01
3,001,Acadia Parish,001003,001003,Central Rayne Kindergarten School,196,0.48,0.52,2,1,78,7,0,101,7,95,0.99,0.01,0,6,56,134,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.83,NaN,NaN,NaN,01
4,001,Acadia Parish,001004,001004,Church Point Elementary School,577,0.47,0.53,3,0,248,48,0,240,38,337,0.98,0.02,0,4,58,90,96,85,91,79,74,0,0,0,0,0,0,0,0,0,0.91,NaN,NaN,NaN,01

In [10]:
ms21['School System Name'].value_counts()

East Baton Rouge Parish                          82
Jefferson Parish                                 81
Orleans Parish                                   77
Calcasieu Parish                                 61
Caddo Parish                                     59
St. Tammany Parish                               57
Rapides Parish                                   51
Lafayette Parish                                 46
Livingston Parish                                44
Type 2 Charters                                  39
Ouachita Parish                                  37
Bossier Parish                                   35
Tangipahoa Parish                                34
St. Landry Parish                                33
Lafourche Parish                                 32
Acadia Parish                                    32
Terrebonne Parish                                32
Ascension Parish                                 31
Iberia Parish                                    24
St. Mary Parish                                  22
Vermilion Parish                                 21
City of Monroe School District                   20
Vernon Parish                                    19
St. Martin Parish                                17
St. Charles Parish                               17
Lincoln Parish                                   15
Webster Parish                                   15
Natchitoches Parish                              14
Jefferson Davis Parish                           14
St. Bernard Parish                               13
Richland Parish                                  12
Evangeline Parish                                12
Beauregard Parish                                12
Allen Parish                                     12
Concordia Parish                                 11
St. John the Baptist Parish                      11
Avoyelles Parish                                 11
Washington Parish                                11
DeSoto Parish                                    10
Sabine Parish                                    10
West Baton Rouge Parish                          10
Bienville Parish                                  9
Grant Parish                                      9
Assumption Parish                                 9
LaSalle Parish                                    9
Special School District                           9
Caldwell Parish                                   8
Zachary Community School District                 8
Plaquemines Parish                                8
Claiborne Parish                                  7
Franklin Parish                                   7
East Feliciana Parish                             7
St. James Parish                                  7
Iberville Parish                                  7
Morehouse Parish                                  6
Winn Parish                                       6
Central Community School District                 6
Recovery School District - Baton Rouge            6
Pointe Coupee Parish                              6
Madison Parish                                    5
West Carroll Parish                               5
Cameron Parish                                    5
Jackson Parish                                    5
Red River Parish                                  5
Catahoula Parish                                  5
City of Baker School District                     4
Union Parish                                      4
City of Bogalusa School District                  4
St. Helena Parish                                 4
West Feliciana Parish                             4
East Carroll Parish                               3
Office of Juvenile Justice                        3
LA Schools for the Deaf and Visually Impaired     2
Southern University Lab School                    2
Tensas Parish                                     2
Louisiana School for Math Science & the Arts      1
Thrive Academy                                    1
New Orleans Center for Creative Arts              1
Recovery School District - Louisiana              1
LSU Laboratory School                             1
School System Name                                1
Name: School System Name, dtype: int64

In [11]:
ms21.loc[ms21['School System Name'] == 'Recovery School District - Louisiana']

,School System,School System Name,SIS Submit Site Code,Federal Reporting Site Code,Site Name,Total Enrollment,% Female,% Male,American Indian,Asian,Black,Hispanic,Hawaiian/Pacific Islander,White,Multiple Races (Non-Hispanic),Minority,% Fully English Proficient,% Limited English Proficient,Infants (Sp Ed),Pre-School (Sp Ed),Pre-K (Reg Ed),Kindergarten,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade T9,Grade 10,Grade 11,Grade 12,Extension Academy,% Economically Disadvantaged,Nonprofit Organization,Charter Type,School System Roll Up Type,Parish Code
1397,RLA,Recovery School District - Louisiana,396211,396211,Linwood Charter School,965,0.52,0.48,0,0,914,39,0,3,9,962,0.97,0.03,0,0,30,95,108,103,110,99,103,122,103,92,0,0,0,0,0,0,0.97,NaN,NaN,RLA,09

In [12]:
nolams21 = ms21.loc[ms21['School System Name'] == 'Orleans Parish']

In [13]:
#One more time for SY 22 multistat file
ms22.head()

,School System,School System Name,SIS Submit Site Code,Federal Reporting Site Code,Site Name,Total Enrollment,% Female,% Male,American Indian,Asian,Black,Hispanic,Hawaiian/Pacific Islander,White,Multiple Races (Non-Hispanic),Minority,% Fully English Proficient,% Limited English Proficient,Infants (Sp Ed),Pre-School (Sp Ed),Pre-K (Reg Ed),Kindergarten,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade T9,Grade 10,Grade 11,Grade 12,Extension Academy,% Economically Disadvantaged,Nonprofit Organization,Charter Type,School System Roll Up Type,Parish Code
0,School System,School System Name,SiteCd,FedSiteCd,SiteName,Total Students,%Female,%Male,AmInd,Asian,Black,Hispanic,HawPI,White,Multiple,Minority,%Fully-EP,%LEP,Infants SpEd,PreSchool SpEd,PreK,Kindergarten,Grade1,Grade2,Grade3,Grade4,Grade5,Grade6,Grade7,Grade8,Grade9,GradeT9,Grade10,Grade11,Grade12,Extension Academy,ED%,Nonprofit,Charter Type,RollUpType,Parish Code
1,001,Acadia Parish,001001,001001,Armstrong Middle School,338,0.46,0.54,0,1,160,10,0,143,24,195,1.00,0.00,0,0,0,0,0,0,0,0,0,129,117,92,0,0,0,0,0,0,0.83,NaN,NaN,NaN,01
2,001,Acadia Parish,001002,001002,Branch Elementary School,353,0.47,0.53,0,1,39,14,0,288,11,65,0.99,0.01,0,3,17,36,36,48,38,39,39,32,36,29,0,0,0,0,0,0,0.56,NaN,NaN,NaN,01
3,001,Acadia Parish,001003,001003,Central Rayne Kindergarten School,204,0.51,0.49,3,1,82,8,0,95,15,109,0.99,0.01,0,5,71,128,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.81,NaN,NaN,NaN,01
4,001,Acadia Parish,001004,001004,Church Point Elementary School,601,0.45,0.55,3,1,255,51,0,250,41,351,0.97,0.03,0,6,54,104,91,91,84,88,83,0,0,0,0,0,0,0,0,0,0.85,NaN,NaN,NaN,01

In [14]:
ms22['School System Name'].value_counts()

East Baton Rouge Parish                          84
Jefferson Parish                                 82
Orleans Parish                                   77
Calcasieu Parish                                 60
Caddo Parish                                     59
St. Tammany Parish                               56
Rapides Parish                                   48
Lafayette Parish                                 46
Livingston Parish                                44
Type 2 Charters                                  40
Ouachita Parish                                  37
Bossier Parish                                   35
Tangipahoa Parish                                34
St. Landry Parish                                34
Lafourche Parish                                 32
Ascension Parish                                 32
Acadia Parish                                    32
Terrebonne Parish                                31
Iberia Parish                                    24
St. Mary Parish                                  22
Vermilion Parish                                 21
City of Monroe School District                   20
Vernon Parish                                    19
St. Charles Parish                               17
St. Martin Parish                                16
Lincoln Parish                                   15
Jefferson Davis Parish                           14
Natchitoches Parish                              14
Webster Parish                                   14
St. Bernard Parish                               13
Evangeline Parish                                12
Beauregard Parish                                12
Richland Parish                                  12
St. John the Baptist Parish                      11
Concordia Parish                                 11
Avoyelles Parish                                 11
Allen Parish                                     11
Washington Parish                                11
West Baton Rouge Parish                          10
Sabine Parish                                    10
DeSoto Parish                                    10
Bienville Parish                                  9
Assumption Parish                                 9
LaSalle Parish                                    9
Grant Parish                                      9
Plaquemines Parish                                8
Caldwell Parish                                   8
Zachary Community School District                 8
Special School District                           8
Franklin Parish                                   7
Claiborne Parish                                  7
St. James Parish                                  7
Iberville Parish                                  7
Pointe Coupee Parish                              6
Recovery School District - Baton Rouge            6
East Feliciana Parish                             6
Central Community School District                 6
Winn Parish                                       6
Red River Parish                                  5
Madison Parish                                    5
Jackson Parish                                    5
Catahoula Parish                                  5
West Carroll Parish                               5
City of Bogalusa School District                  5
Cameron Parish                                    5
Morehouse Parish                                  5
City of Baker School District                     4
St. Helena Parish                                 4
West Feliciana Parish                             4
Union Parish                                      4
Office of Juvenile Justice                        3
East Carroll Parish                               3
Tensas Parish                                     2
Southern University Lab School                    2
LA Schools for the Deaf and Visually Impaired     2
Louisiana School for Math Science & the Arts      1
LSU Laboratory School                             1
Recovery School District - Louisiana              1
Thrive Academy                                    1
School System Name                                1
New Orleans Center for Creative Arts              1
Name: School System Name, dtype: int64

In [15]:
nolams22 = ms22.loc[ms22['School System Name'] == 'Orleans Parish']

In [16]:
#PLAN - 
#Merge LEAP and multistat files for each year (2019, 2021, 2022) -> 3 separate files
#Add years to each column heading
#Merge datafiles together, using an outer join

print(nolams19.shape)
print(nolams21.shape)
print(nolams22.shape)

(79, 40)
(77, 41)
(77, 41)

In [17]:
nolams19.head(79)

,School System,School System Name,SiteCd,FedSiteCd,SiteName,Total Students,%Female,%Male,AmInd,Asian,Black,Hispanic,HawPI,White,Multiple,Minority,%Fully-EP,%LEP,Infants SpEd,PreSchool SpEd,PreK,Kindergarten,Grade1,Grade2,Grade3,Grade4,Grade5,Grade6,Grade7,Grade8,Grade9,GradeT9,Grade10,Grade11,Grade12,ED%,Nonprofit,Charter Type,RollUpType,Parish Code
746,R36,All Orleans,036011,036011,Mary Bethune Elementary Literature/Technology,688,0.52,0.48,0,2,669,15,0,2,0,686,0.99,0.01,0,2,38,78,78,80,81,79,82,54,55,61,0,0,0,0,0,0.82,NaN,NaN,R36,36.00
747,R36,All Orleans,036035,036035,Warren Easton Senior High School,991,0.51,0.49,0,0,960,25,0,1,5,990,0.98,0.02,0,0,0,0,0,0,0,0,0,0,0,0,229,15,247,245,255,0.78,"Warren Easton Senior High School Foundation, Inc.",Type 3,R36,36.00
748,R36,All Orleans,036060,036060,Edward Hynes Charter School,717,0.53,0.47,0,32,252,30,0,361,42,356,0.97,0.03,0,17,0,83,84,79,79,72,80,77,76,70,0,0,0,0,0,0.35,Hynes Charter School Corporation,Type 3,R36,36.00
749,R36,All Orleans,036088,036088,McDonogh #35 College Preparatory School,445,0.44,0.56,0,1,442,2,0,0,0,445,1.00,0.00,0,0,0,0,0,0,0,0,0,0,0,0,10,0,146,107,182,0.89,NaN,NaN,R36,36.00
750,R36,All Orleans,036132,036132,Youth Study Center,106,0.06,0.94,0,0,104,2,0,0,0,106,0.99,0.01,0,0,0,0,0,0,0,0,0,0,0,4,35,0,32,14,21,0.90,NaN,NaN,R36,36.00
751,R36,All Orleans,036161,036161,Benjamin Franklin Elem. Math and Science,797,0.49,0.51,2,7,742,13,2,24,7,773,0.98,0.02,0,26,16,74,78,82,82,83,88,93,87,88,0,0,0,0,0,0.75,NaN,NaN,R36,36.00
752,R36,All Orleans,036189,036189,Homer A. Plessy Community School,397,0.48,0.52,2,7,177,48,0,118,45,279,0.92,0.08,0,0,39,50,42,46,44,54,53,40,29,0,0,0,0,0,0,0.78,Citizens' Committee for Education,Type 1,R36,36.00
753,R36,All Orleans,036192,036192,Foundation Preparatory,177,0.44,0.56,0,5,125,41,2,4,0,173,0.73,0.27,0,0,0,32,53,42,23,27,0,0,0,0,0,0,0,0,0,0.99,Foundation Prep,Type 1,R36,36.00
754,R36,All Orleans,036193,036193,Cypress Academy,184,0.43,0.57,0,1,93,26,0,56,8,128,0.95,0.05,0,0,0,41,34,36,45,28,0,0,0,0,0,0,0,0,0,0.68,Cypress Academy,Type 1,R36,36.00
755,R36,All Orleans,036197,036197,Elan Academy Charter School,143,0.47,0.53,0,1,116,6,0,11,9,132,0.97,0.03,0,0,18,33,48,22,22,0,0,0,0,0,0,0,0,0,0,0.78,"Elan Academy, Inc.",Type 1,R36,36.00
756,R36,All Orleans,036198,036198,Rooted School,97,0.30,0.70,0,1,84,7,0,5,0,92,0.96,0.04,0,0,0,0,0,0,0,0,0,0,0,0,56,0,41,0,0,0.81,Rooted School,Type 1,R36,36.00
757,R36,All Orleans,036700,036700,Orleans Central Office,269,0.39,0.61,0,8,187,12,0,53,9,216,1.00,0.00,0,269,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.62,NaN,NaN,R36,36.00
1284,R36,All Orleans,300001,W12001,Pierre A. Capdau Charter School at Avery Alexa...,754,0.47,0.53,1,1,705,37,3,7,0,747,0.95,0.05,0,0,39,49,65,71,73,75,98,96,97,91,0,0,0,0,0,0.99,New Beginnings Schools Foundation,type 3B,R36,36.00
1285,R36,All Orleans,300002,W11001,Nelson Elementary School,277,0.44,0.56,7,1,265,4,0,0,0,277,0.98,0.02,0,0,19,17,26,23,21,32,36,27,40,36,0,0,0,0,0,1.00,New Beginnings Schools Foundation,Type 3B,R36,36.00
1286,R36,All Orleans,300003,W13001,John F. Kennedy High School,683,0.49,0.51,0,1,661,18,0,2,1,681,0.98,0.02,0,0,0,0,0,0,0,0,0,0,0,0,203,0,152,160,168,1.00,New Beginnings Schools Foundation,type 3B,R36,36.00
1309,R36,All Orleans,360001,WAH001,The NET Charter High School,142,0.44,0.56,0,2,121,8,0,10,1,132,0.96,0.04,0,0,0,0,0,0,0,0,0,0,0,8,24,0,34,29,47,0.95,Educators for Quality Alternatives,Type 3B,R36,36.00
1310,R36,All Orleans,360002,WZ9001,The NET 2 Charter High School,172,0.49,0.51,0,4,168,0,0,0,0,172,1.00,0.00,0,0,0,0,0,0,0,0,0,0,0,7,35,2,38,47,43,0.92,Educators for Quality Alternatives,Type 3B,R36,36.00
1311,R36,All Orleans,363001,WAF001,Harriet Tubman Charter School,901,0.49,0.51,2,5,770,91,0,11,22,890,0.94,0.06,0,0,55,79,84,92,97,99,100,103,100,92,0,0,0,0,0,0.93,Crescent City Schools,Type 3B,R36,36.00
1312,R36,All Orleans,363002,WAM001,Paul Habans Charter School,696,0.49,0.51,0,5,619,60,1,6,5,690,0.91,0.09,0,0,59,76,70,69,66,67,66,81,76,66,0,0,0,0,0,0.97,Crescent City Schools,Type 3B,R36,36.00
1313,R36,All Orleans,364001,WAE001,Fannie C. Williams Charter School,577,0.50,0.50,0,3,521,52,0,0,1,577,0.91,0.09,0,3,37,48,62,67,74,74,58,51,51,52,0,0,0,0,0,1.00,Community Leaders Advocating Student Success,Type 3B,R36,36.00
1314,R36,All Orleans,367001,WAB001,Edgar P. Harney Spirit of Excellence Academy,228,0.50,0.50,0,0,207,19,0,2,0,226,0.92,0.08,0,0,0,15,18,16,30,23,37,31,33,25,0,0,0,0,0,1.00,"Spirit of Excellence Academy, Inc.",type 3B,R36,36.00
1315,R36,All Orleans,368001,WAA001,Morris Jeff Community School,1004,0.47,0.53,0,6,514,171,0,268,45,736,0.92,0.08,0,11,89,81,81,80,80,80,79,80,80,79,91,16,77,0,0,0.70,Morris Jeff Community School,Type 3B,R36,36.00
1316,R36,All Orleans,369002,WZ2001,ReNEW SciTech Academy at Laurel,1043,0.46,0.54,0,5,943,67,0,23,5,1020,0.97,0.03,0,270,84,49,62,54,71,89,94,90,93,87,0,0,0,0,0,0.93,ReNEW-Reinventing Education,Type 3B,R36,36.00
1317,R36,All Orleans,369003,WZ3001,ReNEW Dolores T. Aaron Elementary,810,0.50,0.50,0,1,770,33,0,5,1,805,0.96,0.04,0,2,49,77,81,86,81,93,95,91,88,67,0,0,0,0,0,0.96,ReNEW-Reinventing Education,Type 3B,R36,36.00
1318,R36,All Orleans,369005,WZ5001,ReNEW Accelerated High School,230,0.48,0.52,1,0,206,21,0,2,0,228,0.91,0.09,0,0,0,0,0,0,0,0,0,0,0,0,36,0,45,52,97,0.93,ReNEW-Reinventing Education,Type 3B,R36,36.00
1319,R36,All Orleans,369006,WZ6001,ReNEW Schaumburg Elementary,775,0.46,0.54,1,2,735,34,1,2,0,773,0.95,0.05,0,1,56,61,49,58,81,88,93,98,97,93,0,0,0,0,0,0.95,ReNEW-Reinventing Education,Type 3B,R36,36.00
1320,R36,All Orleans,373001,WV1001,Arise Academy,495,0.45,0.55,0,0,481,8,0,5,1,490,0.99,0.01,0,0,0,43,28,51,53,54,75,63,75,53,0,0,0,0,0,0.98,ARISE Academy,Type 3B,R36,36.00
1321,R36,All Orleans,373002,WV2001,Mildred Osborne Charter School,503,0.45,0.55,0,0,484,15,0,4,0,499,0.97,0.03,0,0,0,33,38,47,51,64,72,64,73,61,0,0,0,0,0,0.94,Arise Academy,Type 3B,R36,36.00
1322,R36,All Orleans,374001,WU1001,Success Preparatory Academy,430,0.49,0.51,1,0,325,101,0,2,1,428,0.79,0.21,0,0,0,40,40,46,36,49,54,57,54,54,0,0,0,0,0,0.97,Success Preparatory Academy,Type 3B,R36,36.00
1323,R36,All Orleans,381001,WI1001,Akili Academy of New Orleans,623,0.51,0.49,0,1,601,14,0,6,1,617,0.98,0.02,0,4,17,50,45,52,69,76,79,81,78,72,0,0,0,0,0,0.95,Crescent City Schools,Type 3B,R36,36.00
1324,R36,All Orleans,382001,WJ1001,Abramson Sci Academy,588,0.47,0.53,2,26,531,16,2,8,3,580,0.93,0.07,0,0,0,0,0,0,0,0,0,0,0,0,137,25,162,145,119,1.00,Collegiate Academies,type 3B,R36,36.00
1325,R36,All Orleans,382002,WJ2001,G W Carver High School,860,0.44,0.56,2,12,774,66,0,6,0,854,0.92,0.08,0,0,0,0,0,0,0,0,0,0,0,0,164,38,191,196,271,0.94,Collegiate Academies,Type 3B,R36,36.00
1326,R36,All Orleans,382004,WJ4001,Livingston Collegiate Academy,482,0.52,0.48,1,2,450,22,0,7,0,475,0.97,0.03,0,0,0,0,0,0,0,0,0,0,0,0,151,26,163,142,0,1.00,Collegiate Academies,Type 3B,R36,36.00
1327,R36,All Orleans,385002,WE2001,Walter L. Cohen College Prep,340,0.45,0.55,1,1,227,99,1,11,0,329,0.72,0.28,0,0,0,0,0,0,0,0,0,0,0,0,43,42,77,88,90,0.93,New Orleans College Preparatory Academies,Type 3B,R36,36.00
1328,R36,All Orleans,385003,WE3001,Lawrence D. Crocker College Prep,548,0.49,0.51,0,1,461,80,0,4,2,544,0.86,0.14,0,2,38,56,58,43,54,70,57,58,54,58,0,0,0,0,0,0.94,New Orleans College Preparatory Academies,Type 3B,R36,36.00
1330,R36,All Orleans,390001,W21001,James M. Singleton Charter School,424,0.50,0.50,0,0,384,38,0,2,0,422,0.93,0.07,0,0,38,42,35,41,25,53,44,54,46,46,0,0,0,0,0,0.96,Dryades Young Men's Christian Association (YMCA),Type 3B,R36,36.00
1331,R36,All Orleans,393001,W51001,Lafayette Academy,972,0.49,0.51,0,1,906,50,1,4,10,968,0.96,0.04,0,2,17,70,79,100,94,108,118,131,132,121,0,0,0,0,0,0.93,Choice Foundation,type 3B,R36,36.00
1332,R36,All Orleans,393002,W52001,Esperanza Charter School,533,0.49,0.51,2,1,238,278,0,10,4,523,0.65,0.35,0,0,0,58,63,59,55,59,60,60,60,59,0,0,0,0,0,0.94,Choice Foundation,type 3B,R36,36.00
1333,R36,All Orleans,395001,W66001,Martin Behrman Charter Acad of Creative Arts &...,734,0.47,0.53,0,0,709,12,6,3,4,731,0.99,0.01,0,5,55,76,65,72,63,76,77,82,84,79,0,0,0,0,0,1.00,"Algiers Charter School Association, Inc.",Type 3B,R36,36.00
1334,R36,All Orleans,395003,W64001,William J. Fischer Accelerated Academy,188,0.47,0.53,0,0,182,5,1,0,0,188,0.97,0.03,0,0,0,11,17,16,20,25,23,23,23,30,0,0,0,0,0,1.00,"Algiers Charter School Association, Inc.",Type 3B,R36,36.00
1335,R36,All Orleans,395004,W63001,McDonogh #32 Literacy Charter School,242,0.49,0.51,0,0,234,8,0,0,0,242,0.96,0.04,0,4,14,22,20,21,25,31,22,28,24,31,0,0,0,0,0,1.00,"Algiers Charter School Association, Inc.",Type 3B,R36,36.00
1336,R36,All Orleans,395005,W62001,Lord Beaconsfield Landry-Oliver Perry Walker High,998,0.45,0.55,0,2,953,38,0,3,2,995,0.96,0.04,0,0,0,0,0,0,0,0,0,0,0,0,218,0,255,256,269,0.99,"Algiers Charter School Association, Inc.",Type 3B,R36,36.00
1338,R36,All Orleans,397001,W71001,Sophie B. Wright Institute of Academic Excellence,530,0.55,0.45,1,1,493,27,1,5,2,525,0.97,0.03,0,0,0,0,0,0,0,0,0,0,0,0,144,0,128,128,130,0.86,Institute for Academic Excellence,Type 3B,R36,36.00
1339,R36,All Orleans,398001,W82001,KIPP Believe,674,0.51,0.49,2,2,619,34,0,12,5,662,0.97,0.03,0,0,0,49,61,73,84,82,80,84,84,77,0,0,0,0,0,0.92,"KIPP New Orleans, Inc.",Type 3B,R36,36.00
1340,R36,All Orleans,398002,W81001,KIPP Morial,995,0.48,0.52,0,1,916,60,0,5,13,990,0.96,0.04,0,0,40,96,79,103,106,113,122,116,110,110,0,0,0,0,0,0.92,"KIPP New Orleans, Inc.",Type 3B,R36,36.00
1341,R36,All Orleans,398004,WL1001,KIPP Central City,960,0.50,0.50,1,0,897,40,0,3,19,957,0.97,0.03,0,0,0,97,97,112,107,114,115,109,107,102,0,0,0,0,0,0.96,"KIPP New Orleans, Inc.",Type 3B,R36,36.00
1342,R36,All Orleans,398005,W84001,KIPP Renaissance,571,0.50,0.50,1,1,532,21,1,8,7,563,0.98,0.02,0,0,0,0,0,0,0,0,0,0,0,0,153,19,150,131,118,0.87,"KIPP New Orleans, Inc.",type 3B,R36,36.00
1343,R36,All Orleans,398006,W85001,KIPP Leadership,919,0.51,0.49,0,0,862,36,0,2,19,917,0.98,0.02,0,0,0,82,88,100,103,110,117,109,108,102,0,0,0,0,0,0.96,"KIPP New Orleans, Inc.",Type 3B,R36,36.00
1344,R36,All Orleans,398007,W86001,KIPP East Community,515,0.49,0.51,1,0,476,33,0,5,0,510,0.95,0.05,0,0,40,105,71,91,101,107,0,0,0,0,0,0,0,0,0,0.92,"KIPP New Orleans, Inc.",Type 3B,R36,36.00
1345,R36,All Orleans,398008,W87001,KIPP Booker T Washington,383,0.47,0.53,0,0,356,25,0,0,2,383,0.96,0.04,0,0,0,0,0,0,0,0,0,0,0,0,123,17,120,123,0,0.91,"KIPP New Orleans, Inc.",Type 3B,R36,36.00
1346,R36,All Orleans,399001,W91001,Samuel J. Green Charter School,504,0.45,0.55,0,0,457,27,0,19,1,485,0.99,0.01,0,0,17,37,39,38,61,60,67,61,61,63,0,0,0,0,0,0.93,"FirstLine Schools, Inc.",type 3B,R36,36.00
1347,R36,All Orleans,399002,W92001,Arthur Ashe Charter School,830,0.47,0.53,0,1,789,29,0,8,3,822,0.99,0.01,0,0,0,89,89,94,94,92,93,93,92,94,0,0,0,0,0,0.88,"FirstLine Schools, Inc.",type 3B,R36,36.00
1348,R36,All Orleans,399003,W93001,Joseph S. Clark Preparatory High School,43,0.44,0.56,0,0,41,2,0,0,0,43,0.98,0.02,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,42,0.84,"FirstLine Schools, Inc.",Type 3B,R36,36.00
1349,R36,All Orleans,399004,W94001,Phillis Wheatley Community School,835,0.51,0.49,0,0,726,105,0,4,0,831,0.91,0.09,0,2,38,90,79,86,90,89,91,93,89,88,0,0,0,0,0,0.93,"FirstLine Schools, Inc.",type 3B,R36,36.00
1350,R36,All Orleans,399005,W95001,Langston Hughes Charter Academy,795,0.48,0.52,0,2,764,23,0,1,5,794,0.97,0.03,0,2,35,76,59,87,92,90,89,88,88,89,0,0,0,0,0,0.93,"FirstLine Schools, Inc.",type 3B,R36,36.00
1351,R36,All Orleans,399006,WBS001,FirstLine Live Oak,477,0.53,0.47,0,0,360,94,0,23,0,454,0.84,0.16,0,1,39,44,29,36,29,56,64,63,60,56,0,0,0,0,0,0.95,"FirstLine Schools, Inc.",type 3B,R36,36.00
1352,R36,All Orleans,3A5001,W5A001,Mary D. Coghill Charter School,598,0.49,0.51,0,0,594,1,0,3,0,595,1.00,0.00,0,0,0,34,44,50,57,96,96,78,78,65,0,0,0,0,0,0.94,Better Choice Foundation,type 3B,R36,36.00
1365,R36,All Orleans,W31001,W31001,Dr. Martin Luther King Charter School for Sci ...,1016,0.52,0.48,0,0,995,17,0,2,2,1014,1.00,0.00,0,0,78,73,69,68,56,53,55,52,57,54,67,0,105,129,100,0.94,Friends of King,type 3B,R36,36.00
1366,R36,All Orleans,W32001,W32001,Joseph A. Craig Charter School,377,0.44,0.56,1,0,353,23,0,0,0,377,0.95,0.05,0,1,39,30,43,34,35,35,50,30,42,38,0,0,0,0,0,0.99,Friends of King,Type 3B,R36,36.00
1389,R36,All Orleans,WAZ001,WAZ001,Audubon Charter School,873,0.52,0.48,5,23,423,49,0,314,59,559,0.97,0.03,0,18,64,97,98,92,92,98,84,76,91,63,0,0,0,0,0,0.49,"French and Montessori Education, Inc.",Type 3,R36,36.00
1390,R36,All Orleans,WBA001,WBA001,Einstein Charter School at Village De L'Est,465,0.49,0.51,2,76,228,150,0,7,2,458,0.62,0.38,0,2,38,70,58,71,76,72,78,0,0,0,0,0,0,0,0,0.94,"The Einstein Group, Inc.",Type 1,R36,36.00
1391,R36,All Orleans,WBB001,WBB001,Benjamin Franklin High School,982,0.59,0.41,5,188,290,67,1,353,78,629,1.00,0.00,0,0,0,0,0,0,0,0,0,0,0,0,235,0,272,253,222,0.38,Advocates for Academic Excellence in Education...,Type 3,R36,36.00
1392,R36,All Orleans,WBC001,WBC001,Alice M Harte Elementary Charter School,780,0.51,0.49,1,7,698,53,1,13,7,767,0.97,0.03,0,5,35,80,81,81,81,81,84,84,84,84,0,0,0,0,0,0.79,InspireNOLA Charter Schools,Type 3,R36,36.00
1393,R36,All Orleans,WBD001,WBD001,Edna Karr High School,1066,0.51,0.49,5,10,1035,14,0,2,0,1064,0.99,0.01,0,0,0,0,0,0,0,0,0,0,0,0,265,0,265,268,268,0.78,InspireNOLA Charter Schools,Type 3,R36,36.00
1394,R36,All Orleans,WBE001,WBE001,Lusher Charter School,1806,0.52,0.48,2,59,445,138,2,1047,113,759,1.00,0.00,0,0,0,104,101,98,102,125,132,151,155,188,173,0,177,153,147,0.23,Advocates for Arts-Based Education Corporation,Type 3,R36,36.00
1395,R36,All Orleans,WBF001,WBF001,Eleanor McMain Secondary School,841,0.52,0.48,0,3,805,29,0,4,0,837,0.98,0.02,0,0,0,0,0,0,0,0,0,0,0,0,250,0,228,195,168,0.86,InspireNOLA Charter Schools,Type 3,R36,36.00
1396,R36,All Orleans,WBG001,WBG001,Robert Russa Moton Charter School,452,0.52,0.48,0,0,438,8,1,1,4,451,0.97,0.03,0,1,39,45,42,48,47,47,49,50,47,37,0,0,0,0,0,0.91,"Advocates for Innovative Schools, Inc.",Type 3,R36,36.00
1397,R36,All Orleans,WBH001,WBH001,Lake Forest Elementary Charter School,643,0.52,0.48,5,83,538,3,0,6,8,637,0.95,0.05,0,0,0,66,75,72,75,73,71,75,75,61,0,0,0,0,0,0.79,Lake Forest Elementary Charter School Corporation,Type 3,R36,36.00
1398,R36,All Orleans,WBI001,WBI001,New Orleans Charter Science and Mathematics HS,486,0.51,0.49,4,7,383,39,0,39,14,447,0.97,0.03,0,0,0,0,0,0,0,0,0,0,0,0,125,10,120,113,118,0.73,Advocates for Science and Mathematics Educatio...,Type 3,R36,36.00
1399,R36,All Orleans,WBJ001,WBJ001,ENCORE Academy,604,0.49,0.51,3,5,439,87,0,62,8,542,0.86,0.14,0,3,36,58,58,60,58,57,79,84,55,56,0,0,0,0,0,0.91,ENCORE Academy,Type 1,R36,36.00
1400,R36,All Orleans,WBK001,WBK001,Bricolage Academy,575,0.43,0.57,6,8,268,21,0,251,21,324,0.99,0.01,0,8,12,105,104,104,79,79,84,0,0,0,0,0,0,0,0,0.51,Bricolage Academy,Type 1,R36,36.00
1401,R36,All Orleans,WBL001,WBL001,Wilson Charter School,713,0.47,0.53,0,0,563,144,0,6,0,707,0.79,0.21,0,3,36,71,74,73,77,73,77,78,75,76,0,0,0,0,0,0.94,InspireNOLA Charter Schools,Type 1,R36,36.00
1402,R36,All Orleans,WBM001,WBM001,Einstein Charter High School at Sarah Towles Reed,273,0.41,0.59,0,48,156,67,0,2,0,271,0.78,0.22,0,0,0,0,0,0,0,0,0,0,0,0,95,13,83,82,0,0.86,"The Einstein Group, Inc.",Type 1,R36,36.00
1403,R36,All Orleans,WBN001,WBN001,Einstein Charter Middle Sch at Sarah Towles Reed,399,0.46,0.54,0,56,244,93,0,1,5,398,0.80,0.20,0,0,0,0,0,0,0,0,0,143,132,124,0,0,0,0,0,0.86,"The Einstein Group, Inc.",Type 1,R36,36.00
1404,R36,All Orleans,WBO001,WBO001,Einstein Charter at Sherwood Forest,508,0.53,0.47,0,43,371,86,0,3,5,505,0.81,0.19,0,10,67,74,75,67,71,72,72,0,0,0,0,0,0,0,0,0.91,"The Einstein Group, Inc.",Type 1,R36,36.00
1405,R36,All Orleans,WBP001,WBP001,McDonogh 42 Charter School,448,0.48,0.52,0,0,398,46,0,4,0,444,0.92,0.08,0,1,39,42,50,34,51,46,48,48,47,42,0,0,0,0,0,0.95,InspireNOLA Charter Schools,Type 1,R36,36.00
1408,R36,All Orleans,WBT001,WBT001,Audubon Charter School - Gentilly,151,0.59,0.41,0,5,110,6,0,23,7,128,0.99,0.01,0,12,22,36,39,42,0,0,0,0,0,0,0,0,0,0,0,0.66,"French and Montessori Education, Inc.",Type 1,R36,36.00
1409,R36,All Orleans,WBU001,WBU001,Rosenwald Collegiate Academy,161,0.53,0.47,2,2,144,13,0,0,0,161,0.95,0.05,0,0,0,0,0,0,0,0,0,0,0,0,142,19,0,0,0,0.93,Collegiate Academies,Type 1,R36,36.00
1410,R36,All Orleans,WBV001,WBV001,Dwight D. Eisenhower Charter School,692,0.48,0.52,0,15,584,78,0,15,0,677,0.87,0.13,0,2,38,60,68,73,71,75,76,76,76,77,0,0,0,0,0,0.90,InspireNOLA Charter Schools,Type 1,R36,36.00

In [18]:
#Next, dealing with LEAP files, starting with SY19
leap19.head()

,School System Code,School System Name,Site Code,Site Name,2018 % Mastery+ Grades 3-8,2019 % Mastery+ Grades 3-8,2018-2019 % Mastery+ Change Grades 3-8,2018 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,2018-2019 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History
0,001,Acadia Parish,001001,Armstrong Middle School,18,27,9,18,27,9
1,001,Acadia Parish,001002,Branch Elementary School,54,54,0,54,54,0
2,001,Acadia Parish,001004,Church Point Elementary School,32,28,-4,32,28,-4
3,001,Acadia Parish,001005,Church Point High School,NR,NR,NR,31,26,-5
4,001,Acadia Parish,001006,Church Point Middle School,22,27,5,22,27,5

In [19]:
leap19['School System Name'].value_counts()

Jefferson Parish                                      84
East Baton Rouge Parish                               82
Orleans Parish                                        76
Caddo Parish                                          62
Calcasieu Parish                                      53
St. Tammany Parish                                    50
Rapides Parish                                        42
Lafayette Parish                                      42
Livingston Parish                                     42
Ouachita Parish                                       33
St. Landry Parish                                     33
Tangipahoa Parish                                     32
Terrebonne Parish                                     31
Bossier Parish                                        31
New Orleans Archdiocese                               30
Ascension Parish                                      26
Lafourche Parish                                      26
Acadia Parish                                         25
Iberia Parish                                         24
St. Mary Parish                                       21
Baton Rouge Diocese                                   21
Vermilion Parish                                      19
City of Monroe School District                        17
Vernon Parish                                         16
Natchitoches Parish                                   14
St. Martin Parish                                     13
Jefferson Davis Parish                                12
St. Bernard Parish                                    12
St. Charles Parish                                    12
Evangeline Parish                                     11
Beauregard Parish                                     11
Webster Parish                                        11
Allen Parish                                          11
Richland Parish                                       11
Sabine Parish                                         10
St. John the Baptist Parish                           10
Avoyelles Parish                                      10
Assumption Parish                                      9
Lincoln Parish                                         9
Washington Parish                                      9
Grant Parish                                           8
Concordia Parish                                       8
West Baton Rouge Parish                                8
DeSoto Parish                                          8
LaSalle Parish                                         8
Houma-Thibodaux Diocese                                7
Bienville Parish                                       7
Iberville Parish                                       7
Plaquemines Parish                                     7
St. James Parish                                       6
Winn Parish                                            6
East Feliciana Parish                                  6
Claiborne Parish                                       6
Franklin Parish                                        6
Catahoula Parish                                       6
Caldwell Parish                                        5
West Carroll Parish                                    5
Pointe Coupee Parish                                   5
Jackson Parish                                         5
Madison Parish                                         5
Morehouse Parish                                       5
City of Baker School District                          5
Zachary Community School District                      4
Red River Parish                                       4
Cameron Parish                                         4
East Carroll Parish                                    3
Celerity Schools Louisiana, Inc.                       3
Shreveport Diocese                                     3
Central Community School District                      3
Alexandria Diocese                                     3
Union Parish                                           3
West Feliciana Parish                                  3
City of Bogalusa School District                       3
Diocese of Lake Charles                                3
Special School District                                2
Southern University Lab School                         2
LA Schools for the Deaf and Visually Impaired          2
Office of Juvenile Justice                             2
Tensas Parish                                          2
St. Helena Parish                                      2
Victory Christian Academy                              1
Northeast Claiborne Charter                            1
Saving the Planet by Going Green w/ McKinney Byrd      1
GEO Prep Mid-City of Greater Baton Rouge               1
New Orleans Military & Maritime Academy                1
Avoyelles Public Charter School                        1
Tangipahoa Charter School Association                  1
A.E. Phillips Laboratory School                        1
Opelousas Family Worship Center, Inc.                  1
Old Bethel Christian Academy                           1
Lycee Francais de la Nouvelle-Orleans                  1
The Dunham School                                      1
eLearning Academy                                      1
Alexandria Country Day School                          1
SIHAF Learning and Career Institute                    1
Collegiate Baton Rouge                                 1
The MAX Charter School                                 1
Ridgewood Preparatory                                  1
Greater Baton Rouge Hope Academy                       1
Evangelical Lutheran Church In America                 1
Lutheran High School                                   1
Smothers Academy Preparatory School                    1
Emmanuel SDA                                           1
Lighthouse Christian Preparatory School                1
Angles Foundation                                      1
Advantage Charter Academy                              1
Community School for Apprenticeship Learning, Inc.     1
Acadiana Renaissance Charter Academy                   1
Noble Minds                                            1
Westminster Christian Academy                          1
Recovery School District-LDE                           1
V. B. Glencoe Charter School                           1
Louisiana School for Math Science & the Arts           1
University Academy                                     1
Pelican Educational Foundation                         1
Claiborne Christian School                             1
Trinity Christian Academy                              1
GEO Prep Academy of Greater Baton Rouge                1
Union Christian Academy                                1
First Assembly of God/Evangel Academy                  1
Louisiana Key Academy                                  1
JS Clark Leadership Academy                            1
JCFA Lafayette                                         1
Louisiana Special Education Center                     1
Ascension Christian School                             1
Lake Charles College Prep                              1
Lake Charles Charter Academy Foundation, Inc.          1
Howard School                                          1
Voices for International Business & Education          1
Impact Charter School                                  1
Family Community Christian School                      1
Iberville Charter Academy                              1
Lafayette Diocese                                      1
New Harmony High Institute                             1
JCFA-East                                              1
McMillian's First Steps CDC/Academy                    1
Boutte Christian Academy                               1
QuesTECH Learning                                      1
Prevailing Faith Christian Academy                     1
Baton Rouge College Preparatory Inc                    1
Gethsemane Christian Academy                           1
Gardere Community Christian School                     1
International School of Louisiana                      1
D'Arbonne Woods Charter School                         1
Brighter Horizon School                                1
New Vision Learning Academy                            1
Waldorf School of New Orleans                          1
Thrive Academy                                         1
Delhi Charter School                                   1
Louisiana New School Academy                           1
Martin Luther King Jr. Christian Academy               1
Willow Charter Academy                                 1
Friendship Louisiana, Inc.                             1
Athlos Academy of Jefferson Parish                     1
Greater Grace Charter Academy Inc                      1
St. John Lutheran                                      1
Belle Chasse Academy                                   1
Southwest Louisiana Charter Academy                    1
False River Academy                                    1
Crescent City Christian School                         1
Apex Collegiate Academy Charter School                 1
HYPE Academy                                           1
University View Academy, Inc. (FRM LA Connections)     1
New Orleans Center for Creative Arts                   1
Baton Rouge International School                       1
Life of Christ Christian Academy                       1
Faith Lutheran                                         1
Northeast Baptist School                               1
LSU Laboratory School                                  1
Baton Rouge University Preparatory Elementary          1
Cedarwood School                                       1
Jehovah-Jireh Christian Academy                        1
Hosanna Christian Academy (AG)                         1
Lafayette Charter Foundation                           1
Riverside Academy                                      1
Bishop McManus School                                  1
Democracy Prep Baton Rouge                             1
John Paul The Great Academy                            1
Delta Charter Group                                    1
New Orleans Adventist Academy                          1
Vision Academy                                         1
Lincoln Preparatory School                             1
Jewish Community Day School                            1
Northlake Christian Schools                            1
Light City Christian Academy                           1
Louisiana Virtual Charter Academy                      1
Name: School System Name, dtype: int64

In [20]:
#Lycée Français and other schools at the bottom of the list seem to be Type 2 charters
#Pulling only schools labeled as "Orleans Parish" 
nolaleap19 = leap19.loc[leap19['School System Name'] == 'Orleans Parish']

In [21]:
print(nolams19.shape)
print(nolaleap19.shape)
#Seems there are three schools that either closed or did not report LEAP scores in 2019

(79, 40)
(76, 10)

In [22]:
#Joining SY19 dataframes 
#Using an outer join to preserve those 3 schools that did not report LEAP data
nolasy19 = nolams19.merge(nolaleap19, left_on=['SiteCd'], right_on=['Site Code'], how='outer', indicator=True)

In [23]:
nolasy19.shape
#Join seems to have worked as it preserves the three schools

(79, 51)

In [24]:
nolasy19.loc[nolasy19['_merge'] == 'left_only']
#Orleans Central Office, Joseph S. Clark, and Audobon Charter didn't report LEAP data for various reasons
#e.g., Central Office seems to be PreK only, but
#we'll still keep them in the final dataframe

,School System,School System Name_x,SiteCd,FedSiteCd,SiteName,Total Students,%Female,%Male,AmInd,Asian,Black,Hispanic,HawPI,White,Multiple,Minority,%Fully-EP,%LEP,Infants SpEd,PreSchool SpEd,PreK,Kindergarten,Grade1,Grade2,Grade3,Grade4,Grade5,Grade6,Grade7,Grade8,Grade9,GradeT9,Grade10,Grade11,Grade12,ED%,Nonprofit,Charter Type,RollUpType,Parish Code,School System Code,School System Name_y,Site Code,Site Name,2018 % Mastery+ Grades 3-8,2019 % Mastery+ Grades 3-8,2018-2019 % Mastery+ Change Grades 3-8,2018 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,2018-2019 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History,_merge
11,R36,All Orleans,036700,036700,Orleans Central Office,269,0.39,0.61,0,8,187,12,0,53,9,216,1.00,0.00,0,269,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.62,NaN,NaN,R36,36.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
52,R36,All Orleans,399003,W93001,Joseph S. Clark Preparatory High School,43,0.44,0.56,0,0,41,2,0,0,0,43,0.98,0.02,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,42,0.84,"FirstLine Schools, Inc.",Type 3B,R36,36.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
76,R36,All Orleans,WBT001,WBT001,Audubon Charter School - Gentilly,151,0.59,0.41,0,5,110,6,0,23,7,128,0.99,0.01,0,12,22,36,39,42,0,0,0,0,0,0,0,0,0,0,0,0.66,"French and Montessori Education, Inc.",Type 1,R36,36.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [25]:
nolasy19['SiteCd'].isna().sum()

0

In [26]:
nolasy19['SiteName'].isna().sum()

0

In [27]:
nolasy19.loc[nolasy19['_merge'] == 'right_only']
#Luckily, it seems all schools who reported LEAP scores were also present in the multistat file
#We can be confident in dropping the "Site Code" and "Site Name" columns from the dataframe

Empty DataFrame
Columns: [School System, School System Name_x, SiteCd, FedSiteCd, SiteName, Total Students, %Female, %Male, AmInd, Asian, Black, Hispanic, HawPI, White, Multiple, Minority, %Fully-EP, %LEP, Infants SpEd, PreSchool SpEd, PreK, Kindergarten, Grade1, Grade2, Grade3, Grade4, Grade5, Grade6, Grade7, Grade8, Grade9, GradeT9, Grade10, Grade11, Grade12, ED%, Nonprofit, Charter Type, RollUpType, Parish Code, School System Code, School System Name_y, Site Code, Site Name, 2018 % Mastery+ Grades 3-8, 2019 % Mastery+ Grades 3-8, 2018-2019 % Mastery+ Change Grades 3-8, 2018 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History, 2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History, 2018-2019 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History, _merge]
Index: []

In [28]:
#Cleaning up SY19 columns
#Dropping redundant columns - FedSiteCd, School System, School System Name_x and School System Name_y 
#(they are all Orleans)
#Alsop dropping _merge, Parish Code, and School System Code, Site Code, and Site Name as per the check above 
nolasy19 = nolasy19.drop(columns=['School System','School System Name_x', 'FedSiteCd','School System Name_y',
                                '_merge','Parish Code','School System Code','Site Code','Site Name'], axis=1)

In [29]:
nolasy19.shape

(79, 42)

In [30]:
nolasy19.head(1)

,SiteCd,SiteName,Total Students,%Female,%Male,AmInd,Asian,Black,Hispanic,HawPI,White,Multiple,Minority,%Fully-EP,%LEP,Infants SpEd,PreSchool SpEd,PreK,Kindergarten,Grade1,Grade2,Grade3,Grade4,Grade5,Grade6,Grade7,Grade8,Grade9,GradeT9,Grade10,Grade11,Grade12,ED%,Nonprofit,Charter Type,RollUpType,2018 % Mastery+ Grades 3-8,2019 % Mastery+ Grades 3-8,2018-2019 % Mastery+ Change Grades 3-8,2018 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,2018-2019 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History
0,036011,Mary Bethune Elementary Literature/Technology,688,0.52,0.48,0,2,669,15,0,2,0,686,0.99,0.01,0,2,38,78,78,80,81,79,82,54,55,61,0,0,0,0,0,0.82,NaN,NaN,R36,31,33,2,31,34,3

In [31]:
#Add 'SY19' to all column names 
nolasy19 = nolasy19.add_prefix('sy19_')

In [32]:
nolasy19.head()

,sy19_SiteCd,sy19_SiteName,sy19_Total Students,sy19_%Female,sy19_%Male,sy19_AmInd,sy19_Asian,sy19_Black,sy19_Hispanic,sy19_HawPI,sy19_White,sy19_Multiple,sy19_Minority,sy19_%Fully-EP,sy19_%LEP,sy19_Infants SpEd,sy19_PreSchool SpEd,sy19_PreK,sy19_Kindergarten,sy19_Grade1,sy19_Grade2,sy19_Grade3,sy19_Grade4,sy19_Grade5,sy19_Grade6,sy19_Grade7,sy19_Grade8,sy19_Grade9,sy19_GradeT9,sy19_Grade10,sy19_Grade11,sy19_Grade12,sy19_ED%,sy19_Nonprofit,sy19_Charter Type,sy19_RollUpType,sy19_2018 % Mastery+ Grades 3-8,sy19_2019 % Mastery+ Grades 3-8,sy19_2018-2019 % Mastery+ Change Grades 3-8,sy19_2018 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy19_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy19_2018-2019 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History
0,036011,Mary Bethune Elementary Literature/Technology,688,0.52,0.48,0,2,669,15,0,2,0,686,0.99,0.01,0,2,38,78,78,80,81,79,82,54,55,61,0,0,0,0,0,0.82,NaN,NaN,R36,31,33,2,31,34,3
1,036035,Warren Easton Senior High School,991,0.51,0.49,0,0,960,25,0,1,5,990,0.98,0.02,0,0,0,0,0,0,0,0,0,0,0,0,229,15,247,245,255,0.78,"Warren Easton Senior High School Foundation, Inc.",Type 3,R36,NR,NR,NR,28,21,-7
2,036060,Edward Hynes Charter School,717,0.53,0.47,0,32,252,30,0,361,42,356,0.97,0.03,0,17,0,83,84,79,79,72,80,77,76,70,0,0,0,0,0,0.35,Hynes Charter School Corporation,Type 3,R36,61,63,2,60,63,3
3,036088,McDonogh #35 College Preparatory School,445,0.44,0.56,0,1,442,2,0,0,0,445,1.00,0.00,0,0,0,0,0,0,0,0,0,0,0,0,10,0,146,107,182,0.89,NaN,NaN,R36,NR,NR,NR,9,8,-1
4,036132,Youth Study Center,106,0.06,0.94,0,0,104,2,0,0,0,106,0.99,0.01,0,0,0,0,0,0,0,0,0,0,0,4,35,0,32,14,21,0.90,NaN,NaN,R36,2,≤ 1,>-5,2,≤ 1,>-5

In [33]:
#Repeat LEAP filtering, merge and column cleaning process for the other three years 
leap21.head()

,School System Code,School System Name,Site Code,Site Name,2019 % Mastery+ Grades 3-8,2021 % Mastery+ Grades 3-8,2019-2021 % Mastery+ Change Grades 3-8,2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2019-2021 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology
0,001,Acadia Parish,001001,Armstrong Middle School,26,23,-3,26,23,-3
1,001,Acadia Parish,001002,Branch Elementary School,53,44,-9,53,44,-9
2,001,Acadia Parish,001004,Church Point Elementary School,28,31,3,28,31,3
3,001,Acadia Parish,001005,Church Point High School,NR,NR,NR,24,23,-1
4,001,Acadia Parish,001006,Church Point Middle School,24,22,-2,24,22,-2

In [34]:
leap21['School System Name'].value_counts()

Jefferson Parish                                      80
East Baton Rouge Parish                               77
Orleans Parish                                        74
Caddo Parish                                          57
Calcasieu Parish                                      52
St. Tammany Parish                                    51
Lafayette Parish                                      44
Rapides Parish                                        42
Livingston Parish                                     42
Ouachita Parish                                       33
Bossier Parish                                        32
St. Landry Parish                                     32
Terrebonne Parish                                     31
Tangipahoa Parish                                     31
Ascension Parish                                      29
Lafourche Parish                                      26
New Orleans Archdiocese                               25
Acadia Parish                                         25
Iberia Parish                                         23
Baton Rouge Diocese                                   22
St. Mary Parish                                       21
Vermilion Parish                                      19
City of Monroe School District                        17
Vernon Parish                                         16
St. Martin Parish                                     13
Natchitoches Parish                                   13
St. Bernard Parish                                    12
Jefferson Davis Parish                                12
St. Charles Parish                                    12
Richland Parish                                       11
Webster Parish                                        11
Allen Parish                                          11
Beauregard Parish                                     11
Evangeline Parish                                     11
Avoyelles Parish                                      10
St. John the Baptist Parish                           10
Washington Parish                                     10
Sabine Parish                                         10
Houma-Thibodaux Diocese                                9
Assumption Parish                                      9
Lincoln Parish                                         9
LaSalle Parish                                         8
Grant Parish                                           8
DeSoto Parish                                          8
West Baton Rouge Parish                                8
Concordia Parish                                       7
Iberville Parish                                       7
Plaquemines Parish                                     7
Bienville Parish                                       7
East Feliciana Parish                                  7
Claiborne Parish                                       6
St. James Parish                                       6
Winn Parish                                            6
Franklin Parish                                        6
Cameron Parish                                         5
Madison Parish                                         5
Caldwell Parish                                        5
Pointe Coupee Parish                                   5
West Carroll Parish                                    5
Jackson Parish                                         5
Catahoula Parish                                       5
Morehouse Parish                                       5
Alexandria Diocese                                     5
Special School District                                4
City of Baker School District                          4
Red River Parish                                       4
Zachary Community School District                      4
Shreveport Diocese                                     3
Redesign Schools Louisiana                             3
Office of Juvenile Justice                             3
West Feliciana Parish                                  3
Central Community School District                      3
East Carroll Parish                                    3
City of Bogalusa School District                       3
Union Parish                                           3
St. Helena Parish                                      2
Tensas Parish                                          2
Lafayette Diocese                                      2
LA Schools for the Deaf and Visually Impaired          2
Southern University Lab School                         2
Opelousas Family Worship Center, Inc.                  1
Alexandria Country Day School                          1
A.E. Phillips Laboratory School                        1
Word Ministries Christian Academy                      1
Avoyelles Public Charter School                        1
Victory Christian Academy                              1
Democracy Prep Baton Rouge                             1
Northeast Claiborne Charter                            1
New Orleans Military & Maritime Academy                1
Emmanuel SDA                                           1
Saving the Planet by Going Green w/ McKinney Byrd      1
Old Bethel Christian Academy                           1
GEO Prep Mid-City of Greater Baton Rouge               1
SIHAF Learning and Career Institute                    1
Advantage Charter Academy                              1
The MAX Charter School                                 1
Louisiana School for Math Science & the Arts           1
Community School for Apprenticeship Learning, Inc.     1
Acadiana Renaissance Charter Academy                   1
Noble Minds                                            1
First Assembly of God/Evangel Academy                  1
Recovery School District-LDE                           1
Louisiana Key Academy                                  1
Lycee Francais de la Nouvelle-Orleans                  1
V. B. Glencoe Charter School                           1
Step by Step Performing Arts Academy                   1
University Academy                                     1
Ridgewood Preparatory                                  1
Gardere Community Christian School                     1
Pelican Educational Foundation                         1
Claiborne Christian School                             1
Evangelical Lutheran Church In America                 1
GEO Next Generation High School                        1
Lutheran High School                                   1
GEO Prep Academy of Greater Baton Rouge                1
eLearning Academy                                      1
Greater Baton Rouge Hope Academy                       1
Union Christian Academy                                1
JS Clark Leadership Academy                            1
Westminster Christian Academy                          1
Lake Charles College Prep                              1
Howard School                                          1
Diocese of Lake Charles                                1
Voices for International Business & Education          1
Impact Charter School                                  1
Family Community Christian School                      1
Iberville Charter Academy                              1
New Harmony High Institute                             1
JCFA-East                                              1
Red River Charter Academy                              1
McMillian's First Steps CDC/Academy                    1
Collegiate Baton Rouge                                 1
QuesTECH Learning                                      1
Ecole Bilingue de la Nouvelle-Orleans                  1
Prevailing Faith Christian Academy                     1
RSD-Capitol Education Foundation                       1
Gethsemane Christian Academy                           1
International School of Louisiana                      1
D'Arbonne Woods Charter School                         1
Brighter Horizon School                                1
New Vision Learning Academy                            1
Cedarwood School                                       1
Delhi Charter School                                   1
HYPE Academy                                           1
Athlos Academy of Jefferson Parish                     1
Martin Luther King Jr. Christian Academy               1
Willow Charter Academy                                 1
Jewish Community Day School                            1
Lake Charles Charter Academy Foundation, Inc.          1
Ascension Christian School                             1
JCFA Lafayette                                         1
St. John Lutheran                                      1
Knights Academy and High School                        1
Thrive Academy                                         1
Southwest Louisiana Charter Academy                    1
False River Academy                                    1
Crescent City Christian School                         1
Lakeside Christian Academy                             1
University View Academy, Inc. (FRM LA Connections)     1
New Orleans Center for Creative Arts                   1
Baton Rouge International School                       1
Life of Christ Christian Academy                       1
Faith Lutheran                                         1
Northeast Baptist School                               1
LSU Laboratory School                                  1
Belle Chasse Academy                                   1
Hosanna Christian Academy (AG)                         1
Lafayette Charter Foundation                           1
Riverside Academy                                      1
Bishop McManus School                                  1
John Paul The Great Academy                            1
Delta Charter Group                                    1
New Orleans Adventist Academy                          1
eLearning Academy of Houma                             1
Lincoln Preparatory School                             1
Baton Rouge University Preparatory School, Inc.        1
Northlake Christian Schools                            1
Light City Christian Academy                           1
Jehovah-Jireh Christian Academy                        1
Louisiana Virtual Charter Academy                      1
Name: School System Name, dtype: int64

In [35]:
#Again, since Lycée Français and other schools at the bottom of the list seem to be Type 2 charters,
#pulling only schools labeled as "Orleans Parish" 
nolaleap21 = leap21.loc[leap21['School System Name'] == 'Orleans Parish']

In [36]:
print(nolams21.shape)
print(nolaleap21.shape)
#Again, there seem to be 3 schools that either closed or did not report LEAP scores

(77, 41)
(74, 10)

In [37]:
nolams21.head(1)

,School System,School System Name,SIS Submit Site Code,Federal Reporting Site Code,Site Name,Total Enrollment,% Female,% Male,American Indian,Asian,Black,Hispanic,Hawaiian/Pacific Islander,White,Multiple Races (Non-Hispanic),Minority,% Fully English Proficient,% Limited English Proficient,Infants (Sp Ed),Pre-School (Sp Ed),Pre-K (Reg Ed),Kindergarten,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade T9,Grade 10,Grade 11,Grade 12,Extension Academy,% Economically Disadvantaged,Nonprofit Organization,Charter Type,School System Roll Up Type,Parish Code
1314,R36,Orleans Parish,036011,036011,Mary Bethune Elementary Literature/Technology,709,0.52,0.48,0,0,692,17,0,0,0,709,0.99,0.01,0,6,32,76,75,78,78,78,76,78,79,53,0,0,0,0,0,0,0.85,"Significant Educators, Inc.",Type 3,R36,36

In [38]:
nolaleap21.head(1)

,School System Code,School System Name,Site Code,Site Name,2019 % Mastery+ Grades 3-8,2021 % Mastery+ Grades 3-8,2019-2021 % Mastery+ Change Grades 3-8,2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2019-2021 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology
670,R36,Orleans Parish,036011,Mary Bethune Elementary Literature/Technology,30,17,-13,30,17,-13

In [39]:
#Joining SY21 dataframes 
#Using an outer join to preserve those 3 schools that did not report LEAP data
nolasy21 = nolams21.merge(nolaleap21, left_on=['SIS Submit Site Code'], 
                          right_on=['Site Code'], how='outer', indicator=True)

In [40]:
nolasy21.shape
#Join seems to have worked as 3 extra rows are present

(77, 52)

In [41]:
nolasy21.loc[nolasy21['_merge'] == 'left_only']

,School System,School System Name_x,SIS Submit Site Code,Federal Reporting Site Code,Site Name_x,Total Enrollment,% Female,% Male,American Indian,Asian,Black,Hispanic,Hawaiian/Pacific Islander,White,Multiple Races (Non-Hispanic),Minority,% Fully English Proficient,% Limited English Proficient,Infants (Sp Ed),Pre-School (Sp Ed),Pre-K (Reg Ed),Kindergarten,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade T9,Grade 10,Grade 11,Grade 12,Extension Academy,% Economically Disadvantaged,Nonprofit Organization,Charter Type,School System Roll Up Type,Parish Code,School System Code,School System Name_y,Site Code,Site Name_y,2019 % Mastery+ Grades 3-8,2021 % Mastery+ Grades 3-8,2019-2021 % Mastery+ Change Grades 3-8,2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2019-2021 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,_merge
8,R36,Orleans Parish,036700,036700,Orleans Central Office,330,0.39,0.61,0,7,195,25,0,94,9,236,1.00,0.00,0,330,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.63,NaN,NaN,R36,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
46,R36,Orleans Parish,3C2002,WZD001,Edward Hynes Charter School - UNO,207,0.47,0.53,0,7,140,2,0,46,12,161,0.99,0.01,0,0,0,104,103,0,0,0,0,0,0,0,0,0,0,0,0,0,0.62,Hynes Charter School Corporation,Type 1,R36,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
73,R36,Orleans Parish,WC2001,WC2001,Opportunities Academy,65,0.28,0.72,0,2,59,0,0,3,1,62,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,65,0,0.92,Collegiate Academies,Type 1,R36,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [42]:
#Orleans Central Office, Hynes Charter @ UNO, and Opportunities Academy did not report LEAP data 
nolasy21.loc[nolasy21['_merge'] == 'right_only']

Empty DataFrame
Columns: [School System, School System Name_x, SIS Submit Site Code, Federal Reporting Site Code, Site Name_x, Total Enrollment, % Female, % Male, American Indian, Asian, Black, Hispanic, Hawaiian/Pacific Islander, White, Multiple Races (Non-Hispanic), Minority, % Fully English Proficient, % Limited English Proficient, Infants (Sp Ed), Pre-School (Sp Ed), Pre-K (Reg Ed), Kindergarten, Grade 1, Grade 2, Grade 3, Grade 4, Grade 5, Grade 6, Grade 7, Grade 8, Grade 9, Grade T9, Grade 10, Grade 11, Grade 12, Extension Academy, % Economically Disadvantaged, Nonprofit Organization, Charter Type, School System Roll Up Type, Parish Code, School System Code, School System Name_y, Site Code, Site Name_y, 2019 % Mastery+ Grades 3-8, 2021 % Mastery+ Grades 3-8, 2019-2021 % Mastery+ Change Grades 3-8, 2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology, 2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology, 2019-2021 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology, _merge]
Index: []

In [43]:
#Again, no schools present in the LEAP dataset that are not already present in the multistat
print(nolasy21['SIS Submit Site Code'].isna().sum()) #How many nulls are from the multistat file? 
print(nolasy21['Site Code'].isna().sum()) #How many nulls are from the LEAP file?

0
3

In [44]:
#Since there are no nulls present in the multistat file, we can be confident in dropping the "Site Code" column
#Cleaning up SY21 columns
#Dropping redundant columns - FedSiteCd, School System, School System Name_x and School System Name_y 
#(they are all Orleans)
#Alsop dropping _merge, Parish Code, and School System Code, Site Code, and Site Name as per the check above 
nolasy21 = nolasy21.drop(columns=['School System','School System Name_x', 'Federal Reporting Site Code',
                                  'School System Name_y',
                                '_merge','Parish Code','School System Code','Site Code','Site Name_y'], axis=1)

In [45]:
nolasy21.shape

(77, 43)

In [46]:
#Add 'SY21' to all column names 
nolasy21 = nolasy21.add_prefix('sy21_')

In [47]:
#Repeat process one last time for SY22
leap22.head()

,School System Code,School System Name,Site Code,Site Name,2021 % Mastery+ Grades 3-8,2022 % Mastery+ Grades 3-8,2021-2022 % Mastery+ Change Grades 3-8,2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2022 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2021-2022 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology
0,001,Acadia Parish,001001,Armstrong Middle School,23,16,-7,23,16,-7
1,001,Acadia Parish,001002,Branch Elementary School,44,44,0,44,44,0
2,001,Acadia Parish,001004,Church Point Elementary School,31,28,-3,31,28,-3
3,001,Acadia Parish,001005,Church Point High School,NR,NR,NR,23,20,-3
4,001,Acadia Parish,001006,Church Point Middle School,22,26,4,22,26,4

In [48]:
leap22['School System Name'].value_counts()

Jefferson Parish                                      81
East Baton Rouge Parish                               80
Orleans Parish                                        74
Caddo Parish                                          57
Calcasieu Parish                                      52
St. Tammany Parish                                    50
Lafayette Parish                                      44
Livingston Parish                                     42
Rapides Parish                                        41
Ouachita Parish                                       33
Bossier Parish                                        32
Tangipahoa Parish                                     31
St. Landry Parish                                     31
Ascension Parish                                      30
Terrebonne Parish                                     29
Lafourche Parish                                      26
Acadia Parish                                         25
New Orleans Archdiocese                               25
Iberia Parish                                         23
Baton Rouge Diocese                                   22
St. Mary Parish                                       21
Vermilion Parish                                      19
City of Monroe School District                        17
Vernon Parish                                         16
Natchitoches Parish                                   13
St. Bernard Parish                                    12
St. Martin Parish                                     12
Jefferson Davis Parish                                12
St. Charles Parish                                    12
Allen Parish                                          11
Webster Parish                                        11
Richland Parish                                       11
Evangeline Parish                                     11
Beauregard Parish                                     11
Avoyelles Parish                                      10
Washington Parish                                     10
Sabine Parish                                         10
St. John the Baptist Parish                           10
Assumption Parish                                      9
Lincoln Parish                                         9
Grant Parish                                           8
Houma-Thibodaux Diocese                                8
Concordia Parish                                       8
LaSalle Parish                                         8
DeSoto Parish                                          8
West Baton Rouge Parish                                8
Bienville Parish                                       7
Plaquemines Parish                                     7
Iberville Parish                                       7
Winn Parish                                            6
Franklin Parish                                        6
St. James Parish                                       6
Claiborne Parish                                       6
East Feliciana Parish                                  6
Cameron Parish                                         5
West Carroll Parish                                    5
Pointe Coupee Parish                                   5
Caldwell Parish                                        5
Morehouse Parish                                       5
Alexandria Diocese                                     5
Catahoula Parish                                       5
Jackson Parish                                         5
Red River Parish                                       4
City of Baker School District                          4
Zachary Community School District                      4
Madison Parish                                         4
Redesign Schools Louisiana                             3
Central Community School District                      3
Lafayette Diocese                                      3
West Feliciana Parish                                  3
Office of Juvenile Justice                             3
City of Bogalusa School District                       3
Shreveport Diocese                                     3
Diocese of Lake Charles                                3
Union Parish                                           3
East Carroll Parish                                    3
Tensas Parish                                          2
St. Helena Parish                                      2
Southern University Lab School                         2
Alexandria Country Day School                          2
LA Schools for the Deaf and Visually Impaired          2
GEO Prep Academy of Greater Baton Rouge                1
Victory Christian Academy                              1
Emmanuel SDA                                           1
Democracy Prep Baton Rouge                             1
Lutheran High School                                   1
New Orleans Military & Maritime Academy                1
Northeast Claiborne Charter                            1
Evangelical Lutheran Church In America                 1
Ridgewood Preparatory                                  1
Greater Baton Rouge Hope Academy                       1
Gardere Community Christian School                     1
Avoyelles Public Charter School                        1
The MAX Charter School                                 1
SIHAF Learning and Career Institute                    1
A.E. Phillips Laboratory School                        1
Opelousas Family Worship Center, Inc.                  1
Torah Day School of New Orleans DBA Torah Academy      1
Old Bethel Christian Academy                           1
Advantage Charter Academy                              1
Saving the Planet by Going Green w/ McKinney Byrd      1
V. B. Glencoe Charter School                           1
GEO Next Generation High School                        1
Claiborne Christian School                             1
eLearning Academy                                      1
Pelican Educational Foundation                         1
The Dunham School                                      1
Louisiana Key Academy                                  1
Louisiana School for Math Science & the Arts           1
Westminster Christian Academy                          1
Union Christian Academy                                1
Lycee Francais de la Nouvelle-Orleans                  1
Recovery School District-LDE                           1
First Assembly of God/Evangel Academy                  1
Franklin Academy                                       1
Acadiana Renaissance Charter Academy                   1
GEO Prep Mid-City of Greater Baton Rouge               1
Community School for Apprenticeship Learning, Inc.     1
JS Clark Leadership Academy                            1
LSU Laboratory School                                  1
JCFA Lafayette                                         1
Ecole Bilingue de la Nouvelle-Orleans                  1
Lake Charles Charter Academy Foundation, Inc.          1
Howard School                                          1
Voices for International Business & Education          1
Impact Charter School                                  1
Family Community Christian School                      1
Iberville Charter Academy                              1
New Harmony High Institute                             1
JCFA-East                                              1
Red River Charter Academy                              1
McMillian's First Steps CDC/Academy                    1
Collegiate Baton Rouge                                 1
QuesTECH Learning                                      1
St. Landry Primary School, Incl.                       1
Prevailing Faith Christian Academy                     1
Knights Academy and High School                        1
RSD-Capitol Education Foundation                       1
Gethsemane Christian Academy                           1
International School of Louisiana                      1
D'Arbonne Woods Charter School                         1
Pointe Coupee Private School System INC                1
New Vision Learning Academy                            1
Cedarwood School                                       1
Delhi Charter School                                   1
HYPE Academy                                           1
Athlos Academy of Jefferson Parish                     1
Martin Luther King Jr. Christian Academy               1
Willow Charter Academy                                 1
Jewish Community Day School                            1
Lake Charles College Prep                              1
St. John Lutheran                                      1
Jehovah-Jireh Christian Academy                        1
Light City Christian Academy                           1
Thrive Academy                                         1
Southwest Louisiana Charter Academy                    1
Crescent City Christian School                         1
Noble Minds                                            1
Lakeside Christian Academy                             1
Special School District                                1
University View Academy, Inc. (FRM LA Connections)     1
New Orleans Center for Creative Arts                   1
Baton Rouge International School                       1
Brighter Horizon School                                1
Life of Christ Christian Academy                       1
Faith Lutheran                                         1
Northeast Baptist School                               1
Belle Chasse Academy                                   1
Hosanna Christian Academy (AG)                         1
Lafayette Charter Foundation                           1
Riverside Academy                                      1
Bishop McManus School                                  1
Richard Rayborn Elementary School                      1
John Paul The Great Academy                            1
Delta Charter Group                                    1
New Orleans Adventist Academy                          1
eLearning Academy of Houma                             1
Lincoln Preparatory School                             1
Cornerstone Christian Academy                          1
Williams Scholar Academy Inc.                          1
Northlake Christian Schools                            1
Louisiana Virtual Charter Academy                      1
Name: School System Name, dtype: int64

In [49]:
#Again, not including Type 2 charters in final dataframe
nolaleap22 = leap22.loc[leap22['School System Name'] == 'Orleans Parish']

In [50]:
print(nolams22.shape)
print(nolaleap22.shape)
#Again, there seem to be 3 schools that either closed or did not report LEAP scores

(77, 41)
(74, 10)

In [51]:
nolams22.head(1)

,School System,School System Name,SIS Submit Site Code,Federal Reporting Site Code,Site Name,Total Enrollment,% Female,% Male,American Indian,Asian,Black,Hispanic,Hawaiian/Pacific Islander,White,Multiple Races (Non-Hispanic),Minority,% Fully English Proficient,% Limited English Proficient,Infants (Sp Ed),Pre-School (Sp Ed),Pre-K (Reg Ed),Kindergarten,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade T9,Grade 10,Grade 11,Grade 12,Extension Academy,% Economically Disadvantaged,Nonprofit Organization,Charter Type,School System Roll Up Type,Parish Code
740,R36,Orleans Parish,036011,036011,Mary Bethune Elementary Literature/Technology,699,0.51,0.49,0,0,678,20,1,0,0,699,0.98,0.02,0,8,32,70,74,72,66,70,77,74,78,78,0,0,0,0,0,0,0.93,"Significant Educators, Inc.",Type 3,R36,36

In [52]:
nolaleap22.head(1)

,School System Code,School System Name,Site Code,Site Name,2021 % Mastery+ Grades 3-8,2022 % Mastery+ Grades 3-8,2021-2022 % Mastery+ Change Grades 3-8,2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2022 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2021-2022 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology
674,R36,Orleans Parish,036011,Mary Bethune Elementary Literature/Technology,17,20,3,17,21,4

In [53]:
#Joining SY22 dataframes 
#Using an outer join to preserve those 3 schools that did not report LEAP data
nolasy22 = nolams22.merge(nolaleap22, left_on=['SIS Submit Site Code'], 
                          right_on=['Site Code'], how='outer', indicator=True)

In [54]:
nolasy22.shape

(77, 52)

In [55]:
nolasy22.loc[nolasy22['_merge'] == 'left_only']
#Again, Central Office, Hynes @ UNO, and Opportunities Academy did not report LEAP data

,School System,School System Name_x,SIS Submit Site Code,Federal Reporting Site Code,Site Name_x,Total Enrollment,% Female,% Male,American Indian,Asian,Black,Hispanic,Hawaiian/Pacific Islander,White,Multiple Races (Non-Hispanic),Minority,% Fully English Proficient,% Limited English Proficient,Infants (Sp Ed),Pre-School (Sp Ed),Pre-K (Reg Ed),Kindergarten,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade T9,Grade 10,Grade 11,Grade 12,Extension Academy,% Economically Disadvantaged,Nonprofit Organization,Charter Type,School System Roll Up Type,Parish Code,School System Code,School System Name_y,Site Code,Site Name_y,2021 % Mastery+ Grades 3-8,2022 % Mastery+ Grades 3-8,2021-2022 % Mastery+ Change Grades 3-8,2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2022 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,2021-2022 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,_merge
5,R36,Orleans Parish,036700,036700,Orleans Central Office,365,0.35,0.65,0,5,235,20,0,96,9,269,1,0,0,365,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.62,NaN,NaN,R36,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
42,R36,Orleans Parish,3C2002,WZD001,Edward Hynes Charter School - UNO,290,0.43,0.57,1,9,190,3,0,66,21,224,0.98,0.02,0,0,0,99,100,91,0,0,0,0,0,0,0,0,0,0,0,0,0.59,Hynes Charter School Corporation,Type 1,R36,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
73,R36,Orleans Parish,WC2001,WC2001,Opportunities Academy,70,0.31,0.69,0,2,64,1,0,2,1,68,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,70,0,0.96,Collegiate Academies,Type 1,R36,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [56]:
nolasy22.loc[nolasy22['_merge'] == 'right_only']

Empty DataFrame
Columns: [School System, School System Name_x, SIS Submit Site Code, Federal Reporting Site Code, Site Name_x, Total Enrollment, % Female, % Male, American Indian, Asian, Black, Hispanic, Hawaiian/Pacific Islander, White, Multiple Races (Non-Hispanic), Minority, % Fully English Proficient, % Limited English Proficient, Infants (Sp Ed), Pre-School (Sp Ed), Pre-K (Reg Ed), Kindergarten, Grade 1, Grade 2, Grade 3, Grade 4, Grade 5, Grade 6, Grade 7, Grade 8, Grade 9, Grade T9, Grade 10, Grade 11, Grade 12, Extension Academy, % Economically Disadvantaged, Nonprofit Organization, Charter Type, School System Roll Up Type, Parish Code, School System Code, School System Name_y, Site Code, Site Name_y, 2021 % Mastery+ Grades 3-8, 2022 % Mastery+ Grades 3-8, 2021-2022 % Mastery+ Change Grades 3-8, 2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology, 2022 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology, 2021-2022 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology, _merge]
Index: []

In [57]:
#Again, no schools present in the LEAP dataset that are not already present in the multistat
print(nolasy22['SIS Submit Site Code'].isna().sum()) #How many nulls are from the multistat file? 
print(nolasy22['Site Code'].isna().sum()) #How many nulls are from the LEAP file?

0
3

In [58]:
#Since there are no nulls present in the multistat file, we can be confident in dropping the "Site Code" column
#Cleaning up SY22 columns
#Dropping redundant columns - FedSiteCd, School System, School System Name_x and School System Name_y 
#(they are all Orleans)
#Alsop dropping _merge, Parish Code, and School System Code, Site Code, and Site Name as per the check above 
nolasy22 = nolasy22.drop(columns=['School System','School System Name_x', 'Federal Reporting Site Code',
                                  'School System Name_y',
                                '_merge','Parish Code','School System Code','Site Code','Site Name_y'], axis=1)

In [59]:
nolasy22.shape

(77, 43)

In [60]:
#Lastly, add 'SY22' to all column names 
nolasy22 = nolasy22.add_prefix('sy22_')

In [61]:
print(nolasy19.duplicated(subset=['sy19_SiteCd']).sum())
print(nolasy19.duplicated(subset=['sy19_SiteName']).sum())

0
0

In [62]:
print(nolasy21.duplicated(subset=['sy21_SIS Submit Site Code']).sum())
print(nolasy21.duplicated(subset=['sy21_Site Name_x']).sum())

0
0

### II. Answering Questions 2-4
2. Please list the new site codes and associated school names that enrolled student in 2019, but no longer enroll students in 2021.
3. Please list the new site codes in Orleans Parish and associated school names that enrolled students in 2021 that did not exist in 2019.

In [63]:
#Join SY19 and SY21 data
sy19to21 = nolasy19.merge(nolasy21, left_on=['sy19_SiteCd'], 
                          right_on=['sy21_SIS Submit Site Code'], how='outer', indicator=True)

In [64]:
sy19to21.shape

(93, 86)

In [65]:
potential_sy21_closures = sy19to21.loc[sy19to21['_merge'] == 'left_only']
#School codes that appear only in the FY19 datafiles

In [66]:
potential_sy21_closures.shape
#16 schools appear only in the FY19 datafiles but not in the FY21 datafiles

(16, 86)

In [67]:
potential_sy21_new_schools = sy19to21.loc[sy19to21['_merge'] == 'right_only']
#School codes that appear only in the FY21 datafiles

In [68]:
potential_sy21_new_schools.shape
#14 schools appear in the FY21 datafile but not in the FY19 datafile

(14, 86)

In [69]:
potential_sy21_closures = potential_sy21_closures[['sy19_SiteCd','sy19_SiteName']]

In [70]:
potential_sy21_new_schools = potential_sy21_new_schools[['sy21_SIS Submit Site Code','sy21_Site Name_x']]

In [71]:
potential_openers_list = potential_sy21_new_schools['sy21_Site Name_x'].tolist()

In [72]:
#Use fuzzy matching since school names seem to differ slightly 

def fuzzy(col, potential_openers_list, score):
    fuzzy_words, score = process.extractOne(col, potential_openers_list, scorer=score)
    if score<75:
        return 'no_high_matches'
    else:
        return fuzzy_words,score
    
potential_sy21_closures['fuzzy_match'] = potential_sy21_closures['sy19_SiteName'].apply(fuzzy, potential_openers_list=potential_openers_list, score=fuzz.ratio)

In [73]:
potential_sy21_closures

,sy19_SiteCd,sy19_SiteName,fuzzy_match
1,036035,Warren Easton Senior High School,"(Warren Easton Charter High School, 86)"
2,036060,Edward Hynes Charter School,"(Edward Hynes Charter School - UNO, 90)"
7,036192,Foundation Preparatory,"(Foundation Preparatory Academy, 85)"
8,036193,Cypress Academy,no_high_matches
12,300001,Pierre A. Capdau Charter School at Avery Alexa...,"(Pierre A. Capdau Charter School, 77)"
13,300002,Nelson Elementary School,no_high_matches
14,300003,John F. Kennedy High School,"(John F. Kennedy High School, 100)"
20,367001,Edgar P. Harney Spirit of Excellence Academy,no_high_matches
24,369005,ReNEW Accelerated High School,"(New Orleans Accelerated High School, 84)"
36,393001,Lafayette Academy,no_high_matches
37,393002,Esperanza Charter School,"(Esperanza Charter School, 100)"
39,395003,William J. Fischer Accelerated Academy,no_high_matches
40,395004,McDonogh #32 Literacy Charter School,no_high_matches
52,399003,Joseph S. Clark Preparatory High School,no_high_matches
56,3A5001,Mary D. Coghill Charter School,"(Mary D. Coghill Elementary School, 79)"
58,W32001,Joseph A. Craig Charter School,no_high_matches

In [74]:
sy19_closures = potential_sy21_closures.loc[potential_sy21_closures['fuzzy_match'] == 'no_high_matches']
sy19_closure_list = dict(zip(sy19_closures.sy19_SiteCd, sy19_closures.sy19_SiteName))

In [75]:
sy19_closure_list

{'036193': 'Cypress Academy',
 '300002': 'Nelson Elementary School',
 '367001': 'Edgar P. Harney Spirit of Excellence Academy',
 '393001': 'Lafayette Academy',
 '395003': 'William J. Fischer Accelerated Academy',
 '395004': 'McDonogh #32 Literacy Charter School',
 '399003': 'Joseph S. Clark Preparatory High School',
 'W32001': 'Joseph A. Craig Charter School'}

In [76]:
len(sy19_closure_list)

8

Looks like 8 schools no longer enroll students in 2021. 

But fuzzy matching isn't perfect - the function didn't pick up on ReNEW Accelerated closing and turning into New Orleans Accelerated High. It also should not include Lafayette Academy, who simply had to move out of their building (if I remember the news correctly).

In [77]:
sy19_closure_list.update({'369005':'ReNEW Accelerated High School'})
del sy19_closure_list['393001']

In [78]:
#Codes and names of schools that enrolled students in 2019 but not in 2021
sy19_closure_list

{'036193': 'Cypress Academy',
 '300002': 'Nelson Elementary School',
 '367001': 'Edgar P. Harney Spirit of Excellence Academy',
 '395003': 'William J. Fischer Accelerated Academy',
 '395004': 'McDonogh #32 Literacy Charter School',
 '399003': 'Joseph S. Clark Preparatory High School',
 'W32001': 'Joseph A. Craig Charter School',
 '369005': 'ReNEW Accelerated High School'}

In [79]:
code_changers = potential_sy21_closures.loc[potential_sy21_closures['fuzzy_match'] != 'no_high_matches']
code_change_list = dict(zip(code_changers.sy19_SiteCd, code_changers.sy19_SiteName))

In [80]:
code_change_list

{'036035': 'Warren Easton Senior High School',
 '036060': 'Edward Hynes Charter School',
 '036192': 'Foundation Preparatory',
 '300001': 'Pierre A. Capdau Charter School at Avery Alexander',
 '300003': 'John F. Kennedy High School',
 '369005': 'ReNEW Accelerated High School',
 '393002': 'Esperanza Charter School',
 '3A5001': 'Mary D. Coghill Charter School'}

I know ReNEW Accelerated High School in actuality closed. I also know Lafayette Academy should be on this list, which the function also missed.

In [81]:
code_change_list.update({'393001':'Lafayette Academy'})
del code_change_list['369005']

In [82]:
#Codes and names of schools that switched site codes from 2019 to 2021 
code_change_list

{'036035': 'Warren Easton Senior High School',
 '036060': 'Edward Hynes Charter School',
 '036192': 'Foundation Preparatory',
 '300001': 'Pierre A. Capdau Charter School at Avery Alexander',
 '300003': 'John F. Kennedy High School',
 '393002': 'Esperanza Charter School',
 '3A5001': 'Mary D. Coghill Charter School',
 '393001': 'Lafayette Academy'}

Above are the names and site codes of the 8 schools that changed site codes between 2019 and 2021.

In [83]:
len(code_change_list)

8

In [84]:
changers_list = list(code_change_list.values())

In [85]:
changers_list

['Warren Easton Senior High School',
 'Edward Hynes Charter School',
 'Foundation Preparatory',
 'Pierre A. Capdau Charter School at Avery Alexander',
 'John F. Kennedy High School',
 'Esperanza Charter School',
 'Mary D. Coghill Charter School',
 'Lafayette Academy']

In [86]:
#Repeat the process to find the new schools from 2021 which were not open in 2019 
def fuzzy2(col, changers_list, score):
    fuzzy_words, score = process.extractOne(col, changers_list, scorer=score)
    if score<75:
        return 'no_high_matches'
    else:
        return fuzzy_words,score
    
potential_sy21_new_schools['fuzzy_match'] = potential_sy21_new_schools['sy21_Site Name_x'].apply(fuzzy2, changers_list=changers_list, score=fuzz.ratio)

In [87]:
#If there is NOT a match, it means that school started enrolling students in 2021 
#Except for Lafayette Academy, which the function keeps missing
potential_sy21_new_schools

,sy21_SIS Submit Site Code,sy21_Site Name_x,fuzzy_match
79,036021,Mary D. Coghill Elementary School,"(Mary D. Coghill Charter School, 79)"
80,360003,New Orleans Accelerated High School,no_high_matches
81,398009,John F. Kennedy High School,"(John F. Kennedy High School, 100)"
82,3C2001,Edward Hynes Charter School - Lakeview,"(Edward Hynes Charter School, 83)"
83,3C2002,Edward Hynes Charter School - UNO,"(Edward Hynes Charter School, 90)"
84,3C3001,Foundation Preparatory Academy,"(Foundation Preparatory, 85)"
85,3C3002,Lafayette Academy Charter School,no_high_matches
86,3C3003,Esperanza Charter School,"(Esperanza Charter School, 100)"
87,WBW001,Living School,no_high_matches
88,WBZ001,McDonogh 35 Senior High School,no_high_matches
89,WC2001,Opportunities Academy,no_high_matches
90,WC3001,IDEA Oscar Dunn,no_high_matches
91,WZB001,Warren Easton Charter High School,"(Warren Easton Senior High School, 86)"
92,WZF001,Pierre A. Capdau Charter School,(Pierre A. Capdau Charter School at Avery Alex...

In [88]:
sy21_new_schools = potential_sy21_new_schools.loc[potential_sy21_new_schools['fuzzy_match'] == 'no_high_matches']

In [89]:
sy21_new_schools_list = sy21_new_schools.set_index('sy21_SIS Submit Site Code').to_dict()['sy21_Site Name_x']

In [90]:
sy21_new_schools_list

{'360003': 'New Orleans Accelerated High School',
 '3C3002': 'Lafayette Academy Charter School',
 'WBW001': 'Living School',
 'WBZ001': 'McDonogh 35 Senior High School',
 'WC2001': 'Opportunities Academy',
 'WC3001': 'IDEA Oscar Dunn'}

In [91]:
#Drop Lafayette from list, as we know that in actuality they just changed buildings 
#Add Hynes Charter - UNO to list as this is a new campus 
#Fuzzy matching is not picking up on this
sy21_new_schools_list.update({'3C2002':'Edward Hynes Charter School - UNO'})
del sy21_new_schools_list['3C3002']

In [92]:
#Codes and names of schools that served students in 2021 but not 2019
sy21_new_schools_list

{'360003': 'New Orleans Accelerated High School',
 'WBW001': 'Living School',
 'WBZ001': 'McDonogh 35 Senior High School',
 'WC2001': 'Opportunities Academy',
 'WC3001': 'IDEA Oscar Dunn',
 '3C2002': 'Edward Hynes Charter School - UNO'}

Above are the 6 schools that did not enroll students in 2019, but did so in 2021. After I answered Questions 2,3, and 4, I went back to cleaning the dataframe.

### III. Longitudinal Merging

In [93]:
#Schools that closed in SY19 have NANs in SY21 columns 
#Schools that opened in SY21 have NANs in SY19 columns
#Schools that changed codes have data in all columns
#Presumably the schools that have changed codes have duplicate rows. We need to 
#get the data for these schools on one row so each school has just one row 
#Making list of all potential names to find all rows associated with schools that have changed codes 
fuzzymatches = sorted(potential_sy21_closures['sy19_SiteName'].tolist() + potential_sy21_new_schools['sy21_Site Name_x'].tolist())

In [94]:
fuzzymatches

['Cypress Academy',
 'Edgar P. Harney Spirit of Excellence Academy',
 'Edward Hynes Charter School',
 'Edward Hynes Charter School - Lakeview',
 'Edward Hynes Charter School - UNO',
 'Esperanza Charter School',
 'Esperanza Charter School',
 'Foundation Preparatory',
 'Foundation Preparatory Academy',
 'IDEA Oscar Dunn',
 'John F. Kennedy High School',
 'John F. Kennedy High School',
 'Joseph A. Craig Charter School',
 'Joseph S. Clark Preparatory High School',
 'Lafayette Academy',
 'Lafayette Academy Charter School',
 'Living School',
 'Mary D. Coghill Charter School',
 'Mary D. Coghill Elementary School',
 'McDonogh #32 Literacy Charter School',
 'McDonogh 35 Senior High School',
 'Nelson Elementary School',
 'New Orleans Accelerated High School',
 'Opportunities Academy',
 'Pierre A. Capdau Charter School',
 'Pierre A. Capdau Charter School at Avery Alexander',
 'ReNEW Accelerated High School',
 'Warren Easton Charter High School',
 'Warren Easton Senior High School',
 'William J. Fischer Accelerated Academy']

In [95]:
sy19to21.head(1)

,sy19_SiteCd,sy19_SiteName,sy19_Total Students,sy19_%Female,sy19_%Male,sy19_AmInd,sy19_Asian,sy19_Black,sy19_Hispanic,sy19_HawPI,sy19_White,sy19_Multiple,sy19_Minority,sy19_%Fully-EP,sy19_%LEP,sy19_Infants SpEd,sy19_PreSchool SpEd,sy19_PreK,sy19_Kindergarten,sy19_Grade1,sy19_Grade2,sy19_Grade3,sy19_Grade4,sy19_Grade5,sy19_Grade6,sy19_Grade7,sy19_Grade8,sy19_Grade9,sy19_GradeT9,sy19_Grade10,sy19_Grade11,sy19_Grade12,sy19_ED%,sy19_Nonprofit,sy19_Charter Type,sy19_RollUpType,sy19_2018 % Mastery+ Grades 3-8,sy19_2019 % Mastery+ Grades 3-8,sy19_2018-2019 % Mastery+ Change Grades 3-8,sy19_2018 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy19_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy19_2018-2019 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy21_SIS Submit Site Code,sy21_Site Name_x,sy21_Total Enrollment,sy21_% Female,sy21_% Male,sy21_American Indian,sy21_Asian,sy21_Black,sy21_Hispanic,sy21_Hawaiian/Pacific Islander,sy21_White,sy21_Multiple Races (Non-Hispanic),sy21_Minority,sy21_% Fully English Proficient,sy21_% Limited English Proficient,sy21_Infants (Sp Ed),sy21_Pre-School (Sp Ed),sy21_Pre-K (Reg Ed),sy21_Kindergarten,sy21_Grade 1,sy21_Grade 2,sy21_Grade 3,sy21_Grade 4,sy21_Grade 5,sy21_Grade 6,sy21_Grade 7,sy21_Grade 8,sy21_Grade 9,sy21_Grade T9,sy21_Grade 10,sy21_Grade 11,sy21_Grade 12,sy21_Extension Academy,sy21_% Economically Disadvantaged,sy21_Nonprofit Organization,sy21_Charter Type,sy21_School System Roll Up Type,sy21_2019 % Mastery+ Grades 3-8,sy21_2021 % Mastery+ Grades 3-8,sy21_2019-2021 % Mastery+ Change Grades 3-8,sy21_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy21_2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy21_2019-2021 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,_merge
0,036011,Mary Bethune Elementary Literature/Technology,688.00,0.52,0.48,0.00,2.00,669.00,15.00,0.00,2.00,0.00,686.00,0.99,0.01,0.00,2.00,38.00,78.00,78.00,80.00,81.00,79.00,82.00,54.00,55.00,61.00,0.00,0.00,0.00,0.00,0.00,0.82,NaN,NaN,R36,31,33,2,31,34,3,036011,Mary Bethune Elementary Literature/Technology,709,0.52,0.48,0,0,692,17,0,0,0,709,0.99,0.01,0,6,32,76,75,78,78,78,76,78,79,53,0,0,0,0,0,0,0.85,"Significant Educators, Inc.",Type 3,R36,30,17,-13,30,17,-13,both

In [96]:
code_change_list

{'036035': 'Warren Easton Senior High School',
 '036060': 'Edward Hynes Charter School',
 '036192': 'Foundation Preparatory',
 '300001': 'Pierre A. Capdau Charter School at Avery Alexander',
 '300003': 'John F. Kennedy High School',
 '393002': 'Esperanza Charter School',
 '3A5001': 'Mary D. Coghill Charter School',
 '393001': 'Lafayette Academy'}

In [97]:
keywords = ['Easton','Hynes','Capdau','Foundation','Kennedy','Esperanza','Coghill', 'Lafayette']

In [98]:
#Pulling all rows with schools that switched school codes 
switchers = sy19to21[sy19to21.stack().str.contains('|'.join(keywords)).any(level=0)]

In [99]:
#Dropping Hynes UNO from school code change group, as this is a brand new campus 
switchers_clean = switchers.drop(labels=[13,83], axis=0) #Nelson is at position 13; Hynes UNO is at position 83

In [100]:
switchers_clean.shape

(16, 86)

In [101]:
switchers_clean = switchers_clean.sort_values(by='sy21_Site Name_x')

In [102]:
sy19switchers = switchers_clean.filter(regex='^sy19', axis=1).dropna(how='all').sort_values(by='sy19_SiteName')

In [103]:
sy19switchers.shape

(8, 42)

In [104]:
sy21switchers = switchers_clean.filter(regex='^sy21', axis=1).dropna(how='all').sort_values(by='sy21_Site Name_x')

In [105]:
sy21switchers.shape

(8, 43)

In [106]:
sy19_school_name_list = sy19switchers['sy19_SiteName'].tolist()

In [107]:
sy19_school_name_list

['Edward Hynes Charter School',
 'Esperanza Charter School',
 'Foundation Preparatory',
 'John F. Kennedy High School',
 'Lafayette Academy',
 'Mary D. Coghill Charter School',
 'Pierre A. Capdau Charter School at Avery Alexander',
 'Warren Easton Senior High School']

In [108]:
sy21_school_name_list = sy21switchers['sy21_Site Name_x'].tolist()

In [109]:
sy21_school_name_list

['Edward Hynes Charter School - Lakeview',
 'Esperanza Charter School',
 'Foundation Preparatory Academy',
 'John F. Kennedy High School',
 'Lafayette Academy Charter School',
 'Mary D. Coghill Elementary School',
 'Pierre A. Capdau Charter School',
 'Warren Easton Charter High School']

In [110]:
sy19switchers = sy19switchers.replace('Edward Hynes Charter School', 'Edward Hynes Charter School - Lakeview').replace('Foundation Preparatory','Foundation Preparatory Academy').replace('Lafayette Academy','Lafayette Academy Charter School').replace('Mary D. Coghill Charter School','Mary D. Coghill Elementary School').replace('Warren Easton Senior High School','Warren Easton Charter High School').replace('Pierre A. Capdau Charter School at Avery Alexander','Pierre A. Capdau Charter School')

In [111]:
switchers_19to21final = sy19switchers.merge(sy21switchers, how='inner', left_on='sy19_SiteName', right_on ='sy21_Site Name_x')

In [112]:
switchers_19to21final.shape

(8, 85)

In [113]:
switchers_19to21final.head(1)

,sy19_SiteCd,sy19_SiteName,sy19_Total Students,sy19_%Female,sy19_%Male,sy19_AmInd,sy19_Asian,sy19_Black,sy19_Hispanic,sy19_HawPI,sy19_White,sy19_Multiple,sy19_Minority,sy19_%Fully-EP,sy19_%LEP,sy19_Infants SpEd,sy19_PreSchool SpEd,sy19_PreK,sy19_Kindergarten,sy19_Grade1,sy19_Grade2,sy19_Grade3,sy19_Grade4,sy19_Grade5,sy19_Grade6,sy19_Grade7,sy19_Grade8,sy19_Grade9,sy19_GradeT9,sy19_Grade10,sy19_Grade11,sy19_Grade12,sy19_ED%,sy19_Nonprofit,sy19_Charter Type,sy19_RollUpType,sy19_2018 % Mastery+ Grades 3-8,sy19_2019 % Mastery+ Grades 3-8,sy19_2018-2019 % Mastery+ Change Grades 3-8,sy19_2018 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy19_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy19_2018-2019 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy21_SIS Submit Site Code,sy21_Site Name_x,sy21_Total Enrollment,sy21_% Female,sy21_% Male,sy21_American Indian,sy21_Asian,sy21_Black,sy21_Hispanic,sy21_Hawaiian/Pacific Islander,sy21_White,sy21_Multiple Races (Non-Hispanic),sy21_Minority,sy21_% Fully English Proficient,sy21_% Limited English Proficient,sy21_Infants (Sp Ed),sy21_Pre-School (Sp Ed),sy21_Pre-K (Reg Ed),sy21_Kindergarten,sy21_Grade 1,sy21_Grade 2,sy21_Grade 3,sy21_Grade 4,sy21_Grade 5,sy21_Grade 6,sy21_Grade 7,sy21_Grade 8,sy21_Grade 9,sy21_Grade T9,sy21_Grade 10,sy21_Grade 11,sy21_Grade 12,sy21_Extension Academy,sy21_% Economically Disadvantaged,sy21_Nonprofit Organization,sy21_Charter Type,sy21_School System Roll Up Type,sy21_2019 % Mastery+ Grades 3-8,sy21_2021 % Mastery+ Grades 3-8,sy21_2019-2021 % Mastery+ Change Grades 3-8,sy21_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy21_2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy21_2019-2021 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology
0,036060,Edward Hynes Charter School - Lakeview,717.00,0.53,0.47,0.00,32.00,252.00,30.00,0.00,361.00,42.00,356.00,0.97,0.03,0.00,17.00,0.00,83.00,84.00,79.00,79.00,72.00,80.00,77.00,76.00,70.00,0.00,0.00,0.00,0.00,0.00,0.35,Hynes Charter School Corporation,Type 3,R36,61,63,2,60,63,3,3C2001,Edward Hynes Charter School - Lakeview,712,0.53,0.47,0,35,236,30,0,369,42,343,0.97,0.03,0,16,0,78,80,84,79,77,78,76,77,67,0,0,0,0,0,0,0.42,Hynes Charter School Corporation,Type 1,R36,NR,56,NR,NR,55,NR

In [114]:
sy19to21.shape

(93, 86)

In [115]:
#Replacing rows in 19 to 21 table with correct rows for schools that have switched codes 
#First need to drop the duplicate rows for both years
sy19to21_updated = sy19to21[~sy19to21['sy19_SiteCd'].isin(switchers_19to21final['sy19_SiteCd'])]

In [116]:
sy19to21_updated.shape

(85, 86)

In [117]:
sy19to21_updated2 = sy19to21_updated[~sy19to21_updated['sy21_SIS Submit Site Code'].isin(switchers_19to21final['sy21_SIS Submit Site Code'])]

In [118]:
sy19to21_updated2.shape

(77, 86)

In [119]:
#Now need to add the correct rows back in 
sy19to21 = sy19to21_updated2.append(switchers_19to21final)

In [120]:
sy19to21.shape
#Confirmed that rows for the schools that have switched codes are added back in

(85, 86)

In [121]:
#Need to drop indicator column in order for the below merge to work 
sy19to21 = sy19to21.drop(columns=['_merge'])

In [122]:
nolasy22.shape

(77, 43)

In [123]:
#Now, we can join the 19/21 dataset with the 22 dataset 
sy19to22 = sy19to21.merge(nolasy22, left_on=['sy21_SIS Submit Site Code'], 
                          right_on=['sy22_SIS Submit Site Code'], how='outer', indicator=True)

In [124]:
sy19to22.shape

(90, 129)

In [125]:
potential_sy22_closures = sy19to22.loc[sy19to22['_merge'] == 'left_only']
#School codes that appear only in the FY19/FY21 datafiles

In [126]:
potential_sy22_closures.shape
#13 site codes appear only in the FY19/21 datafiles but not in the FY21 datafiles

(13, 129)

In [127]:
potential_sy22_new_schools = sy19to22.loc[sy19to22['_merge'] == 'right_only']
#School codes that appear only in the FY22 datafiles

In [128]:
potential_sy22_new_schools.shape
#5 schools appear in the FY21 datafile but not in the FY19 datafile

(5, 129)

In [129]:
potential_sy22_closures = potential_sy22_closures[['sy21_SIS Submit Site Code','sy21_Site Name_x']]
potential_sy22_new_schools = potential_sy22_new_schools[['sy22_SIS Submit Site Code','sy22_Site Name_x']]

In [130]:
sy22_potential_openers_list = potential_sy22_new_schools['sy22_Site Name_x'].tolist()

In [131]:
#Schools that may have closed by 2022
potential_sy22_closures

   sy21_SIS Submit Site Code                         sy21_Site Name_x
1                     036088  McDonogh #35 College Preparatory School
4                     036189         Homer A. Plessy Community School
5                        NaN                                      NaN
6                        NaN                                      NaN
7                        NaN                                      NaN
8                        NaN                                      NaN
9                        NaN                                      NaN
10                       NaN                                      NaN
11                       NaN                                      NaN
12                       NaN                                      NaN
14                    036198                            Rooted School
33                    385003         Lawrence D. Crocker College Prep
82                    036021        Mary D. Coghill Elementary School

In [132]:
#Schools that may have started serving students in 2022
potential_sy22_new_schools

   sy22_SIS Submit Site Code                                sy22_Site Name_x
85                    036200  The Delores Taylor Arthur School for Young Men
86                    3C2003                                  Hynes Parkview
87                    3C6001                   Homer Plessy Community School
88                    3C7001                                   Rooted School
89                    3C8001                     YACS at Lawrence D. Crocker

Between 2021 and 2022: 

Closures: 
- Lawrence D. Crocker College Prep (385003)
- Mary D. Coghill (036021)

School Code Changes: 
- 2021 - Homer A. Plessy Community School (036189)
- 2022 - Homer Plessy Community School (3C6001)
- 2021 - Rooted School (036198) 
- 2022 - Rooted School (3C7001) 

Openers: 
- The Deleres Taylor Arthur School for Young Men (036200)
- Hynes Parkview (3C2003)
- YACS at Lawrence D. Crocker (3C8001)

Unsure: McDonogh #35 has two rows and two distinct school codes for 2021. Each row contains different data, so I'm unsure what to do here: 
- 2021 - McDonogh #35 College Preparatory School (036088)
- 2021 and 2022 - McDonogh 35 Senior High School (WBZ001)

In [133]:
#There are only two other schools that seemed to switch codes in 2022, so I can
#handle these duplicates manually without using fuzzy 
keywords = ['Plessy','Rooted']

In [134]:
#Pulling all rows with schools that switched school codes 
sy21to22_switchers = sy19to22[sy19to22.stack().str.contains('|'.join(keywords)).any(level=0)]

In [135]:
sy21to22_switchers.shape

(4, 129)

In [136]:
sy21to22_switchers.head(1)

,sy19_SiteCd,sy19_SiteName,sy19_Total Students,sy19_%Female,sy19_%Male,sy19_AmInd,sy19_Asian,sy19_Black,sy19_Hispanic,sy19_HawPI,sy19_White,sy19_Multiple,sy19_Minority,sy19_%Fully-EP,sy19_%LEP,sy19_Infants SpEd,sy19_PreSchool SpEd,sy19_PreK,sy19_Kindergarten,sy19_Grade1,sy19_Grade2,sy19_Grade3,sy19_Grade4,sy19_Grade5,sy19_Grade6,sy19_Grade7,sy19_Grade8,sy19_Grade9,sy19_GradeT9,sy19_Grade10,sy19_Grade11,sy19_Grade12,sy19_ED%,sy19_Nonprofit,sy19_Charter Type,sy19_RollUpType,sy19_2018 % Mastery+ Grades 3-8,sy19_2019 % Mastery+ Grades 3-8,sy19_2018-2019 % Mastery+ Change Grades 3-8,sy19_2018 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy19_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy19_2018-2019 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy21_SIS Submit Site Code,sy21_Site Name_x,sy21_Total Enrollment,sy21_% Female,sy21_% Male,sy21_American Indian,sy21_Asian,sy21_Black,sy21_Hispanic,sy21_Hawaiian/Pacific Islander,sy21_White,sy21_Multiple Races (Non-Hispanic),sy21_Minority,sy21_% Fully English Proficient,sy21_% Limited English Proficient,sy21_Infants (Sp Ed),sy21_Pre-School (Sp Ed),sy21_Pre-K (Reg Ed),sy21_Kindergarten,sy21_Grade 1,sy21_Grade 2,sy21_Grade 3,sy21_Grade 4,sy21_Grade 5,sy21_Grade 6,sy21_Grade 7,sy21_Grade 8,sy21_Grade 9,sy21_Grade T9,sy21_Grade 10,sy21_Grade 11,sy21_Grade 12,sy21_Extension Academy,sy21_% Economically Disadvantaged,sy21_Nonprofit Organization,sy21_Charter Type,sy21_School System Roll Up Type,sy21_2019 % Mastery+ Grades 3-8,sy21_2021 % Mastery+ Grades 3-8,sy21_2019-2021 % Mastery+ Change Grades 3-8,sy21_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy21_2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy21_2019-2021 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy22_SIS Submit Site Code,sy22_Site Name_x,sy22_Total Enrollment,sy22_% Female,sy22_% Male,sy22_American Indian,sy22_Asian,sy22_Black,sy22_Hispanic,sy22_Hawaiian/Pacific Islander,sy22_White,sy22_Multiple Races (Non-Hispanic),sy22_Minority,sy22_% Fully English Proficient,sy22_% Limited English Proficient,sy22_Infants (Sp Ed),sy22_Pre-School (Sp Ed),sy22_Pre-K (Reg Ed),sy22_Kindergarten,sy22_Grade 1,sy22_Grade 2,sy22_Grade 3,sy22_Grade 4,sy22_Grade 5,sy22_Grade 6,sy22_Grade 7,sy22_Grade 8,sy22_Grade 9,sy22_Grade T9,sy22_Grade 10,sy22_Grade 11,sy22_Grade 12,sy22_Extension Academy,sy22_% Economically Disadvantaged,sy22_Nonprofit Organization,sy22_Charter Type,sy22_School System Roll Up Type,sy22_2021 % Mastery+ Grades 3-8,sy22_2022 % Mastery+ Grades 3-8,sy22_2021-2022 % Mastery+ Change Grades 3-8,sy22_2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy22_2022 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy22_2021-2022 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,_merge
4,036189,Homer A. Plessy Community School,397.00,0.48,0.52,2.00,7.00,177.00,48.00,0.00,118.00,45.00,279.00,0.92,0.08,0.00,0.00,39.00,50.00,42.00,46.00,44.00,54.00,53.00,40.00,29.00,0.00,0.00,0.00,0.00,0.00,0.00,0.78,Citizens' Committee for Education,Type 1,R36,19,28,9,19,28,9,036189,Homer A. Plessy Community School,753,0.48,0.52,3,11,395,75,0,205,64,548,0.95,0.05,0,3,51,77,80,83,74,60,77,76,85,87,0,0,0,0,0,0,0.73,Citizens' Committee for Education,Type 1,R36,27,20,-7,27,20,-7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [137]:
sy21switchers = sy21to22_switchers.filter(regex='^sy19|^sy21', axis=1).dropna(how='all').sort_values(by='sy21_Site Name_x')

In [138]:
sy21switchers.shape

(2, 85)

In [139]:
sy22switchers = sy21to22_switchers.filter(regex='^sy22', axis=1).dropna(how='all').sort_values(by='sy22_Site Name_x')

In [140]:
sy22switchers.shape

(2, 43)

In [141]:
sy21_school_name_list = sy21switchers['sy21_Site Name_x'].tolist()

In [142]:
sy21_school_name_list

['Homer A. Plessy Community School', 'Rooted School']

In [143]:
sy22_school_name_list = sy22switchers['sy22_Site Name_x'].tolist()

In [144]:
sy22_school_name_list

['Homer Plessy Community School', 'Rooted School']

In [145]:
sy21switchers = sy21switchers.replace('Homer A. Plessy Community School', 'Homer Plessy Community School')

In [146]:
switchers_19to22final = sy21switchers.merge(sy22switchers, how='inner', left_on='sy21_Site Name_x', right_on ='sy22_Site Name_x')

In [147]:
switchers_19to22final.shape

(2, 128)

In [148]:
switchers_19to22final

,sy19_SiteCd,sy19_SiteName,sy19_Total Students,sy19_%Female,sy19_%Male,sy19_AmInd,sy19_Asian,sy19_Black,sy19_Hispanic,sy19_HawPI,sy19_White,sy19_Multiple,sy19_Minority,sy19_%Fully-EP,sy19_%LEP,sy19_Infants SpEd,sy19_PreSchool SpEd,sy19_PreK,sy19_Kindergarten,sy19_Grade1,sy19_Grade2,sy19_Grade3,sy19_Grade4,sy19_Grade5,sy19_Grade6,sy19_Grade7,sy19_Grade8,sy19_Grade9,sy19_GradeT9,sy19_Grade10,sy19_Grade11,sy19_Grade12,sy19_ED%,sy19_Nonprofit,sy19_Charter Type,sy19_RollUpType,sy19_2018 % Mastery+ Grades 3-8,sy19_2019 % Mastery+ Grades 3-8,sy19_2018-2019 % Mastery+ Change Grades 3-8,sy19_2018 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy19_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy19_2018-2019 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy21_SIS Submit Site Code,sy21_Site Name_x,sy21_Total Enrollment,sy21_% Female,sy21_% Male,sy21_American Indian,sy21_Asian,sy21_Black,sy21_Hispanic,sy21_Hawaiian/Pacific Islander,sy21_White,sy21_Multiple Races (Non-Hispanic),sy21_Minority,sy21_% Fully English Proficient,sy21_% Limited English Proficient,sy21_Infants (Sp Ed),sy21_Pre-School (Sp Ed),sy21_Pre-K (Reg Ed),sy21_Kindergarten,sy21_Grade 1,sy21_Grade 2,sy21_Grade 3,sy21_Grade 4,sy21_Grade 5,sy21_Grade 6,sy21_Grade 7,sy21_Grade 8,sy21_Grade 9,sy21_Grade T9,sy21_Grade 10,sy21_Grade 11,sy21_Grade 12,sy21_Extension Academy,sy21_% Economically Disadvantaged,sy21_Nonprofit Organization,sy21_Charter Type,sy21_School System Roll Up Type,sy21_2019 % Mastery+ Grades 3-8,sy21_2021 % Mastery+ Grades 3-8,sy21_2019-2021 % Mastery+ Change Grades 3-8,sy21_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy21_2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy21_2019-2021 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy22_SIS Submit Site Code,sy22_Site Name_x,sy22_Total Enrollment,sy22_% Female,sy22_% Male,sy22_American Indian,sy22_Asian,sy22_Black,sy22_Hispanic,sy22_Hawaiian/Pacific Islander,sy22_White,sy22_Multiple Races (Non-Hispanic),sy22_Minority,sy22_% Fully English Proficient,sy22_% Limited English Proficient,sy22_Infants (Sp Ed),sy22_Pre-School (Sp Ed),sy22_Pre-K (Reg Ed),sy22_Kindergarten,sy22_Grade 1,sy22_Grade 2,sy22_Grade 3,sy22_Grade 4,sy22_Grade 5,sy22_Grade 6,sy22_Grade 7,sy22_Grade 8,sy22_Grade 9,sy22_Grade T9,sy22_Grade 10,sy22_Grade 11,sy22_Grade 12,sy22_Extension Academy,sy22_% Economically Disadvantaged,sy22_Nonprofit Organization,sy22_Charter Type,sy22_School System Roll Up Type,sy22_2021 % Mastery+ Grades 3-8,sy22_2022 % Mastery+ Grades 3-8,sy22_2021-2022 % Mastery+ Change Grades 3-8,sy22_2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy22_2022 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy22_2021-2022 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology
0,036189,Homer Plessy Community School,397.00,0.48,0.52,2.00,7.00,177.00,48.00,0.00,118.00,45.00,279.00,0.92,0.08,0.00,0.00,39.00,50.00,42.00,46.00,44.00,54.00,53.00,40.00,29.00,0.00,0.00,0.00,0.00,0.00,0.00,0.78,Citizens' Committee for Education,Type 1,R36,19,28,9,19,28,9,036189,Homer Plessy Community School,753,0.48,0.52,3,11,395,75,0,205,64,548,0.95,0.05,0,3,51,77,80,83,74,60,77,76,85,87,0,0,0,0,0,0,0.73,Citizens' Committee for Education,Type 1,R36,27,20,-7,27,20,-7,3C6001,Homer Plessy Community School,720,0.45,0.55,6,10,342,85,2,211,64,509,0.94,0.06,0,2,49,74,85,69,86,71,68,69,75,72,0,0,0,0,0,0,0.74,NaN,Type 1B,R36,NR,23,NR,NR,24,NR
1,036198,Rooted School,97.00,0.30,0.70,0.00,1.00,84.00,7.00,0.00,5.00,0.00,92.00,0.96,0.04,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,56.00,0.00,41.00,0.00,0.00,0.81,Rooted School,Type 1,R36,NR,NR,NR,37,29,-8,036198,Rooted School,188,0.36,0.64,0,1,155,21,0,11,0,177,0.94,0.06,0,0,0,0,0,0,0,0,0,0,0,0,38,0,57,53,40,0,0.79,Rooted School,Type 1,R36,NR,NR,NR,26,17,-9,3C7001,Rooted School,182,0.35,0.65,0,4,123,39,0,15,1,167,0.86,0.14,0,0,0,0,0,0,0,0,0,0,0,0,40,0,40,53,49,0,0.84,NaN,Type 1B,R36,NR,NR,NR,NR,12,NR

In [149]:
#Replacing rows in 19 to 22 table with correct rows for schools that have switched codes 
#First need to drop the duplicate rows for both years
sy19to22_updated = sy19to22[~sy19to22['sy21_SIS Submit Site Code'].isin(switchers_19to22final['sy21_SIS Submit Site Code'])]

In [150]:
sy19to22.shape

(90, 129)

In [151]:
sy19to22_updated.shape

(88, 129)

In [152]:
sy19to22_updated2 = sy19to22_updated[~sy19to22_updated['sy22_SIS Submit Site Code'].isin(switchers_19to22final['sy22_SIS Submit Site Code'])]

In [153]:
sy19to22_updated2.shape

(86, 129)

In [154]:
#Now need to add the correct rows back in 
sy19to22 = sy19to22_updated2.append(switchers_19to22final)

In [155]:
sy19to22.shape
#Confirmed that rows for the schools that have switched codes are added back in

(88, 129)

In [156]:
sy19to22.columns.tolist()

['sy19_SiteCd',
 'sy19_SiteName',
 'sy19_Total Students',
 'sy19_%Female',
 'sy19_%Male',
 'sy19_AmInd',
 'sy19_Asian',
 'sy19_Black',
 'sy19_Hispanic',
 'sy19_HawPI',
 'sy19_White',
 'sy19_Multiple',
 'sy19_Minority',
 'sy19_%Fully-EP',
 'sy19_%LEP',
 'sy19_Infants SpEd',
 'sy19_PreSchool SpEd',
 'sy19_PreK',
 'sy19_Kindergarten',
 'sy19_Grade1',
 'sy19_Grade2',
 'sy19_Grade3',
 'sy19_Grade4',
 'sy19_Grade5',
 'sy19_Grade6',
 'sy19_Grade7',
 'sy19_Grade8',
 'sy19_Grade9',
 'sy19_GradeT9',
 'sy19_Grade10',
 'sy19_Grade11',
 'sy19_Grade12',
 'sy19_ED%',
 'sy19_Nonprofit',
 'sy19_Charter Type',
 'sy19_RollUpType',
 'sy19_2018 % Mastery+ Grades 3-8',
 'sy19_2019 % Mastery+ Grades 3-8',
 'sy19_2018-2019 % Mastery+ Change Grades 3-8',
 'sy19_2018 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History',
 'sy19_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History',
 'sy19_2018-2019 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History',
 'sy21_SIS Submit Site Code',
 'sy21_Site Name_x',
 'sy21_Total Enrollment',
 'sy21_% Female',
 'sy21_% Male',
 'sy21_American Indian',
 'sy21_Asian',
 'sy21_Black',
 'sy21_Hispanic',
 'sy21_Hawaiian/Pacific Islander',
 'sy21_White',
 'sy21_Multiple Races (Non-Hispanic)',
 'sy21_Minority',
 'sy21_% Fully English Proficient',
 'sy21_% Limited English Proficient',
 'sy21_Infants (Sp Ed)',
 'sy21_Pre-School (Sp Ed)',
 'sy21_Pre-K (Reg Ed)',
 'sy21_Kindergarten',
 'sy21_Grade 1',
 'sy21_Grade 2',
 'sy21_Grade 3',
 'sy21_Grade 4',
 'sy21_Grade 5',
 'sy21_Grade 6',
 'sy21_Grade 7',
 'sy21_Grade 8',
 'sy21_Grade 9',
 'sy21_Grade T9',
 'sy21_Grade 10',
 'sy21_Grade 11',
 'sy21_Grade 12',
 'sy21_Extension Academy',
 'sy21_% Economically Disadvantaged',
 'sy21_Nonprofit Organization',
 'sy21_Charter Type',
 'sy21_School System Roll Up Type',
 'sy21_2019 % Mastery+ Grades 3-8',
 'sy21_2021 % Mastery+ Grades 3-8',
 'sy21_2019-2021 % Mastery+ Change Grades 3-8',
 'sy21_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology',
 'sy21_2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology',
 'sy21_2019-2021 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology',
 'sy22_SIS Submit Site Code',
 'sy22_Site Name_x',
 'sy22_Total Enrollment',
 'sy22_% Female',
 'sy22_% Male',
 'sy22_American Indian',
 'sy22_Asian',
 'sy22_Black',
 'sy22_Hispanic',
 'sy22_Hawaiian/Pacific Islander',
 'sy22_White',
 'sy22_Multiple Races (Non-Hispanic)',
 'sy22_Minority',
 'sy22_% Fully English Proficient',
 'sy22_% Limited English Proficient',
 'sy22_Infants (Sp Ed)',
 'sy22_Pre-School (Sp Ed)',
 'sy22_Pre-K (Reg Ed)',
 'sy22_Kindergarten',
 'sy22_Grade 1',
 'sy22_Grade 2',
 'sy22_Grade 3',
 'sy22_Grade 4',
 'sy22_Grade 5',
 'sy22_Grade 6',
 'sy22_Grade 7',
 'sy22_Grade 8',
 'sy22_Grade 9',
 'sy22_Grade T9',
 'sy22_Grade 10',
 'sy22_Grade 11',
 'sy22_Grade 12',
 'sy22_Extension Academy',
 'sy22_% Economically Disadvantaged',
 'sy22_Nonprofit Organization',
 'sy22_Charter Type',
 'sy22_School System Roll Up Type',
 'sy22_2021 % Mastery+ Grades 3-8',
 'sy22_2022 % Mastery+ Grades 3-8',
 'sy22_2021-2022 % Mastery+ Change Grades 3-8',
 'sy22_2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology',
 'sy22_2022 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology',
 'sy22_2021-2022 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology',
 '_merge']

In [157]:
#Making sure all the most recent site codes and school names are in the 2022 columns 
sy19to22['sy21_Site Name_x'].fillna(sy19to22['sy19_SiteName'], inplace=True)
sy19to22['sy22_Site Name_x'].fillna(sy19to22['sy21_Site Name_x'], inplace=True)
sy19to22['sy22_Site Name_x'].fillna(sy19to22['sy21_Site Name_x'], inplace=True)
sy19to22['sy22_Site Name_x'].fillna(sy19to22['sy21_Site Name_x'], inplace=True)
sy19to22['sy21_SIS Submit Site Code'].fillna(sy19to22['sy19_SiteCd'], inplace=True)
sy19to22['sy22_SIS Submit Site Code'].fillna(sy19to22['sy21_SIS Submit Site Code'], inplace=True)

In [158]:
#Now that nulls are filled in, I can drop the 2019 and 2021 site code/name columns 
cols_to_move = ['2022_School_Code', 'School_Name']
sy19to22_final = sy19to22.drop(columns=['sy19_SiteName', 'sy21_Site Name_x','sy19_SiteCd','sy21_SIS Submit Site Code'
                                    ,'_merge'], axis=1).rename(columns={'sy22_SIS Submit Site Code':'2022_School_Code',
                                                                       'sy22_Site Name_x':'School_Name'}).reset_index(drop=True)

sy19to22_final = sy19to22_final[cols_to_move + [col for col in sy19to22_final if col not in cols_to_move]]

### IV. Imputation and Final Cleaning Steps

In [159]:
#Moving on to cleaning and inspecting the numerical columns - currently categorized as object columns
#Have to get rid of all the special characters 

#Fills nulls and NRs in dataframe 
sy19to22_final = sy19to22_final.fillna(0)

#Fill NRs with 0 
sy19to22_final = sy19to22_final.replace('NR',0)

#Replace < 5
sy19to22_final = sy19to22_final.replace('< 5', 5)

#Replace ≤ 1 
sy19to22_final = sy19to22_final.replace ('≤ 1', 1)

#Replace >-5 
sy19to22_final = sy19to22_final.replace('>-5', -5)

#Replace > -5 
sy19to22_final = sy19to22_final.replace('> -5',-5)

#Replace < 10
sy19to22_final = sy19to22_final.replace('< 10', 10)

#Replace > -10
sy19to22_final = sy19to22_final.replace('> -10', -10)

In [160]:
object_cols = sy19to22_final.select_dtypes(include=['object'])

In [161]:
cols_to_transform = object_cols.drop(columns = ['2022_School_Code','School_Name','sy19_Nonprofit','sy19_Charter Type',
                                                'sy19_RollUpType','sy21_Nonprofit Organization','sy21_Charter Type'
                                               ,'sy21_School System Roll Up Type','sy22_Nonprofit Organization',
                                                'sy22_Charter Type','sy22_School System Roll Up Type'], axis=1)

In [162]:
for col in cols_to_transform:
    print(cols_to_transform[col].unique())

['   30' 0 5 '   40' '   15' '   16' '   35' '   12' '   13' '    7'
 '   14' '   22' '   18' '   24' '   27' '   25' '   20' '   23' '   19'
 '   50' '   39' '   87' '   86' '   43' '   21' '   17']
['   17' 0 5 '   15' '   16' '    6' '    9' '    8' '    7' '   24'
 '   10' '   12' '    5' '   14' '   13' '   11' '   40' '   22' '   82'
 '   75' '   33' '   56' '   20']
['  -13' 0 5 '  -15' '  -24' 10 '   -6' '   -8' '  -11' '   -2' '   -4'
 '   -5' -5 '  -10' '   -9' '   -3' '  -17' '   -1' '   -7']
['   30' '    7' 5 '   31' 0 '   40' '    8' '   15' '   16' '   35'
 '   12' '   13' '   14' '   24' '   22' '   21' '   10' '   18' '   27'
 '   29' '   25' '   20' '   23' '   19' '   50' '   95' '   88' '   87'
 '   17' '   43' '   39' '   26']
['   17' 5 '   15' 0 '   16' '    7' '    5' '    9' '    8' '   23'
 '   10' '   12' '   13' '   14' '   19' '   11' '    6' '   39' '   89'
 '   22' '   18' '   82' '   76' '   33' '   55' '   20']
['  -13' -10 5 '  -16' 0 '  -24' '   -1' '   -6' '   -8' '   -9' '  -12'
 '   -2' '   -4' '   -5' '   -3' -5 '  -10' '   -7' '  -11' '  -18'
 '  -28']
['   17' 0 5 '   15' '   16' '    6' '    9' '    8' '    7' '   24'
 '   10' '   12' '    5' '   14' '   13' '   11' '   40' '   22' '   82'
 '   75' '   33' '   56']
['   20' 0 5 '   19' '   21' '    5' '   11' '   10' '    7' '   27'
 '   14' '    8' '   13' '   12' '   17' '   16' '    9' '   15' '   45'
 '   32' '   86' '   82' '   33' '   62' '   23']
['    3' 0 5 '    4' '    5' -10 '    2' '    0' '   -1' '    1' -5
 '    6' '   10' '   -4' '    7' '   -3']
['   17' 0 5 '   15' '   16' '    7' '    5' '    9' '    8' '   23'
 '   10' '   12' '   13' '   14' '   19' '   11' '    6' '   39' '   89'
 '   22' '   18' '   82' '   76' '   33' '   55']
['   21' 0 5 '   20' '    9' '    8' '   11' '   10' '    7' '   25'
 '   14' '    5' '   13' '   17' '   15' '   16' '    6' '   12' '   19'
 '   45' '   94' '   33' '   22' '   86' '   83' '   18' '   61' '   24']
['    4' 0 5 '    5' '    2' '    3' '    0' '   -1' '    1' '    6'
 '   11' '   -4' '    7' '   -6' '   -2' '   -3']

In [163]:
cols = object_cols.drop(columns = ['2022_School_Code','School_Name','sy19_Nonprofit','sy19_Charter Type',
                                                'sy19_RollUpType','sy21_Nonprofit Organization','sy21_Charter Type'
                                               ,'sy21_School System Roll Up Type','sy22_Nonprofit Organization',
                                                'sy22_Charter Type','sy22_School System Roll Up Type'], axis=1).columns.tolist()

In [164]:
sy19to22_final[cols] = sy19to22_final[cols].apply(pd.to_numeric, errors='coerce')

In [165]:
sy19to22_final.dtypes

2022_School_Code                                                                                             object
School_Name                                                                                                  object
sy19_Total Students                                                                                         float64
sy19_%Female                                                                                                float64
sy19_%Male                                                                                                  float64
sy19_AmInd                                                                                                  float64
sy19_Asian                                                                                                  float64
sy19_Black                                                                                                  float64
sy19_Hispanic                                                                                               float64
sy19_HawPI                                                                                                  float64
sy19_White                                                                                                  float64
sy19_Multiple                                                                                               float64
sy19_Minority                                                                                               float64
sy19_%Fully-EP                                                                                              float64
sy19_%LEP                                                                                                   float64
sy19_Infants SpEd                                                                                           float64
sy19_PreSchool SpEd                                                                                         float64
sy19_PreK                                                                                                   float64
sy19_Kindergarten                                                                                           float64
sy19_Grade1                                                                                                 float64
sy19_Grade2                                                                                                 float64
sy19_Grade3                                                                                                 float64
sy19_Grade4                                                                                                 float64
sy19_Grade5                                                                                                 float64
sy19_Grade6                                                                                                 float64
sy19_Grade7                                                                                                 float64
sy19_Grade8                                                                                                 float64
sy19_Grade9                                                                                                 float64
sy19_GradeT9                                                                                                float64
sy19_Grade10                                                                                                float64
sy19_Grade11                                                                                                float64
sy19_Grade12                                                                                                float64
sy19_ED%                                                                                                    float64
sy19_Nonprofit                                                                                               object
sy19_Charter Type                                                                                            object
sy19_RollUpType                                                                                              object
sy19_2018 % Mastery+ Grades 3-8                                                                               int64
sy19_2019 % Mastery+ Grades 3-8                                                                               int64
sy19_2018-2019 % Mastery+ Change Grades 3-8                                                                   int64
sy19_2018 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History                            int64
sy19_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History                            int64
sy19_2018-2019 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History                int64
sy21_Total Enrollment                                                                                         int64
sy21_% Female                                                                                               float64
sy21_% Male                                                                                                 float64
sy21_American Indian                                                                                          int64
sy21_Asian                                                                                                    int64
sy21_Black                                                                                                    int64
sy21_Hispanic                                                                                                 int64
sy21_Hawaiian/Pacific Islander                                                                                int64
sy21_White                                                                                                    int64
sy21_Multiple Races (Non-Hispanic)                                                                            int64
sy21_Minority                                                                                                 int64
sy21_% Fully English Proficient                                                                             float64
sy21_% Limited English Proficient                                                                           float64
sy21_Infants (Sp Ed)                                                                                          int64
sy21_Pre-School (Sp Ed)                                                                                       int64
sy21_Pre-K (Reg Ed)                                                                                           int64
sy21_Kindergarten                                                                                             int64
sy21_Grade 1                                                                                                  int64
sy21_Grade 2                                                                                                  int64
sy21_Grade 3                                                                                                  int64
sy21_Grade 4                                                                                                  int64
sy21_Grade 5                                                                                                  int64
sy21_Grade 6                                                                                                  int64
sy21_Grade 7                                                                                                  int64
sy21_Grade 8                                                                                                  int64
sy21_Grade 9                                                                                                  int64
sy21_Grade T9                                                                                                 int64
sy21_Grade 10                                                                                                 int64
sy21_Grade 11                                                                                                 int64
sy21_Grade 12                                                                                                 int64
sy21_Extension Academy                                                                                        int64
sy21_% Economically Disadvantaged                                                                           float64
sy21_Nonprofit Organization                                                                                  object
sy21_Charter Type                                                                                            object
sy21_School System Roll Up Type                                                                              object
sy21_2019 % Mastery+ Grades 3-8                                                                               int64
sy21_2021 % Mastery+ Grades 3-8                                                                               int64
sy21_2019-2021 % Mastery+ Change Grades 3-8                                                                   int64
sy21_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology                  int64
sy21_2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology                  int64
sy21_2019-2021 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology      int64
sy22_Total Enrollment                                                                                         int64
sy22_% Female                                                                                               float64
sy22_% Male                                                                                                 float64
sy22_American Indian                                                                                          int64
sy22_Asian                                                                                                    int64
sy22_Black                                                                                                    int64
sy22_Hispanic                                                                                                 int64
sy22_Hawaiian/Pacific Islander                                                                                int64
sy22_White                                                                                                    int64
sy22_Multiple Races (Non-Hispanic)                                                                            int64
sy22_Minority                                                                                                 int64
sy22_% Fully English Proficient                                                                             float64
sy22_% Limited English Proficient                                                                           float64
sy22_Infants (Sp Ed)                                                                                          int64
sy22_Pre-School (Sp Ed)                                                                                       int64
sy22_Pre-K (Reg Ed)                                                                                           int64
sy22_Kindergarten                                                                                             int64
sy22_Grade 1                                                                                                  int64
sy22_Grade 2                                                                                                  int64
sy22_Grade 3                                                                                                  int64
sy22_Grade 4                                                                                                  int64
sy22_Grade 5                                                                                                  int64
sy22_Grade 6                                                                                                  int64
sy22_Grade 7                                                                                                  int64
sy22_Grade 8                                                                                                  int64
sy22_Grade 9                                                                                                  int64
sy22_Grade T9                                                                                                 int64
sy22_Grade 10                                                                                                 int64
sy22_Grade 11                                                                                                 int64
sy22_Grade 12                                                                                                 int64
sy22_Extension Academy                                                                                        int64
sy22_% Economically Disadvantaged                                                                           float64
sy22_Nonprofit Organization                                                                                  object
sy22_Charter Type                                                                                            object
sy22_School System Roll Up Type                                                                              object
sy22_2021 % Mastery+ Grades 3-8                                                                               int64
sy22_2022 % Mastery+ Grades 3-8                                                                               int64
sy22_2021-2022 % Mastery+ Change Grades 3-8                                                                   int64
sy22_2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology                  int64
sy22_2022 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology                  int64
sy22_2021-2022 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology      int64
dtype: object

In [166]:
#Dropping 3 alternative schools from final table as per task instructions
#Drop 360001, 360002, and 036132 from analysis from final table

sy19to22_final = sy19to22_final.loc[~((sy19to22_final['2022_School_Code'] == '360001') | (sy19to22_final['2022_School_Code'] == '360002') | 
                               (sy19to22_final['2022_School_Code'] == '036132'))]

In [167]:
sy19to22_final.shape
#Confirmed that 3 alternative schools are dropped

(85, 124)

In [168]:
cols_list = sy19to22_final.columns.tolist()
cols_list

['2022_School_Code',
 'School_Name',
 'sy19_Total Students',
 'sy19_%Female',
 'sy19_%Male',
 'sy19_AmInd',
 'sy19_Asian',
 'sy19_Black',
 'sy19_Hispanic',
 'sy19_HawPI',
 'sy19_White',
 'sy19_Multiple',
 'sy19_Minority',
 'sy19_%Fully-EP',
 'sy19_%LEP',
 'sy19_Infants SpEd',
 'sy19_PreSchool SpEd',
 'sy19_PreK',
 'sy19_Kindergarten',
 'sy19_Grade1',
 'sy19_Grade2',
 'sy19_Grade3',
 'sy19_Grade4',
 'sy19_Grade5',
 'sy19_Grade6',
 'sy19_Grade7',
 'sy19_Grade8',
 'sy19_Grade9',
 'sy19_GradeT9',
 'sy19_Grade10',
 'sy19_Grade11',
 'sy19_Grade12',
 'sy19_ED%',
 'sy19_Nonprofit',
 'sy19_Charter Type',
 'sy19_RollUpType',
 'sy19_2018 % Mastery+ Grades 3-8',
 'sy19_2019 % Mastery+ Grades 3-8',
 'sy19_2018-2019 % Mastery+ Change Grades 3-8',
 'sy19_2018 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History',
 'sy19_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History',
 'sy19_2018-2019 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History',
 'sy21_Total Enrollment',
 'sy21_% Female',
 'sy21_% Male',
 'sy21_American Indian',
 'sy21_Asian',
 'sy21_Black',
 'sy21_Hispanic',
 'sy21_Hawaiian/Pacific Islander',
 'sy21_White',
 'sy21_Multiple Races (Non-Hispanic)',
 'sy21_Minority',
 'sy21_% Fully English Proficient',
 'sy21_% Limited English Proficient',
 'sy21_Infants (Sp Ed)',
 'sy21_Pre-School (Sp Ed)',
 'sy21_Pre-K (Reg Ed)',
 'sy21_Kindergarten',
 'sy21_Grade 1',
 'sy21_Grade 2',
 'sy21_Grade 3',
 'sy21_Grade 4',
 'sy21_Grade 5',
 'sy21_Grade 6',
 'sy21_Grade 7',
 'sy21_Grade 8',
 'sy21_Grade 9',
 'sy21_Grade T9',
 'sy21_Grade 10',
 'sy21_Grade 11',
 'sy21_Grade 12',
 'sy21_Extension Academy',
 'sy21_% Economically Disadvantaged',
 'sy21_Nonprofit Organization',
 'sy21_Charter Type',
 'sy21_School System Roll Up Type',
 'sy21_2019 % Mastery+ Grades 3-8',
 'sy21_2021 % Mastery+ Grades 3-8',
 'sy21_2019-2021 % Mastery+ Change Grades 3-8',
 'sy21_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology',
 'sy21_2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology',
 'sy21_2019-2021 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology',
 'sy22_Total Enrollment',
 'sy22_% Female',
 'sy22_% Male',
 'sy22_American Indian',
 'sy22_Asian',
 'sy22_Black',
 'sy22_Hispanic',
 'sy22_Hawaiian/Pacific Islander',
 'sy22_White',
 'sy22_Multiple Races (Non-Hispanic)',
 'sy22_Minority',
 'sy22_% Fully English Proficient',
 'sy22_% Limited English Proficient',
 'sy22_Infants (Sp Ed)',
 'sy22_Pre-School (Sp Ed)',
 'sy22_Pre-K (Reg Ed)',
 'sy22_Kindergarten',
 'sy22_Grade 1',
 'sy22_Grade 2',
 'sy22_Grade 3',
 'sy22_Grade 4',
 'sy22_Grade 5',
 'sy22_Grade 6',
 'sy22_Grade 7',
 'sy22_Grade 8',
 'sy22_Grade 9',
 'sy22_Grade T9',
 'sy22_Grade 10',
 'sy22_Grade 11',
 'sy22_Grade 12',
 'sy22_Extension Academy',
 'sy22_% Economically Disadvantaged',
 'sy22_Nonprofit Organization',
 'sy22_Charter Type',
 'sy22_School System Roll Up Type',
 'sy22_2021 % Mastery+ Grades 3-8',
 'sy22_2022 % Mastery+ Grades 3-8',
 'sy22_2021-2022 % Mastery+ Change Grades 3-8',
 'sy22_2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology',
 'sy22_2022 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology',
 'sy22_2021-2022 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology']

In [169]:
#Make 3-8 enrollment totals for all 3 years 
sy19to22_final['sy19_gr3_8_pop'] = sy19to22_final['sy19_Grade3']+sy19to22_final['sy19_Grade4'] +sy19to22_final['sy19_Grade5']+sy19to22_final['sy19_Grade6']+sy19to22_final['sy19_Grade7']+sy19to22_final['sy19_Grade8']
sy19to22_final['sy21_gr3_8_pop'] = sy19to22_final['sy21_Grade 3']+sy19to22_final['sy21_Grade 4'] +sy19to22_final['sy21_Grade 5']+sy19to22_final['sy21_Grade 6']+sy19to22_final['sy21_Grade 7']+sy19to22_final['sy21_Grade 8']
sy19to22_final['sy22_gr3_8_pop'] = sy19to22_final['sy22_Grade 3']+sy19to22_final['sy22_Grade 4'] +sy19to22_final['sy22_Grade 5']+sy19to22_final['sy22_Grade 6']+sy19to22_final['sy22_Grade 7']+sy19to22_final['sy22_Grade 8']

In [170]:
#Multiply percent columns by 100 so everything is in scale
to_multiply = ['sy19_%Female','sy19_%Male','sy19_%Fully-EP','sy19_%LEP','sy19_ED%',
                            'sy21_% Female','sy21_% Male','sy21_% Fully English Proficient','sy21_% Limited English Proficient',
                            'sy21_% Economically Disadvantaged','sy22_% Female','sy22_% Male','sy22_% Fully English Proficient',
                            'sy22_% Limited English Proficient','sy22_% Economically Disadvantaged']

#sy19to22_final = sy19to22_final['']
for column in sy19to22_final.columns: 
    if column in to_multiply: 
        sy19to22_final[column] = sy19to22_final[column] * 100

In [171]:
#Renaming some columns for brevity
sy19to22_final = sy19to22_final.rename(columns={'sy19_2019 % Mastery+ Grades 3-8':'SY19_%Mastery_3-8',
                                                'sy21_2021 % Mastery+ Grades 3-8': 'SY21_%Mastery_3-8',
                                               'sy22_2022 % Mastery+ Grades 3-8': 'SY22_%Mastery_3-8',
                                               'sy21_% Economically Disadvantaged':'sy21_ed%',
                                               'sy22_% Economically Disadvantaged': 'sy22_ed%'})

In [177]:
#Add average Mastery rate for all three years 
sy19to22_final['3year_mastery_avg_3-8'] = sy19to22_final[['SY19_%Mastery_3-8','SY21_%Mastery_3-8','SY22_%Mastery_3-8']].mean(axis=1)

<ipython-input-177-11e80c15f23f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sy19to22_final['3year_mastery_avg'] = sy19to22_final[['SY19_%Mastery_3-8','SY21_%Mastery_3-8','SY22_%Mastery_3-8']].mean(axis=1)

In [180]:
#Bring 3-8 Mastery rates to front of dataframe
cols_to_move = ['2022_School_Code', 'School_Name','SY19_%Mastery_3-8','sy19_ED%','sy19_gr3_8_pop',
                'SY21_%Mastery_3-8','sy21_ed%','sy21_gr3_8_pop',
               'SY22_%Mastery_3-8','sy22_ed%','sy22_gr3_8_pop','3year_mastery_avg']

sy19to22_final = sy19to22_final[cols_to_move + [col for col in sy19to22_final if col not in cols_to_move]]

In [181]:
sy19to22_final.head()

,2022_School_Code,School_Name,SY19_%Mastery_3-8,sy19_ED%,sy19_gr3_8_pop,SY21_%Mastery_3-8,sy21_ed%,sy21_gr3_8_pop,SY22_%Mastery_3-8,sy22_ed%,sy22_gr3_8_pop,3year_mastery_avg,sy19_Total Students,sy19_%Female,sy19_%Male,sy19_AmInd,sy19_Asian,sy19_Black,sy19_Hispanic,sy19_HawPI,sy19_White,sy19_Multiple,sy19_Minority,sy19_%Fully-EP,sy19_%LEP,sy19_Infants SpEd,sy19_PreSchool SpEd,sy19_PreK,sy19_Kindergarten,sy19_Grade1,sy19_Grade2,sy19_Grade3,sy19_Grade4,sy19_Grade5,sy19_Grade6,sy19_Grade7,sy19_Grade8,sy19_Grade9,sy19_GradeT9,sy19_Grade10,sy19_Grade11,sy19_Grade12,sy19_Nonprofit,sy19_Charter Type,sy19_RollUpType,sy19_2018 % Mastery+ Grades 3-8,sy19_2018-2019 % Mastery+ Change Grades 3-8,sy19_2018 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy19_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy19_2018-2019 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History,sy21_Total Enrollment,sy21_% Female,sy21_% Male,sy21_American Indian,sy21_Asian,sy21_Black,sy21_Hispanic,sy21_Hawaiian/Pacific Islander,sy21_White,sy21_Multiple Races (Non-Hispanic),sy21_Minority,sy21_% Fully English Proficient,sy21_% Limited English Proficient,sy21_Infants (Sp Ed),sy21_Pre-School (Sp Ed),sy21_Pre-K (Reg Ed),sy21_Kindergarten,sy21_Grade 1,sy21_Grade 2,sy21_Grade 3,sy21_Grade 4,sy21_Grade 5,sy21_Grade 6,sy21_Grade 7,sy21_Grade 8,sy21_Grade 9,sy21_Grade T9,sy21_Grade 10,sy21_Grade 11,sy21_Grade 12,sy21_Extension Academy,sy21_Nonprofit Organization,sy21_Charter Type,sy21_School System Roll Up Type,sy21_2019 % Mastery+ Grades 3-8,sy21_2019-2021 % Mastery+ Change Grades 3-8,sy21_2019 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy21_2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy21_2019-2021 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy22_Total Enrollment,sy22_% Female,sy22_% Male,sy22_American Indian,sy22_Asian,sy22_Black,sy22_Hispanic,sy22_Hawaiian/Pacific Islander,sy22_White,sy22_Multiple Races (Non-Hispanic),sy22_Minority,sy22_% Fully English Proficient,sy22_% Limited English Proficient,sy22_Infants (Sp Ed),sy22_Pre-School (Sp Ed),sy22_Pre-K (Reg Ed),sy22_Kindergarten,sy22_Grade 1,sy22_Grade 2,sy22_Grade 3,sy22_Grade 4,sy22_Grade 5,sy22_Grade 6,sy22_Grade 7,sy22_Grade 8,sy22_Grade 9,sy22_Grade T9,sy22_Grade 10,sy22_Grade 11,sy22_Grade 12,sy22_Extension Academy,sy22_Nonprofit Organization,sy22_Charter Type,sy22_School System Roll Up Type,sy22_2021 % Mastery+ Grades 3-8,sy22_2021-2022 % Mastery+ Change Grades 3-8,sy22_2021 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy22_2022 % Mastery+ Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology,sy22_2021-2022 % Mastery+ Change Grades 3-8 & English I-II & Algebra I & Geometry & US History & Biology
0,036011,Mary Bethune Elementary Literature/Technology,33,81.83,412.00,17,85.47,442,20,92.70,443,23.33,688.00,52.18,47.82,0.00,2.00,669.00,15.00,0.00,2.00,0.00,686.00,98.55,1.45,0.00,2.00,38.00,78.00,78.00,80.00,81.00,79.00,82.00,54.00,55.00,61.00,0.00,0.00,0.00,0.00,0.00,0,0,R36,31,2,31,34,3,709,51.62,48.38,0,0,692,17,0,0,0,709,98.87,1.13,0,6,32,76,75,78,78,78,76,78,79,53,0,0,0,0,0,0,"Significant Educators, Inc.",Type 3,R36,30,-13,30,17,-13,699,51.36,48.64,0,0,678,20,1,0,0,699,98.14,1.86,0,8,32,70,74,72,66,70,77,74,78,78,0,0,0,0,0,0,"Significant Educators, Inc.",Type 3,R36,17,3,17,21,4
1,036088,McDonogh #35 College Preparatory School,0,88.76,0.00,0,83.59,0,0,0.00,0,0.00,445.00,44.27,55.73,0.00,1.00,442.00,2.00,0.00,0.00,0.00,445.00,99.55,0.45,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,10.00,0.00,146.00,107.00,182.00,0,0,R36,0,0,9,8,-1,128,44.53,55.47,0,0,127,1,0,0,0,128,99.22,0.78,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,127,0,0,0,R36,0,0,7,5,-10,0,0.00,0.00,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,036161,Benjamin Franklin Elem. Math and Science,35,75.16,521.00,15,84.28,515,19,90.04,520,23.00,797.00,49.44,50.56,2.00,7.00,742.00,13.00,2.00,24.00,7.00,773.00,98.49,1.51,0.00,26.00,16.00,74.00,78.00,82.00,82.00,83.00,88.00,93.00,87.00,88.00,0.00,0.00,0.00,0.00,0.00,0,0,R36,33,2,33,36,3,757,46.90,53.10,0,4,719,12,1,13,8,744,99.60,0.40,0,6,13,71,73,79,81,82,87,85,91,89,0,0,0,0,0,0,"Legacy of Excellence, Inc.",Type 3,R36,30,-15,31,15,-16,753,46.08,53.92,0,4,710,18,1,13,7,740,99.20,0.80,0,3,13,73,66,78,83,81,84,87,86,99,0,0,0,0,0,0,"Legacy of Excellence, Inc.",Type 3,R36,15,4,15,20,5
4,036193,Cypress Academy,35,68.48,73.00,0,0.00,0,0,0.00,0,11.67,184.00,42.93,57.07,0.00,1.00,93.00,26.00,0.00,56.00,8.00,128.00,95.11,4.89,0.00,0.00,0.00,41.00,34.00,36.00,45.00,28.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Cypress Academy,Type 1,R36,37,-2,37,35,-2,0,0.00,0.00,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,300002,Nelson Elementary School,11,100.00,192.00,0,0.00,0,0,0.00,0,3.67,277.00,44.04,55.96,7.00,1.00,265.00,4.00,0.00,0.00,0.00,277.00,98.19,1.81,0.00,0.00,19.00,17.00,26.00,23.00,21.00,32.00,36.00,27.00,40.00,36.00,0.00,0.00,0.00,0.00,0.00,New Beginnings Schools Foundation,Type 3B,R36,10,1,10,11,1,0,0.00,0.00,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### V. Answering Question 1

In [183]:
sy19_gr3_8_pop = sy19to22_final.loc[sy19to22_final['sy19_gr3_8_pop'] != 0]
print(sy19_gr3_8_pop.shape)

(54, 128)

54 schools served students in grades 3-8 in 2019.

In [184]:
sy21_gr3_8_pop = sy19to22_final.loc[sy19to22_final['sy21_gr3_8_pop'] != 0]
print(sy21_gr3_8_pop.shape)

(50, 128)

50 schools served students in grades 3-8 in 2021.

In [186]:
sy22_gr3_8_pop = sy19to22_final.loc[sy19to22_final['sy22_gr3_8_pop'] != 0]
print(sy22_gr3_8_pop.shape)

(50, 128)

...and 50 schools served students in grades 3-8 in 2022.

In [190]:
#Saving final table as an Excel spreadsheet 
sy19to22_final.to_excel('final_table.xlsx')

In [191]:
#Creating subset file of just the grade 3-8 data, for visualization 
grade_3_8_table_1 = sy19_gr3_8_pop.append(sy21_gr3_8_pop)

In [193]:
grade_3_8_table_2 = grade_3_8_table_1.append(sy22_gr3_8_pop)
print(grade_3_8_table_2.shape)

(154, 128)

In [194]:
grade_3_8_table_2.to_excel('leap_table.xlsx')

### VI. Answering Question 5

In terms of considerations, caveats, and assumptions, I didn't individually Google all the schools whose school name was also their "School System Name" in the multistat files. I checked Lycee Francais and confirmed it to be a Type 2 charter, so I assumed all the others were Type 2 charters, but did not check each one. 

I would advise anyone using this code to review the "School System Name" lists and make sure that the table does not exclude schools they would like to include - especially if they are looking at schools outside of Orleans Parish. I am also unsure how fluid this Type 2 category is (do schools move between Type 1 and Type 2 from year to year?), so colleagues should exercise caution and double-check the status of the schools they are interested in to ensure that they aren't leaving out relevant data. 

In addition, use the three-year Mastery averages with caution. Right now, the schools who enrolled students for fewer than three years (for example, a school that did not open until 2020) have Mastery averages that are artifically lowered, as there are zeroes for the years in which that school did not enroll students. These zeroes bring down the total average considerably. Given more time, I can come up with solutions for imputing the data with another character and re-doing the calculations for this subset of schools. 

Lastly, I am unsure how to treat schools that have multiple campuses (for example, Hynes). Each campus seems to have its own specific site codes, but more discussion may be needed on if this data for multiple capuses should be averaged together, etc. for accountability purposes.